In [112]:
import numpy as np
import pandas as pd
import os
import unicodedata

## Data Loading
### focus on journals related to finance, economics, management, etc., specifically:
<ol>
  <li>from CABS file use all journals in spreadsheet “CABS 2021”</li>
  <li>from JCR files use all journals in spreadsheets: BUSINESS, BUSINESS, FINANCE, ECONOMICS, MANAGEMENT
</li>
  <li>from “Wykaz…” files use the journals from the following:
ekonomia i finanse		nauki o zarządzaniu i jakości
501		506;
Use only spreadsheet “czasopisma naukowe”
</li>
</ol>

Note that if the journal appears at least in one of the source, it has to be taken into account

In [113]:
# Specify the directory containing your Excel files
directory_path = 'source files'

# Get a list of all Excel files in the directory
excel_files = [file for file in os.listdir(directory_path) if file.endswith('.xlsx')]

# Create dictionaries to store loaded data frames for CABS, JCR, and WYKAZ
cabs_data = {}
jcr_data = {}
wykaz_data = {}

# Load from CABS file
cabs_file = [file for file in excel_files if "CABS" in file][0]
cabs_sheet = "CABS 2021"
cabs_file_path = os.path.join(directory_path, cabs_file)
try:
    cabs_df = pd.read_excel(cabs_file_path, sheet_name=cabs_sheet)
    cabs_data[cabs_file] = cabs_df
except Exception as e:
    print(f"Error loading {cabs_file}: {e}")

# Load from JCR files
jcr_files = [file for file in excel_files if "JCR" in file]
for jcr_file in jcr_files:
    jcr_file_path = os.path.join(directory_path, jcr_file)
    try:
        jcr_data[jcr_file] = pd.read_excel(jcr_file_path, sheet_name=None)
    except Exception as e:
        print(f"Error loading {jcr_file}: {e}")

# Load from files containing the word “Wykaz”
wykaz_files = [file for file in excel_files if "Wykaz" in file]
for wykaz_file in wykaz_files:
    wykaz_file_path = os.path.join(directory_path, wykaz_file)
    try:
        wykaz_df = None
        with pd.ExcelFile(wykaz_file_path) as xls:
            for sheet_name in xls.sheet_names:
                if "czasopisma" in sheet_name.lower():
                    wykaz_df = pd.read_excel(wykaz_file_path, sheet_name=sheet_name, engine='openpyxl')

                    wykaz_data[wykaz_file] = wykaz_df
                    break
        if wykaz_df is None:
            print(f"No sheet containing 'czasopisma' found in {wykaz_file}")
    except Exception as e:
        print(f"Error loading {wykaz_file}: {e}")

# Print the dictionaries
print("CABS Data:")
print(cabs_data.keys())

print("\nJCR Data:")
print(jcr_data.keys())

print("\nWYKAZ Data:")
print(wykaz_data.keys())

CABS Data:
dict_keys(['CABS Journal Ranking 2021.xlsx'])

JCR Data:
dict_keys(['JCR_2021_ALL.xlsx', 'JCR_2022_ALL.xlsx'])

WYKAZ Data:
dict_keys(['20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx', '20240105_Wykaz_czasopism_naukowych_2024_styczeń.xlsx', 'Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx'])

In [114]:
# Drop 'ALL' key from jcr_data['JCR_2022_ALL.xlsx']
if 'JCR_2022_ALL.xlsx' in jcr_data:
    jcr_data['JCR_2022_ALL.xlsx'].pop('ALL', None)

In [115]:
# Replace preceeding column names with true column names
def process_dataframes(dictionary_name, data_dict):
    for file_name, data_frame in data_dict.items():
        # Check if 'issn' is present in any column name (case-insensitive)
        has_issn_column = any('issn' in str(col).lower() for col in data_frame.columns)

        if not has_issn_column:
            # Make the first row the column names
            data_frame.columns = data_frame.iloc[0]
            data_frame = data_frame[1:]  # Exclude the first row after using it as column names

            # Reset the index after excluding the first row
            data_frame.reset_index(drop=True, inplace=True)

            # Update the dataframe in the dictionary
            data_dict[file_name] = data_frame

    print(f"Processed {dictionary_name} data frames.")

process_dataframes('WYKAZ', wykaz_data)

Processed WYKAZ data frames.

In [116]:
# Rename duplicate and inconsistent column names
def rename_duplicate_columns_in_dict(data_dict):
    for df_name, df in data_dict.items():
        column_count = {}
        new_columns = []

        for column in df.columns:
            if column not in column_count:
                column_count[column] = 1
                new_column = column
            else:
                column_count[column] += 1
                new_column = f"{column}{column_count[column]}"

            new_columns.append(new_column)

        df.columns = new_columns

        # Change 'issn.1' to 'issn2' and 'e-issn.1' to 'e-issn2'
        if 'issn.1' in df.columns:
            df.rename(columns={'issn.1': 'issn2', 'e-issn.1': 'e-issn2'}, inplace=True)

        # Change 'Punktacja' to 'Punkty'
        if 'Punktacja' in df.columns:
            df.rename(columns={'Punktacja': 'Points Jan24'}, inplace=True)

        data_dict[df_name] = df

    return data_dict

# Call the function to rename duplicate columns in all DataFrames
rename_duplicate_columns_in_dict(wykaz_data)

{'20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx':          Lp.  Unikatowy Identyfikator Czasopisma  \
 0          1                                   1
 1          2                                   2
 2          3                                   3
 3          4                                   4
 4          5                                   5
 ...      ...                                 ...
 32671  32672                              201488
 32672  32673                              201489
 32673  32674                              201490
 32674  32675                              201491
 32675  32676                              201492

                                                  Tytuł 1       issn  \
 0                                           2D Materials  2053-1583
 1                                              3 Biotech  2190-572X
 2                                             3C Empresa  2254-3376
 3                                          3c Tecnologia  2254-4143
 4                                                 3C Tic  2254-6529
 ...                                                  ...        ...
 32671                                              Semen  1957-780X
 32672                            Państwo i Społeczeństwo  1643-8299
 32673                                      Niepodległość  0272-0280
 32674  Advances in Science and Technology Research Jo...  2080-4075
 32675                                     De Re Militari  2392-3911

           e-issn       Tytuł 2      issn2    e-issn2 Punkty  101  ...  510  \
 0      2053-1583  2D Materials        NaN  2053-1583    140  NaN  ...  NaN
 1      2190-5738     3 Biotech  2190-572X  2190-5738     70  NaN  ...  NaN
 2      2254-3376           NaN        NaN        NaN     20  NaN  ...  NaN
 3      2254-4143           NaN        NaN        NaN     20  NaN  ...  NaN
 4      2254-6529           NaN        NaN        NaN     20  NaN  ...  NaN
 ...          ...           ...        ...        ...    ...  ...  ...  ...
 32671        NaN           NaN        NaN        NaN     20  NaN  ...  NaN
 32672        NaN           NaN        NaN        NaN     40  NaN  ...  NaN
 32673        NaN           NaN        NaN        NaN     70  NaN  ...  NaN
 32674        NaN           NaN        NaN        NaN    100  NaN  ...  NaN
 32675        NaN           NaN        NaN        NaN     20  NaN  ...  NaN

        511  601  602  603  604  605  606  607  701
 0      NaN  NaN  NaN  NaN  NaN    x    x  NaN  NaN
 1      NaN  NaN  NaN  NaN    x  NaN  NaN  NaN  NaN
 2      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 3      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 4      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 ...    ...  ...  ...  ...  ...  ...  ...  ...  ...
 32671  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 32672    x  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 32673  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 32674  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 32675  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

 [32676 rows x 53 columns],
 '20240105_Wykaz_czasopism_naukowych_2024_styczeń.xlsx':          Lp. Unikatowy Identyfikator Czasopisma  \
 0          1                                  1
 1          2                                  2
 2          3                                  3
 3          4                                  4
 4          5                                  5
 ...      ...                                ...
 34083  34084                             503644
 34084  34085                             493586
 34085  34086                             502816
 34086  34087                             504805
 34087  34088                             504128

                                                  Tytuł 1       issn  \
 0                                           2D Materials  2053-1583
 1                                              3 Biotech  2190-572X
 2                                             3C Empresa  2254-3376
 3                                          3c Tecnologia  2254-4143
 4                                                 3C Tic  2254-6529
 ...                                                  ...        ...
 34083                    Studia Capuccinorum Boziniensia  2585-8025
 34084                                 Teologický časopis  1336-3395
 34085                       Studia Teologii Dogmatycznej  2449-7452
 34086  Zeszty Naukowe Wyższej Szkoły Ekonomiczno-Spol...  2391-9167
 34087  Rocznik Muzeum „Górnośląski Park Etnograficzny...  2353-2734

           e-issn                                            Tytuł 2  \
 0      2053-1583                                       2D Materials
 1      2190-5738                                          3 Biotech
 2      2254-3376                                                NaN
 3      2254-4143                                                NaN
 4      2254-6529                                                NaN
 ...          ...                                                ...
 34083        NaN                    Studia Capuccinorum Boziniensia
 34084        NaN                                 Teologický časopis
 34085        NaN                   The Studies in Dogmatic Theology
 34086        NaN               WSES Scientific Studies in Ostroleka
 34087        NaN  Yearbook of the Museum “Upper Silesian Ethnogr...

            issn2    e-issn2 Points Jan24  101  ...  608  602  603  604  605  \
 0            NaN  2053-1583          140  NaN  ...    x  NaN  NaN  NaN    x
 1      2190-572X  2190-5738           70  NaN  ...    x  NaN  NaN    x  NaN
 2            NaN        NaN           20  NaN  ...  NaN  NaN  NaN  NaN  NaN
 3            NaN        NaN           20  NaN  ...  NaN  NaN  NaN  NaN  NaN
 4            NaN        NaN           20  NaN  ...  NaN  NaN  NaN  NaN  NaN
 ...          ...        ...          ...  ...  ...  ...  ...  ...  ...  ...
 34083        NaN        NaN           20  NaN  ...  NaN  NaN  NaN  NaN  NaN
 34084        NaN        NaN           20  NaN  ...  NaN  NaN  NaN  NaN  NaN
 34085        NaN        NaN           20  NaN  ...  NaN  NaN  NaN  NaN  NaN
 34086        NaN        NaN           20  NaN  ...  NaN  NaN  NaN  NaN  NaN
 34087        NaN        NaN           20    x  ...  NaN  NaN  NaN  NaN  NaN

        606  607  702  701 1001
 0        x  NaN  NaN  NaN  NaN
 1      NaN  NaN  NaN  NaN  NaN
 2      NaN  NaN  NaN  NaN  NaN
 3      NaN  NaN  NaN  NaN  NaN
 4      NaN  NaN  NaN  NaN  NaN
 ...    ...  ...  ...  ...  ...
 34083  NaN  NaN  NaN  NaN  NaN
 34084  NaN  NaN  NaN  NaN  NaN
 34085  NaN  NaN    x    x  NaN
 34086  NaN  NaN  NaN  NaN  NaN
 34087  NaN  NaN  NaN  NaN  NaN

 [34088 rows x 61 columns],
 'Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx':            Lp.   Unikatowy Identyfikator Czasopisma                   Tytuł 1  \
 0          1.0                                  1.0              2D Materials
 1          2.0                                  2.0                 3 Biotech
 2          3.0                                  3.0                3C Empresa
 3          4.0                                  4.0             3c Tecnologia
 4          5.0                                  5.0                    3C Tic
 ...        ...                                  ...                       ...
 31429  31426.0                             498871.0                  Probacja
 31430  31429.0                             499029.0    Open Political Science
 31431  31430.0                             499067.0            Językoznawstwo
 31432  31431.0                             499108.0  Człowiek i Społeczeństwo
 31433  31432.0                             499116.0                 Com.press

             issn     e-issn          Tytuł 2      issn2    e-issn2  Punkty  \
 0      2053-1583  2053-1583     2D Materials        NaN  2053-1583   140.0
 1      2190-572X  2190-5738        3 Biotech  2190-572X  2190-5738    70.0
 2      2254-3376  2254-3376              NaN        NaN        NaN    20.0
 3      2254-4143  2254-4143              NaN        NaN        NaN    20.0
 4      2254-6529  2254-6529              NaN        NaN        NaN    20.0
 ...          ...        ...              ...        ...        ...     ...
 31429  1689-6122        NaN              NaN        NaN        NaN    20.0
 31430             2543-8042              NaN        NaN        NaN    20.0
 31431  1897-0389  2391-5137      Linguistics        NaN        NaN    20.0
 31432  0239-3271             Man and Society        NaN        NaN    40.0
 31433             2545-2320              NaN        NaN        NaN    20.0

        101  ...  510  511  601  602  603  604  605  606  607  701
 0      NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN    x    x  NaN  NaN
 1      NaN  ...  NaN  NaN  NaN  NaN  NaN    x  NaN  NaN  NaN  NaN
 2      NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 3      NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 4      NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 ...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 31429  NaN  ...  NaN    x  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 31430  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 31431  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 31432  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 31433  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

 [31434 rows x 53 columns]}

In [117]:
# Rename Punkty columns to reflect date
def rename_columns_in_wykaz_data(data_dict):
    for df_name, df in data_dict.items():
        # Check if the DataFrame is the specific one
        if df_name == "20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx":
            # Check if 'Punkty' column exists
            if 'Punkty' in df.columns:
                # Rename 'Punkty' column
                df.rename(columns={'Punkty': 'Points Dec21'}, inplace=True)
        elif df_name == "Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx":
            # Check if 'Punkty' column exists
            if 'Punkty' in df.columns:
                # Rename 'Punkty' column
                df.rename(columns={'Punkty': 'Points Feb21'}, inplace=True)

    return data_dict

wykaz_data = rename_columns_in_wykaz_data(wykaz_data)

### Wykaz Files
Extracting the required data to create a united dataframe out of all files

In [118]:
# Create a single DataFrame from all Wykaz files
wykaz_df = pd.DataFrame(columns=['Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 501, 506])

# Extract data from Wykaz files for categories 501 and 506
for file_name, file_data in wykaz_data.items():
    for column in file_data.columns:
        if column in [501, 506]:
            # Find all 'Points' columns in the DataFrame
            points_columns = [col for col in file_data.columns if isinstance(col, str) and col.startswith('Points')]

            # Create the list of selected columns
            selected_columns = ['Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 501, 506] + points_columns

            # Print the actual column names in the DataFrame
            print(f"Actual Column Names in {file_name}: {file_data.columns.tolist()}")

            selected_data = file_data[file_data[column] == 'x'][selected_columns]

            # Print the selected data to see if the columns are present
            print(f"Selected Data for {file_name}:\n{selected_data.head()}")

            wykaz_df = pd.concat([wykaz_df, selected_data])

# Deduplicate the resulting DataFrame
wykaz_df = wykaz_df.drop_duplicates()

# Replace various representations of missing values in 'issn' and 'e-issn' with NaN
missing_values = ['', '         ', 'NA', 'N/A', 'NaN', 'nan', None]
wykaz_df['issn'].replace(missing_values, np.nan, inplace=True)
wykaz_df['e-issn'].replace(missing_values, np.nan, inplace=True)

# Fill NaN values in 'Tytuł 1', 'issn', 'e-issn' with values from 'Tytuł 2', 'issn2', 'e-issn2' respectively
wykaz_df['Tytuł 1'].fillna(wykaz_df['Tytuł 2'], inplace=True)
wykaz_df['issn'].fillna(wykaz_df['issn2'], inplace=True)
wykaz_df['e-issn'].fillna(wykaz_df['e-issn2'], inplace=True)

# Drop the 'Tytuł 2', 'issn2', 'e-issn2' columns
wykaz_df = wykaz_df.drop(columns=['Tytuł 2', 'issn2', 'e-issn2'])

# Display the resulting Wykaz DataFrame
print("Wykaz DataFrame:")
wykaz_df

Actual Column Names in 20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx: ['Lp.', ' Unikatowy Identyfikator Czasopisma', 'Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Points Dec21', 101, 102, 103, 104, 105, 106, 107, 201, 202, 203, 204, 205, 206, 207, 208, 209, 301, 302, 303, 304, 401, 402, 403, 404, 405, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 601, 602, 603, 604, 605, 606, 607, 701]
Selected Data for 20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx:
                                              Tytuł 1       issn     e-issn  \
9      4OR-A Quarterly Journal of Operations Research  1619-4500  1614-2411
22  Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
54                             Accounting and Finance  0810-5391  1467-629X
56           Accounting Economics and Law-A Convivium  2194-6051  2152-2820
67                                  ACCOUNTING REVIEW  0001-4826  1558-7967

                          Tytuł 2      issn2    e-issn2 501 506 Points Dec21
9                             4OR  1619-4500  1614-2411   x   x           70
22                         Abacus  0001-3072        NaN   x   x           70
54         Accounting and Finance  0810-5391        NaN   x   x           70
56  Accounting, Economics and Law        NaN  2152-2820   x   x           70
67              Accounting Review  0001-4826        NaN   x   x          200
Actual Column Names in 20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx: ['Lp.', ' Unikatowy Identyfikator Czasopisma', 'Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Points Dec21', 101, 102, 103, 104, 105, 106, 107, 201, 202, 203, 204, 205, 206, 207, 208, 209, 301, 302, 303, 304, 401, 402, 403, 404, 405, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 601, 602, 603, 604, 605, 606, 607, 701]
Selected Data for 20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx:
                                              Tytuł 1       issn     e-issn  \
2                                          3C Empresa  2254-3376  2254-3376
9      4OR-A Quarterly Journal of Operations Research  1619-4500  1614-2411
22  Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
42                       Academy of Management Annals  1941-6520  1941-6067
43                  Academy of Management Discoveries  2168-1007  2168-1007

                         Tytuł 2      issn2    e-issn2  501 506 Points Dec21
2                            NaN        NaN        NaN  NaN   x           20
9                            4OR  1619-4500  1614-2411    x   x           70
22                        Abacus  0001-3072        NaN    x   x           70
42  Academy of Management Annals  1941-6520  1941-6067  NaN   x          200
43                           NaN        NaN        NaN  NaN   x          100
Actual Column Names in 20240105_Wykaz_czasopism_naukowych_2024_styczeń.xlsx: ['Lp.', 'Unikatowy Identyfikator Czasopisma', 'Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Points Jan24', 101, 108, 102, 103, 104, 105, 106, 107, 109, 201, 2021, 203, 210, 204, 205, 2061, 207, 208, 209, 305, 301, 302, 303, 304, 901, 401, 402, 403, 405, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 601, 608, 602, 603, 604, 605, 606, 607, 702, 701, 1001]
Selected Data for 20240105_Wykaz_czasopism_naukowych_2024_styczeń.xlsx:
                                              Tytuł 1       issn     e-issn  \
9      4OR-A Quarterly Journal of Operations Research  1619-4500  1614-2411
22  Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
54                             Accounting and Finance  0810-5391  1467-629X
56           Accounting Economics and Law-A Convivium  2194-6051  2152-2820
67                                  ACCOUNTING REVIEW  0001-4826  1558-7967

                          Tytuł 2      issn2    e-issn2 501 506 Points Jan24
9                             4OR  1619-4500  1614-2411   x   x           70
22                         Abacus  0001-3072        NaN   x   x           70
54         Accounting and Finance  0810-5391        NaN   x   x           70
56  Accounting, Economics and Law        NaN  2152-2820   x   x           70
67              Accounting Review  0001-4826        NaN   x   x          200
Actual Column Names in 20240105_Wykaz_czasopism_naukowych_2024_styczeń.xlsx: ['Lp.', 'Unikatowy Identyfikator Czasopisma', 'Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Points Jan24', 101, 108, 102, 103, 104, 105, 106, 107, 109, 201, 2021, 203, 210, 204, 205, 2061, 207, 208, 209, 305, 301, 302, 303, 304, 901, 401, 402, 403, 405, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 601, 608, 602, 603, 604, 605, 606, 607, 702, 701, 1001]
Selected Data for 20240105_Wykaz_czasopism_naukowych_2024_styczeń.xlsx:
                                              Tytuł 1       issn     e-issn  \
2                                          3C Empresa  2254-3376  2254-3376
9      4OR-A Quarterly Journal of Operations Research  1619-4500  1614-2411
22  Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
42                       Academy of Management Annals  1941-6520  1941-6067
43                  Academy of Management Discoveries  2168-1007  2168-1007

                         Tytuł 2      issn2    e-issn2  501 506 Points Jan24
2                            NaN        NaN        NaN  NaN   x           20
9                            4OR  1619-4500  1614-2411    x   x           70
22                        Abacus  0001-3072        NaN    x   x           70
42  Academy of Management Annals  1941-6520  1941-6067  NaN   x          200
43                           NaN        NaN        NaN  NaN   x          100
Actual Column Names in Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx: ['Lp.', ' Unikatowy Identyfikator Czasopisma', 'Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Points Feb21', 101, 102, 103, 104, 105, 106, 107, 201, 202, 203, 204, 205, 206, 207, 208, 209, 301, 302, 303, 304, 401, 402, 403, 404, 405, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 601, 602, 603, 604, 605, 606, 607, 701]

Selected Data for Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx:
                                                 Tytuł 1       issn  \
27508     4OR-A Quarterly Journal of Operations Research  1619-4500
27509  Abacus-A Journal of Accounting Finance and Bus...  0001-3072
27510                             Accounting and Finance  0810-5391
27511           Accounting Economics and Law-A Convivium  2194-6051
27512                                  ACCOUNTING REVIEW  0001-4826

          e-issn                        Tytuł 2      issn2    e-issn2 501 506  \
27508  1614-2411                            4OR  1619-4500  1614-2411   x   x
27509  1467-6281                         Abacus  0001-3072        NaN   x   x
27510  1467-629X         Accounting and Finance  0810-5391        NaN   x   x
27511  2152-2820  Accounting, Economics and Law        NaN  2152-2820   x   x
27512  1558-7967              Accounting Review  0001-4826        NaN   x   x

       Points Feb21
27508          70.0
27509          70.0
27510          70.0
27511          70.0
27512         200.0
Actual Column Names in Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx: ['Lp.', ' Unikatowy Identyfikator Czasopisma', 'Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Points Feb21', 101, 102, 103, 104, 105, 106, 107, 201, 202, 203, 204, 205, 206, 207, 208, 209, 301, 302, 303, 304, 401, 402, 403, 404, 405, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 601, 602, 603, 604, 605, 606, 607, 701]
Selected Data for Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx:
                                       Tytuł 1       issn     e-issn  \
2                                   3C Empresa  2254-3376  2254-3376
40                Academy of Management Annals  1941-6520  1941-6067
41           Academy of Management Discoveries  2168-1007  2168-1007
42               ACADEMY OF MANAGEMENT JOURNAL  0001-4273  1948-0989
43  Academy of Management Learning & Education  1537-260X        NaN

                                         Tytuł 2      issn2    e-issn2  501  \
2                                            NaN        NaN        NaN  NaN
40                  Academy of Management Annals  1941-6520  1941-6067  NaN
41                                           NaN        NaN        NaN  NaN
42                 Academy of Management Journal  0001-4273        NaN  NaN
43  Academy of Management Learning and Education  1537-260X        NaN  NaN

   506  Points Feb21
2    x          20.0
40   x         200.0
41   x         100.0
42   x         200.0
43   x         140.0
Wykaz DataFrame:

,Tytuł 1,issn,e-issn,501,506,Points Dec21,Points Jan24,Points Feb21
9,4OR-A Quarterly Journal of Operations Research,1619-4500,1614-2411,x,x,70,NaN,NaN
22,Abacus-A Journal of Accounting Finance and Bus...,0001-3072,1467-6281,x,x,70,NaN,NaN
54,Accounting and Finance,0810-5391,1467-629X,x,x,70,NaN,NaN
56,Accounting Economics and Law-A Convivium,2194-6051,2152-2820,x,x,70,NaN,NaN
67,ACCOUNTING REVIEW,0001-4826,1558-7967,x,x,200,NaN,NaN
...,...,...,...,...,...,...,...,...
31208,Internetowy Kwartalnik Antymonopolowy i Regula...,2299-8837,2299-5749,NaN,x,NaN,NaN,20.0
31235,Humanum. MIędzynarodowe Studia Społeczno-Human...,1898-8431,2450-0313,NaN,x,NaN,NaN,20.0
31259,Problemy Jakości,0137-8651,2449-9862,NaN,x,NaN,NaN,20.0
31277,Społeczeństwo. Edukacja. Język,2353-1266,NaN,NaN,x,NaN,NaN,40.0
31406,Management Forum,NaN,2392-0025,NaN,x,NaN,NaN,20.0

In [119]:
# Replace '*' with 1 in columns 501 and 506
wykaz_df[501] = wykaz_df[501].replace('x', 1)
wykaz_df[506] = wykaz_df[506].replace('x', 1)

# Convert columns to categorical type
wykaz_df[501] = wykaz_df[501].astype('category')
wykaz_df[506] = wykaz_df[506].astype('category')

# Rename columns
wykaz_df = wykaz_df.rename(columns={501: 'ekonomia i finance', 506: 'nauki o zarządzaniu i jakości'})

# Display the resulting DataFrame
print("Updated wykaz_df:")
print(wykaz_df)

Updated wykaz_df:
                                                 Tytuł 1       issn  \
9         4OR-A Quarterly Journal of Operations Research  1619-4500
22     Abacus-A Journal of Accounting Finance and Bus...  0001-3072
54                                Accounting and Finance  0810-5391
56              Accounting Economics and Law-A Convivium  2194-6051
67                                     ACCOUNTING REVIEW  0001-4826
...                                                  ...        ...
31208  Internetowy Kwartalnik Antymonopolowy i Regula...  2299-8837
31235  Humanum. MIędzynarodowe Studia Społeczno-Human...  1898-8431
31259                                   Problemy Jakości  0137-8651
31277                     Społeczeństwo. Edukacja. Język  2353-1266
31406                                   Management Forum        NaN

          e-issn ekonomia i finance nauki o zarządzaniu i jakości  \
9      1614-2411                1.0                           1.0
22     1467-6281                1.0                           1.0
54     1467-629X                1.0                           1.0
56     2152-2820                1.0                           1.0
67     1558-7967                1.0                           1.0
...          ...                ...                           ...
31208  2299-5749                NaN                           1.0
31235  2450-0313                NaN                           1.0
31259  2449-9862                NaN                           1.0
31277        NaN                NaN                           1.0
31406  2392-0025                NaN                           1.0

      Points Dec21 Points Jan24  Points Feb21
9               70          NaN           NaN
22              70          NaN           NaN
54              70          NaN           NaN
56              70          NaN           NaN
67             200          NaN           NaN
...            ...          ...           ...
31208          NaN          NaN          20.0
31235          NaN          NaN          20.0
31259          NaN          NaN          20.0
31277          NaN          NaN          40.0
31406          NaN          NaN          20.0

[13611 rows x 8 columns]

In [120]:
wykaz_df['e-issn'] = wykaz_df['e-issn'].fillna(wykaz_df['issn'])

# Deduplicate wykaz_df based on 'Tytuł 1', 'issn', 'e-issn'
wykaz_df['Tytuł 1'] = wykaz_df['Tytuł 1'].str.strip()
wykaz_df['Tytuł 1'] = wykaz_df['Tytuł 1'].str.encode('utf-8').str.decode('utf-8')
wykaz_df['Tytuł 1'] = wykaz_df['Tytuł 1'].apply(lambda x: unicodedata.normalize('NFKD', x))
wykaz_df['Tytuł 1'] = wykaz_df['Tytuł 1'].str.replace(r'\s+', ' ', regex=True)
wykaz_df_deduplicated = wykaz_df.groupby(['Tytuł 1', 'issn', 'e-issn']).apply(lambda group: group.ffill().bfill())
wykaz_df_deduplicated = wykaz_df.groupby(['issn', 'e-issn']).apply(lambda group: group.ffill().bfill())

# Reset index to have a clean DataFrame
wykaz_df_deduplicated.reset_index(drop=True, inplace=True)

# Drop fully duplicated rows
wykaz_df_deduplicated = wykaz_df_deduplicated.drop_duplicates(subset=['issn', 'e-issn'])

wykaz_df_deduplicated.rename(columns={'Tytuł 1': 'Title'}, inplace=True)

# Display the resulting deduplicated Wykaz DataFrame
print("Deduplicated Wykaz DataFrame:")
print(wykaz_df_deduplicated)

C:\Users\Alon\AppData\Local\Temp\ipykernel_8404\3708523349.py:8: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  wykaz_df_deduplicated = wykaz_df.groupby(['Tytuł 1', 'issn', 'e-issn']).apply(lambda group: group.ffill().bfill())
C:\Users\Alon\AppData\Local\Temp\ipykernel_8404\3708523349.py:9: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  wykaz_df_deduplicated = wykaz_df.groupby(['issn', 'e-issn']).apply(lambda group: group.ffill().bfill())

Deduplicated Wykaz DataFrame:
                                                  Title       issn     e-issn  \
0        4OR-A Quarterly Journal of Operations Research  1619-4500  1614-2411
2     Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
4                                      Accounting Forum  0155-9982  1467-6303
5                                Accounting and Finance  0810-5391  1467-629X
7                                    Accounting History  1032-3732  1749-3374
...                                                 ...        ...        ...
9759             Journal of Tourism Management Research  2408-9117  2313-4178
9760   Journal of Tourism Sustainability and Well-being  2795-5044  2795-5044
9761                Research in Organizational Behavior  0191-3085  0191-3085
9762             Recherche et Applications en Marketing  0767-3701  2051-2821
9763            Przegląd Bezpieczeństwa Wewnętrznego  2080-1335  2720-0841

     ekonomia i finance nauki o zarządzaniu i jakości  Points Dec21  \
0                   1.0                           1.0          70.0
2                   1.0                           1.0          70.0
4                   NaN                           1.0         100.0
5                   1.0                           1.0          70.0
7                   NaN                           1.0          70.0
...                 ...                           ...           ...
9759                NaN                           1.0           NaN
9760                NaN                           1.0           NaN
9761                NaN                           1.0           NaN
9762                NaN                           1.0           NaN
9763                NaN                           1.0           NaN

      Points Jan24  Points Feb21
0             70.0          70.0
2             70.0          70.0
4            100.0         100.0
5             70.0          70.0
7             70.0          70.0
...            ...           ...
9759          20.0           NaN
9760          20.0           NaN
9761          70.0           NaN
9762          20.0           NaN
9763          20.0           NaN

[4471 rows x 8 columns]

### JCR Files
Extracting the required data to create a united dataframe out of all files

In [122]:
for file_name, year_data in jcr_data.items():
    year_suffix = file_name.split('_')[1].split('.')[0]
    year_suffix_text = f' (in {year_suffix})'

    for df_name, df in year_data.items():
        # Change column names
        df.columns = df.columns.str.replace('ISSN', 'issn', case=False)
        df.columns = df.columns.str.replace('eISSN', 'e-issn', case=False)
        df.rename(columns={'Journal name': 'Tytuł 1'}, inplace=True)

        # Add suffix to columns not mentioned
        for col in df.columns:
            if col.lower() not in ['issn', 'e-issn', 'tytuł 1', 'category']:
                df.rename(columns={col: col + year_suffix_text}, inplace=True)

In [123]:
# List of columns to include in jcr_df
columns_to_include = [
    'Tytuł 1', 'issn', 'e-issn', 'Category', '2021 JIF (in 2021)', 'JIF Quartile (in 2021)',
    '5 Year JIF (in 2021)', 'JIF Without Self Cites (in 2021)', 'JIF Percentile (in 2021)',
    '2021 JCI (in 2021)', 'JCI Percentile (in 2021)',
    '2022 JIF (in 2022)', 'JIF Quartile (in 2022)', '5 Year JIF (in 2022)',
    '5 Year JIF Quartile (in 2022)', 'JIF Rank (in 2022)', '2022 JCI (in 2022)',
    'JCI Quartile (in 2022)', 'JCI Rank (in 2022)'
]

# Create an empty DataFrame for jcr_df
jcr_df = pd.DataFrame(columns=columns_to_include)

# Concatenate DataFrames for each year
for year, year_data in jcr_data.items():
    for df_name, df in year_data.items():
        print(f"Columns for {df_name} ({year}): {df.columns}")

        # Filter columns to include only the specified ones
        existing_columns = [col for col in columns_to_include if col in df.columns]
        df_subset = df[existing_columns].copy()

        # If a column is missing, fill it with NA
        missing_columns = [col for col in columns_to_include if col not in df.columns]
        for col in missing_columns:
            df_subset[col] = np.nan

        # Concatenate to jcr_df
        jcr_df = pd.concat([jcr_df, df_subset], ignore_index=True)

# Display the resulting DataFrame
print("jcr_df:")
print(jcr_df)

Columns for BUSINESS (JCR_2021_ALL.xlsx): Index(['Tytuł 1', 'issn', 'e-issn', 'Category', 'Total Citations (in 2021)',
       '2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '2021 JCI (in 2021)',
       '% of OA Gold (in 2021)', '5 Year JIF (in 2021)',
       'Immediacy Index (in 2021)', 'JIF Without Self Cites (in 2021)',
       'Eigenfactor (in 2021)', 'Normalized Eigenfactor (in 2021)',
       'Article Influence Score (in 2021)', 'JIF Percentile (in 2021)',
       'Total Articles (in 2021)', 'Citing Half-Life (in 2021)',
       'Cited Half-Life (in 2021)', 'AIS Quartile (in 2021)',
       'Citable Items (in 2021)', '% of Articles in Citable items (in 2021)',
       'JCI Percentile (in 2021)'],
      dtype='object')
Columns for BUSINESS, FINANCE (JCR_2021_ALL.xlsx): Index(['Tytuł 1', 'issn', 'e-issn', 'Category', 'Total Citations (in 2021)',
       '2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '2021 JCI (in 2021)',
       '% of OA Gold (in 2021)', '5 Year JIF (in 2021)',
       'Immediacy Index (in 2021)', 'JIF Without Self Cites (in 2021)',
       'Eigenfactor (in 2021)', 'Normalized Eigenfactor (in 2021)',
       'Article Influence Score (in 2021)', 'JIF Percentile (in 2021)',
       'Total Articles (in 2021)', 'Citing Half-Life (in 2021)',
       'Cited Half-Life (in 2021)', 'AIS Quartile (in 2021)',
       'Citable Items (in 2021)', '% of Articles in Citable items (in 2021)',
       'JCI Percentile (in 2021)'],
      dtype='object')
Columns for CULTURAL STUDIES (JCR_2021_ALL.xlsx): Index(['Tytuł 1', 'issn', 'e-issn', 'Category', 'Total Citations (in 2021)',
       '2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '2021 JCI (in 2021)',
       '% of OA Gold (in 2021)', '5 Year JIF (in 2021)',
       'Immediacy Index (in 2021)', 'JIF Without Self Cites (in 2021)',
       'Eigenfactor (in 2021)', 'Normalized Eigenfactor (in 2021)',
       'Article Influence Score (in 2021)', 'JIF Percentile (in 2021)',
       'Total Articles (in 2021)', 'Citing Half-Life (in 2021)',
       'Cited Half-Life (in 2021)', 'AIS Quartile (in 2021)',
       'Citable Items (in 2021)', '% of Articles in Citable items (in 2021)',
       'JCI Percentile (in 2021)'],
      dtype='object')
Columns for ECONOMICS (JCR_2021_ALL.xlsx): Index(['Tytuł 1', 'issn', 'e-issn', 'Category', 'Total Citations (in 2021)',
       '2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '2021 JCI (in 2021)',
       '% of OA Gold (in 2021)', '5 Year JIF (in 2021)',
       'JIF Without Self Cites (in 2021)', 'Immediacy Index (in 2021)',
       'Eigenfactor (in 2021)', 'Normalized Eigenfactor (in 2021)',
       'Article Influence Score (in 2021)', 'JIF Percentile (in 2021)',
       'JCI Percentile (in 2021)', 'AIS Quartile (in 2021)',
       'Citing Half-Life (in 2021)', 'Total Articles (in 2021)',
       'Cited Half-Life (in 2021)', '% of Articles in Citable items (in 2021)',
       'Citable Items (in 2021)'],
      dtype='object')
Columns for HEALTH POLICY & SERVICES (JCR_2021_ALL.xlsx): Index(['Tytuł 1', 'issn', 'e-issn', 'Category', 'Total Citations (in 2021)',
       '2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '2021 JCI (in 2021)',
       '% of OA Gold (in 2021)', '5 Year JIF (in 2021)',
       'JIF Without Self Cites (in 2021)', 'Immediacy Index (in 2021)',
       'Eigenfactor (in 2021)', 'Normalized Eigenfactor (in 2021)',
       'Article Influence Score (in 2021)', 'JIF Percentile (in 2021)',
       'JCI Percentile (in 2021)', 'AIS Quartile (in 2021)',
       'Citing Half-Life (in 2021)', 'Total Articles (in 2021)',
       'Cited Half-Life (in 2021)', '% of Articles in Citable items (in 2021)',
       'Citable Items (in 2021)'],
      dtype='object')
Columns for LAW (JCR_2021_ALL.xlsx): Index(['Tytuł 1', 'issn', 'e-issn', 'Category', '5 Year JIF (in 2021)',
       'JIF Quartile (in 2021)', '2020 JIF (in 2021)',
       'Average JIF Percentile (in 2021)', 'Immediacy Index (in 2021)',
       'Total Citations (in 2021)', 'JIF Without Self Cites (in 2021)',
       '2020 JCI (in 2021)', 'Eigenfactor (in 2021)',
       'Normalized Eigenfactor (in 2021)', 'Article Influence Score (in 2021)',
       'Citable Items (in 2021)', '% of Articles in Citable items (in 2021)',
       'Cited Half-Life (in 2021)', 'Citing Half-Life (in 2021)',
       'Total Articles (in 2021)', '% of OA Gold (in 2021)'],
      dtype='object')
Columns for MANAGEMENT (JCR_2021_ALL.xlsx): Index(['Tytuł 1', 'issn', 'e-issn', 'Category', 'Total Citations (in 2021)',
       '2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '2021 JCI (in 2021)',
       '% of OA Gold (in 2021)', '5 Year JIF (in 2021)',
       'JIF Without Self Cites (in 2021)', 'Immediacy Index (in 2021)',
       'Eigenfactor (in 2021)', 'Normalized Eigenfactor (in 2021)',
       'Article Influence Score (in 2021)', 'JIF Percentile (in 2021)',
       'JCI Percentile (in 2021)', 'AIS Quartile (in 2021)',
       'Citing Half-Life (in 2021)', 'Total Articles (in 2021)',
       'Cited Half-Life (in 2021)', '% of Articles in Citable items (in 2021)',
       'Citable Items (in 2021)'],
      dtype='object')
Columns for PSYCHOLOGY, APPLIED (JCR_2021_ALL.xlsx): Index(['Tytuł 1', 'issn', 'e-issn', 'Category', 'Total Citations (in 2021)',
       '2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '2021 JCI (in 2021)',
       '% of OA Gold (in 2021)', '5 Year JIF (in 2021)',
       'JIF Without Self Cites (in 2021)', 'Immediacy Index (in 2021)',
       'Eigenfactor (in 2021)', 'Normalized Eigenfactor (in 2021)',
       'Article Influence Score (in 2021)', 'JIF Percentile (in 2021)',
       'JCI Percentile (in 2021)', 'AIS Quartile (in 2021)',
       'Citing Half-Life (in 2021)', 'Total Articles (in 2021)',
       'Cited Half-Life (in 2021)', '% of Articles in Citable items (in 2021)',
       'Citable Items (in 2021)'],
      dtype='object')
Columns for PSYCHOLOGY, SOCIAL (JCR_2021_ALL.xlsx): Index(['Tytuł 1', 'issn', 'e-issn', 'Category', 'Total Citations (in 2021)',
       '2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '2021 JCI (in 2021)',
       '% of OA Gold (in 2021)', '5 Year JIF (in 2021)',
       'JIF Without Self Cites (in 2021)', 'Immediacy Index (in 2021)',
       'Eigenfactor (in 2021)', 'Normalized Eigenfactor (in 2021)',
       'Article Influence Score (in 2021)', 'JIF Percentile (in 2021)',
       'JCI Percentile (in 2021)', 'AIS Quartile (in 2021)',
       'Citing Half-Life (in 2021)', 'Total Articles (in 2021)',
       'Cited Half-Life (in 2021)', '% of Articles in Citable items (in 2021)',
       'Citable Items (in 2021)'],
      dtype='object')
Columns for PUBLIC ADMINSTRATION (JCR_2021_ALL.xlsx): Index(['Tytuł 1', 'issn', 'e-issn', 'Category', 'Total Citations (in 2021)',
       '2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '2021 JCI (in 2021)',
       '% of OA Gold (in 2021)', '5 Year JIF (in 2021)',
       'JIF Without Self Cites (in 2021)', 'Immediacy Index (in 2021)',
       'Eigenfactor (in 2021)', 'Normalized Eigenfactor (in 2021)',
       'Article Influence Score (in 2021)', 'JIF Percentile (in 2021)',
       'JCI Percentile (in 2021)', 'AIS Quartile (in 2021)',
       'Citing Half-Life (in 2021)', 'Total Articles (in 2021)',
       'Cited Half-Life (in 2021)', '% of Articles in Citable items (in 2021)',
       'Citable Items (in 2021)'],
      dtype='object')
Columns for SOCIOLOGY (JCR_2021_ALL.xlsx): Index(['Tytuł 1', 'issn', 'e-issn', 'Category', 'Total Citations (in 2021)',
       '2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '2021 JCI (in 2021)',
       '% of OA Gold (in 2021)', '5 Year JIF (in 2021)',
       'JIF Without Self Cites (in 2021)', 'Immediacy Index (in 2021)',
       'Eigenfactor (in 2021)', 'Normalized Eigenfactor (in 2021)',
       'Article Influence Score (in 2021)', 'JIF Percentile (in 2021)',
       'JCI Percentile (in 2021)', 'AIS Quartile (in 2021)',
       'Total Articles (in 2021)', 'Citing Half-Life (in 2021)',
       'Cited Half-Life (in 2021)', '% of Articles in Citable items (in 2021)',
       'Citable Items (in 2021)'],
      dtype='object')
Columns for BUSINESS (JCR_2022_ALL.xlsx): Index(['Tytuł 1', 'JCR Abbreviation (in 2022)', 'issn', 'e-issn', 'Category',
       'Total Citations (in 2022)', '2022 JIF (in 2022)',
       'JIF Quartile (in 2022)', '2022 JCI (in 2022)', 'JIF Rank (in 2022)',
       '5 Year JIF (in 2022)', '5 Year JIF Quartile (in 2022)',
       'JCI Rank (in 2022)', 'JCI Quartile (in 2022)'],
      dtype='object')
Columns for BUSINESS, FINANCE (JCR_2022_ALL.xlsx): Index(['Tytuł 1', 'JCR Abbreviation (in 2022)', 'issn', 'e-issn', 'Category',
       'Total Citations (in 2022)', '2022 JIF (in 2022)',
       'JIF Quartile (in 2022)', '2022 JCI (in 2022)', 'JIF Rank (in 2022)',
       '5 Year JIF (in 2022)', '5 Year JIF Quartile (in 2022)',
       'JCI Rank (in 2022)', 'JCI Quartile (in 2022)'],
      dtype='object')
Columns for CULTURAL STUDIES (JCR_2022_ALL.xlsx): Index(['Tytuł 1', 'JCR Abbreviation (in 2022)', 'issn', 'e-issn', 'Category',
       'Total Citations (in 2022)', '2022 JIF (in 2022)',
       'JIF Quartile (in 2022)', '2022 JCI (in 2022)', 'JIF Rank (in 2022)',
       '5 Year JIF (in 2022)', '5 Year JIF Quartile (in 2022)',
       'JCI Rank (in 2022)', 'JCI Quartile (in 2022)'],
      dtype='object')
Columns for ECONOMICS (JCR_2022_ALL.xlsx): Index(['Tytuł 1', 'JCR Abbreviation (in 2022)', 'issn', 'e-issn', 'Category',
       'Total Citations (in 2022)', '2022 JIF (in 2022)',
       'JIF Quartile (in 2022)', '2022 JCI (in 2022)', 'JIF Rank (in 2022)',
       '5 Year JIF (in 2022)', '5 Year JIF Quartile (in 2022)',
       'JCI Rank (in 2022)', 'JCI Quartile (in 2022)',
       'Unnamed: 14 (in 2022)'],
      dtype='object')
Columns for HEALTH POLICY & SERVICES (JCR_2022_ALL.xlsx): Index(['Tytuł 1', 'JCR Abbreviation (in 2022)', 'issn', 'e-issn', 'Category',
       'Total Citations (in 2022)', '2022 JIF (in 2022)',
       'JIF Quartile (in 2022)', '2022 JCI (in 2022)', 'JIF Rank (in 2022)',
       '5 Year JIF (in 2022)', '5 Year JIF Quartile (in 2022)',
       'JCI Rank (in 2022)', 'JCI Quartile (in 2022)'],
      dtype='object')
Columns for LAW (JCR_2022_ALL.xlsx): Index(['Tytuł 1', 'JCR Abbreviation (in 2022)', 'issn', 'e-issn', 'Category',
       'Total Citations (in 2022)', '2022 JIF (in 2022)',
       'JIF Quartile (in 2022)', '2022 JCI (in 2022)', 'JIF Rank (in 2022)',
       '5 Year JIF (in 2022)', '5 Year JIF Quartile (in 2022)',
       'JCI Rank (in 2022)', 'JCI Quartile (in 2022)'],
      dtype='object')
Columns for MANAGEMENT (JCR_2022_ALL.xlsx): Index(['Tytuł 1', 'JCR Abbreviation (in 2022)', 'issn', 'e-issn', 'Category',
       'Total Citations (in 2022)', '2022 JIF (in 2022)',
       'JIF Quartile (in 2022)', '2022 JCI (in 2022)', 'JIF Rank (in 2022)',
       '5 Year JIF (in 2022)', '5 Year JIF Quartile (in 2022)',
       'JCI Rank (in 2022)', 'JCI Quartile (in 2022)'],
      dtype='object')
Columns for PSYCHOLOGY, APPLIED (JCR_2022_ALL.xlsx): Index(['Tytuł 1', 'JCR Abbreviation (in 2022)', 'issn', 'e-issn', 'Category',
       'Total Citations (in 2022)', '2022 JIF (in 2022)',
       'JIF Quartile (in 2022)', '2022 JCI (in 2022)', 'JIF Rank (in 2022)',
       '5 Year JIF (in 2022)', '5 Year JIF Quartile (in 2022)',
       'JCI Rank (in 2022)', 'JCI Quartile (in 2022)'],
      dtype='object')
Columns for PSYCHOLOGY, SOCIAL (JCR_2022_ALL.xlsx): Index(['Tytuł 1', 'JCR Abbreviation (in 2022)', 'issn', 'e-issn', 'Category',
       'Total Citations (in 2022)', '2022 JIF (in 2022)',
       'JIF Quartile (in 2022)', '2022 JCI (in 2022)', 'JIF Rank (in 2022)',
       '5 Year JIF (in 2022)', '5 Year JIF Quartile (in 2022)',
       'JCI Rank (in 2022)', 'JCI Quartile (in 2022)'],
      dtype='object')
Columns for PUBLIC ADMINISTRATION (JCR_2022_ALL.xlsx): Index(['Tytuł 1', 'JCR Abbreviation (in 2022)', 'issn', 'e-issn', 'Category',
       'Total Citations (in 2022)', '2022 JIF (in 2022)',
       'JIF Quartile (in 2022)', '2022 JCI (in 2022)', 'JIF Rank (in 2022)',
       '5 Year JIF (in 2022)', '5 Year JIF Quartile (in 2022)',
       'JCI Rank (in 2022)', 'JCI Quartile (in 2022)'],
      dtype='object')
Columns for SOCIOLOGY (JCR_2022_ALL.xlsx): Index(['Tytuł 1', 'JCR Abbreviation (in 2022)', 'issn', 'e-issn', 'Category',
       'Total Citations (in 2022)', '2022 JIF (in 2022)',
       'JIF Quartile (in 2022)', '2022 JCI (in 2022)', 'JIF Rank (in 2022)',
       '5 Year JIF (in 2022)', '5 Year JIF Quartile (in 2022)',
       'JCI Rank (in 2022)', 'JCI Quartile (in 2022)'],
      dtype='object')
jcr_df:
                                                Tytuł 1       issn     e-issn  \
0                                            3C Empresa  2254-3376  2254-3376
1     Academia-Revista Latinoamericana de Administra...  1012-8255  2056-5127
2                          Academy of Management Annals  1941-6520  1941-6067
3                         ACADEMY OF MANAGEMENT JOURNAL  0001-4273  1948-0989
4                    Academy of Management Perspectives  1558-9080        NaN
...                                                 ...        ...        ...
5163                               WORK AND OCCUPATIONS  0730-8884  1552-8464
5164                        WORK EMPLOYMENT AND SOCIETY  0950-0170  1469-8722
5165                                              Young  1103-3088  1741-3222
5166                                    YOUTH & SOCIETY  0044-118X  1552-8499
5167                         ZEITSCHRIFT FUR SOZIOLOGIE  0340-1804  2366-0325

              Category  2021 JIF (in 2021) JIF Quartile (in 2021)  \
0      BUSINESS - ESCI                 NaN                    NaN
1      BUSINESS - SSCI               1.369                     Q4
2      BUSINESS - SSCI              19.241                     Q1
3      BUSINESS - SSCI              10.979                     Q1
4      BUSINESS - SSCI               8.069                     Q1
...                ...                 ...                    ...
5163  SOCIOLOGY - SSCI                 NaN                    NaN
5164  SOCIOLOGY - SSCI                 NaN                    NaN
5165  SOCIOLOGY - SSCI                 NaN                    NaN
5166  SOCIOLOGY - SSCI                 NaN                    NaN
5167  SOCIOLOGY - SSCI                 NaN                    NaN

      5 Year JIF (in 2021)  JIF Without Self Cites (in 2021)  \
0                      NaN                               NaN
1                    1.582                             1.185
2                   27.258                            18.889
3                   16.178                            10.611
4                   10.161                             7.776
...                    ...                               ...
5163                   NaN                               NaN
5164                   NaN                               NaN
5165                   NaN                               NaN
5166                   NaN                               NaN
5167                   NaN                               NaN

      JIF Percentile (in 2021)   2021 JCI (in 2021)  JCI Percentile (in 2021)  \
0                          NaN                 0.02                      2.54
1                         8.12                 0.27                     23.56
2                        99.68                 3.75                     99.83
3                        90.58  1954-02-01 00:00:00                     98.14
4                        78.25                 2.05                     94.07
...                        ...                  ...                       ...
5163                       NaN                  NaN                       NaN
5164                       NaN                  NaN                       NaN
5165                       NaN                  NaN                       NaN
5166                       NaN                  NaN                       NaN
5167                       NaN                  NaN                       NaN

     2022 JIF (in 2022) JIF Quartile (in 2022) 5 Year JIF (in 2022)  \
0                   NaN                    NaN                  NaN
1                   NaN                    NaN                  NaN
2                   NaN                    NaN                  NaN
3                   NaN                    NaN                  NaN
4                   NaN                    NaN                  NaN
...                 ...                    ...                  ...
5163                2.9                     Q2                  4.1
5164                3.7                     Q1                  4.5
5165                2.1                     Q2                  2.0
5166                2.0                     Q3                  2.5
5167                0.8                     Q4                  1.3

     5 Year JIF Quartile (in 2022) JIF Rank (in 2022)  2022 JCI (in 2022)  \
0                              NaN                NaN                 NaN
1                              NaN                NaN                 NaN
2                              NaN                NaN                 NaN
3                              NaN                NaN                 NaN
4                              NaN                NaN                 NaN
...                            ...                ...                 ...
5163                            Q1             39/149                1.39
5164                            Q1             20/149                1.45
5165                            Q3             74/149                0.89
5166                            Q2             79/149                1.14
5167                            Q4            125/149                0.30

     JCI Quartile (in 2022) JCI Rank (in 2022)
0                       NaN                NaN
1                       NaN                NaN
2                       NaN                NaN
3                       NaN                NaN
4                       NaN                NaN
...                     ...                ...
5163                     Q1             38/214
5164                     Q1             34/214
5165                     Q2             85/214
5166                     Q2             58/214
5167                     Q4            161/214

[5168 rows x 19 columns]

In [124]:
jcr_df = jcr_df.groupby(['issn', 'Category']).apply(lambda group: group.ffill().bfill())

C:\Users\Alon\AppData\Local\Temp\ipykernel_8404\177033880.py:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  jcr_df = jcr_df.groupby(['issn', 'Category']).apply(lambda group: group.ffill().bfill())

In [125]:
# Find duplicate rows based on 'issn' and 'Category'
duplicate_condition = jcr_df.duplicated(subset=['issn', 'e-issn', 'Category'], keep=False)

# Extract rows with duplicates
duplicates_df_jcr = jcr_df[duplicate_condition]

duplicates_df_jcr = duplicates_df_jcr.sort_values(by=['issn', 'e-issn', 'Category'])

duplicates_df_jcr = duplicates_df_jcr.reset_index(drop=True)

# Display the DataFrame with duplicate rows
print("DataFrame with duplicate rows based on 'issn' and 'Category' (sorted by 'issn' and 'Category'):")
print(duplicates_df_jcr)

DataFrame with duplicate rows based on 'issn' and 'Category' (sorted by 'issn' and 'Category'):
                                                Tytuł 1       issn     e-issn  \
0     Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
1     Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
2                         ACADEMY OF MANAGEMENT JOURNAL  0001-4273  1948-0989
3                         ACADEMY OF MANAGEMENT JOURNAL  0001-4273  1948-0989
4                         ACADEMY OF MANAGEMENT JOURNAL  0001-4273  1948-0989
...                                                 ...        ...        ...
4772                           ISSUES IN LAW & MEDICINE  8756-8160        NaN
4773           JOURNAL OF COLLEGE STUDENT PSYCHOTHERAPY  8756-8225  1540-4730
4774           JOURNAL OF COLLEGE STUDENT PSYCHOTHERAPY  8756-8225  1540-4730
4775                         Project Management Journal  8756-9728  1938-9507
4776                         Project Management Journal  8756-9728  1938-9507

                        Category  2021 JIF (in 2021) JIF Quartile (in 2021)  \
0       BUSINESS, FINANCE - SSCI               2.060                     Q3
1       BUSINESS, FINANCE - SSCI               2.060                     Q3
2                BUSINESS - SSCI              10.979                     Q1
3                BUSINESS - SSCI              10.979                     Q1
4              MANAGEMENT - SSCI              10.979                     Q1
...                          ...                 ...                    ...
4772                  LAW - SSCI                 NaN                     Q4
4773  PSYCHOLOGY, APPLIED - ESCI                 NaN                    NaN
4774  PSYCHOLOGY, APPLIED - ESCI                 NaN                    NaN
4775           MANAGEMENT - SSCI               4.946                     Q2
4776           MANAGEMENT - SSCI               4.946                     Q2

      5 Year JIF (in 2021)  JIF Without Self Cites (in 2021)  \
0                    3.243                             1.800
1                    3.243                             1.800
2                   16.178                            10.611
3                   16.178                            10.611
4                   16.178                            10.611
...                    ...                               ...
4772                 0.226                             0.320
4773                   NaN                               NaN
4774                   NaN                               NaN
4775                 4.883                             4.301
4776                 4.883                             4.301

      JIF Percentile (in 2021)   2021 JCI (in 2021)  JCI Percentile (in 2021)  \
0                        33.78                 0.97                     72.62
1                        33.78                 0.97                     72.62
2                        90.58  1954-02-01 00:00:00                     98.14
3                        90.58  1954-02-01 00:00:00                     98.14
4                        93.58                 2.54                     97.57
...                        ...                  ...                       ...
4772                       NaN                  NaN                       NaN
4773                       NaN                 0.27                     15.63
4774                       NaN                 0.27                     15.63
4775                     53.76                  0.9                     62.53
4776                     53.76                  0.9                     62.53

     2022 JIF (in 2022) JIF Quartile (in 2022) 5 Year JIF (in 2022)  \
0                   2.1                     Q3                  2.6
1                   2.1                     Q3                  2.6
2                  10.5                     Q1                 14.5
3                  10.5                     Q1                 14.5
4                  10.5                     Q1                 14.5
...                 ...                    ...                  ...
4772                0.9                     Q3                  0.7
4773                1.4                    NaN                  1.2
4774                1.4                    NaN                  1.2
4775                5.0                     Q2                  5.7
4776                5.0                     Q2                  5.7

     5 Year JIF Quartile (in 2022) JIF Rank (in 2022)  2022 JCI (in 2022)  \
0                               Q3             69/111                0.66
1                               Q3             69/111                0.66
2                               Q1             15/154                2.40
3                               Q1             15/154                2.40
4                               Q1             16/227                2.40
...                            ...                ...                 ...
4772                            Q4            102/152                0.88
4773                           NaN                NaN                0.35
4774                           NaN                NaN                0.35
4775                            Q2            102/227                0.99
4776                            Q2            102/227                0.99

     JCI Quartile (in 2022) JCI Rank (in 2022)
0                        Q2             96/227
1                        Q2             96/227
2                        Q1              8/301
3                        Q1              8/301
4                        Q1              9/396
...                     ...                ...
4772                     Q2            134/411
4773                     Q4             90/115
4774                     Q4             90/115
4775                     Q2            124/396
4776                     Q2            124/396

[4777 rows x 19 columns]

In [126]:
# Make sure all duplicates in duplicates_df_jcr are pairs of 2021-2022 with corresponding NaN values

all_nan_for_all_odd_indexes = True
failed_indexes = []

# Iterate through all odd-numbered indexes
for i in range(1, len(duplicates_df_jcr), 2):
    # Get the current row
    current_row = duplicates_df_jcr.iloc[i]

    # Check if the specified columns are all NaN
    if current_row[['2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '5 Year JIF (in 2021)',
                    'JIF Without Self Cites (in 2021)', 'JIF Percentile (in 2021)',
                    '2021 JCI (in 2021)', 'JCI Percentile (in 2021)']].isna().all():
        print(f"Columns are all NaN for index {i}: {current_row[['issn', 'Category']]}")
    else:
        all_nan_for_all_odd_indexes = False
        failed_indexes.append(i)

# Print a message based on whether all columns were NaN for all odd indexes
if all_nan_for_all_odd_indexes:
    print("Yes, all specified columns are NaN for all odd indexes.")
else:
    print("No, some specified columns are not all NaN for at least one odd index.")
    print("Indexes where the rule fails:", failed_indexes)

Columns are all NaN for index 23: issn         0002-4821
Category    LAW - ESCI
Name: 23, dtype: object
Columns are all NaN for index 41: issn         0002-9319
Category    LAW - ESCI
Name: 41, dtype: object
Columns are all NaN for index 61: issn         0004-9611
Category    LAW - ESCI
Name: 61, dtype: object
Columns are all NaN for index 79: issn         0007-974X
Category    LAW - ESCI
Name: 79, dtype: object
Columns are all NaN for index 203: issn         0018-9855
Category    LAW - ESCI
Name: 203, dtype: object
Columns are all NaN for index 235: issn         0021-2237
Category    LAW - ESCI
Name: 235, dtype: object
Columns are all NaN for index 237: issn         0021-325X
Category    LAW - ESCI
Name: 237, dtype: object
Columns are all NaN for index 273: issn         0022-0183
Category    LAW - ESCI
Name: 273, dtype: object
Columns are all NaN for index 411: issn         0030-6185
Category    LAW - ESCI
Name: 411, dtype: object
Columns are all NaN for index 435: issn         0033-7250
Category    LAW - ESCI
Name: 435, dtype: object
Columns are all NaN for index 463: issn         0035-3086
Category    LAW - ESCI
Name: 463, dtype: object
Columns are all NaN for index 535: issn         0042-0328
Category    LAW - ESCI
Name: 535, dtype: object
Columns are all NaN for index 591: issn         0065-1915
Category    LAW - ESCI
Name: 591, dtype: object
Columns are all NaN for index 601: issn         0082-0512
Category    LAW - ESCI
Name: 601, dtype: object
Columns are all NaN for index 667: issn         0121-0483
Category    LAW - ESCI
Name: 667, dtype: object
Columns are all NaN for index 671: issn         0121-182X
Category    LAW - ESCI
Name: 671, dtype: object
Columns are all NaN for index 675: issn         0123-4366
Category    LAW - ESCI
Name: 675, dtype: object
Columns are all NaN for index 683: issn         0124-7255
Category    LAW - ESCI
Name: 683, dtype: object
Columns are all NaN for index 685: issn         0124-7441
Category    LAW - ESCI
Name: 685, dtype: object
Columns are all NaN for index 689: issn         0128-2530
Category    LAW - ESCI
Name: 689, dtype: object
Columns are all NaN for index 733: issn         0144-3593
Category    LAW - ESCI
Name: 733, dtype: object
Columns are all NaN for index 745: issn         0144-932X
Category    LAW - ESCI
Name: 745, dtype: object
Columns are all NaN for index 835: issn         0165-070X
Category    LAW - ESCI
Name: 835, dtype: object
Columns are all NaN for index 845: issn         0165-2826
Category    LAW - ESCI
Name: 845, dtype: object
Columns are all NaN for index 943: issn         0211-979X
Category    LAW - ESCI
Name: 943, dtype: object
Columns are all NaN for index 947: issn         0212-5056
Category    LAW - ESCI
Name: 947, dtype: object
Columns are all NaN for index 977: issn         0251-3420
Category    LAW - ESCI
Name: 977, dtype: object
Columns are all NaN for index 985: issn         0255-8106
Category    LAW - ESCI
Name: 985, dtype: object
Columns are all NaN for index 1007: issn         0261-9261
Category    LAW - ESCI
Name: 1007, dtype: object
Columns are all NaN for index 1073: issn         0268-0556
Category    LAW - ESCI
Name: 1073, dtype: object
Columns are all NaN for index 1221: issn         0310-1053
Category    LAW - ESCI
Name: 1221, dtype: object
Columns are all NaN for index 1223: issn         0311-094X
Category    LAW - ESCI
Name: 1223, dtype: object
Columns are all NaN for index 1229: issn         0313-0096
Category    LAW - ESCI
Name: 1229, dtype: object
Columns are all NaN for index 1235: issn         0314-1160
Category    LAW - ESCI
Name: 1235, dtype: object
Columns are all NaN for index 1237: issn         0316-778X
Category    LAW - ESCI
Name: 1237, dtype: object
Columns are all NaN for index 1259: issn         0352-5317
Category    LAW - ESCI
Name: 1259, dtype: object
Columns are all NaN for index 1319: issn         0518-0872
Category    LAW - ESCI
Name: 1319, dtype: object
Columns are all NaN for index 1323: issn         0554-498X
Category    LAW - ESCI
Name: 1323, dtype: object
Columns are all NaN for index 1341: issn         0719-2576
Category    LAW - ESCI
Name: 1341, dtype: object
Columns are all NaN for index 1343: issn         0723-1393
Category    LAW - ESCI
Name: 1343, dtype: object
Columns are all NaN for index 1349: issn         0729-2775
Category    LAW - ESCI
Name: 1349, dtype: object
Columns are all NaN for index 1363: issn         0732-9113
Category    LAW - ESCI
Name: 1363, dtype: object
Columns are all NaN for index 1437: issn         0797-8316
Category    LAW - ESCI
Name: 1437, dtype: object
Columns are all NaN for index 1453: issn         0829-3201
Category    LAW - ESCI
Name: 1453, dtype: object
Columns are all NaN for index 1455: issn         0832-8781
Category    LAW - ESCI
Name: 1455, dtype: object
Columns are all NaN for index 1459: issn         0841-8209
Category    LAW - ESCI
Name: 1459, dtype: object
Columns are all NaN for index 1597: issn         0896-5811
Category    LAW - ESCI
Name: 1597, dtype: object
Columns are all NaN for index 1655: issn         0927-3379
Category    LAW - ESCI
Name: 1655, dtype: object
Columns are all NaN for index 1673: issn         0928-2750
Category    LAW - ESCI
Name: 1673, dtype: object
Columns are all NaN for index 1677: issn         0928-9569
Category    LAW - ESCI
Name: 1677, dtype: object
Columns are all NaN for index 1679: issn         0928-9801
Category    LAW - ESCI
Name: 1679, dtype: object
Columns are all NaN for index 1681: issn         0929-0273
Category    LAW - ESCI
Name: 1681, dtype: object
Columns are all NaN for index 1749: issn         0953-8186
Category    LAW - ESCI
Name: 1749, dtype: object
Columns are all NaN for index 1765: issn         0954-8890
Category    LAW - ESCI
Name: 1765, dtype: object
Columns are all NaN for index 1775: issn         0957-8536
Category    LAW - ESCI
Name: 1775, dtype: object
Columns are all NaN for index 1841: issn         0964-9069
Category    LAW - ESCI
Name: 1841, dtype: object
Columns are all NaN for index 1869: issn         0967-0769
Category    LAW - ESCI
Name: 1869, dtype: object
Columns are all NaN for index 1881: issn         0969-5958
Category    LAW - ESCI
Name: 1881, dtype: object
Columns are all NaN for index 1933: issn         1011-4548
Category    LAW - ESCI
Name: 1933, dtype: object
Columns are all NaN for index 1989: issn         1034-3024
Category    LAW - ESCI
Name: 1989, dtype: object
Columns are all NaN for index 1991: issn         1034-3040
Category    LAW - ESCI
Name: 1991, dtype: object
Columns are all NaN for index 1999: issn         1037-969X
Category    LAW - ESCI
Name: 1999, dtype: object
Columns are all NaN for index 2001: issn         1038-1635
Category    LAW - ESCI
Name: 2001, dtype: object
Columns are all NaN for index 2003: issn         1038-3441
Category    LAW - ESCI
Name: 2003, dtype: object
Columns are all NaN for index 2009: issn         1039-3285
Category    LAW - ESCI
Name: 2009, dtype: object
Columns are all NaN for index 2011: issn         1039-3293
Category    LAW - ESCI
Name: 2011, dtype: object
Columns are all NaN for index 2029: issn         1043-4062
Category    LAW - ESCI
Name: 2029, dtype: object
Columns are all NaN for index 2069: issn         1046-8374
Category    LAW - ESCI
Name: 2069, dtype: object
Columns are all NaN for index 2237: issn         1081-1680
Category    LAW - ESCI
Name: 2237, dtype: object
Columns are all NaN for index 2333: issn         1120-9607
Category    LAW - ESCI
Name: 2333, dtype: object
Columns are all NaN for index 2335: issn         1124-3694
Category    LAW - ESCI
Name: 2335, dtype: object
Columns are all NaN for index 2337: issn         1130-8354
Category    LAW - ESCI
Name: 2337, dtype: object
Columns are all NaN for index 2351: issn         1133-0937
Category    LAW - ESCI
Name: 2351, dtype: object
Columns are all NaN for index 2353: issn         1134-993X
Category    LAW - ESCI
Name: 2353, dtype: object
Columns are all NaN for index 2355: issn         1138-4026
Category    LAW - ESCI
Name: 2355, dtype: object
Columns are all NaN for index 2383: issn         1205-612X
Category    LAW - ESCI
Name: 2383, dtype: object
Columns are all NaN for index 2399: issn         1230-5502
Category    LAW - ESCI
Name: 2399, dtype: object
Columns are all NaN for index 2443: issn         1320-0968
Category    LAW - ESCI
Name: 2443, dtype: object
Columns are all NaN for index 2445: issn         1320-7105
Category    LAW - ESCI
Name: 2445, dtype: object
Columns are all NaN for index 2461: issn         1330-349X
Category    LAW - ESCI
Name: 2461, dtype: object
Columns are all NaN for index 2501: issn         1352-3252
Category    LAW - ESCI
Name: 2501, dtype: object
Columns are all NaN for index 2509: issn         1354-3725
Category    LAW - ESCI
Name: 2509, dtype: object
Columns are all NaN for index 2545: issn         1357-2334
Category    LAW - ESCI
Name: 2545, dtype: object
Columns are all NaN for index 2549: issn         1358-2291
Category    LAW - ESCI
Name: 2549, dtype: object
Columns are all NaN for index 2559: issn         1360-0834
Category    LAW - ESCI
Name: 2559, dtype: object
Columns are all NaN for index 2585: issn         1363-1780
Category    LAW - ESCI
Name: 2585, dtype: object
Columns are all NaN for index 2601: issn         1364-9809
Category    LAW - ESCI
Name: 2601, dtype: object
Columns are all NaN for index 2663: issn         1385-4879
Category    LAW - ESCI
Name: 2663, dtype: object
Columns are all NaN for index 2679: issn         1388-199X
Category    LAW - ESCI
Name: 2679, dtype: object
Columns are all NaN for index 2691: issn         1390-440X
Category    LAW - ESCI
Name: 2691, dtype: object
Columns are all NaN for index 2715: issn         1422-2213
Category    LAW - ESCI
Name: 2715, dtype: object
Columns are all NaN for index 2735: issn         1441-7847
Category    LAW - ESCI
Name: 2735, dtype: object
Columns are all NaN for index 2739: issn         1444-8602
Category    LAW - ESCI
Name: 2739, dtype: object
Columns are all NaN for index 2749: issn         1448-2398
Category    LAW - ESCI
Name: 2749, dtype: object
Columns are all NaN for index 2769: issn         1460-728X
Category    LAW - ESCI
Name: 2769, dtype: object
Columns are all NaN for index 2815: issn         1467-7954
Category    LAW - ESCI
Name: 2815, dtype: object
Columns are all NaN for index 2877: issn         1472-6696
Category    LAW - ESCI
Name: 2877, dtype: object
Columns are all NaN for index 2927: issn         1477-0024
Category    LAW - ESCI
Name: 2927, dtype: object
Columns are all NaN for index 2969: issn         1516-3210
Category    LAW - ESCI
Name: 2969, dtype: object
Columns are all NaN for index 2971: issn         1516-4179
Category    LAW - ESCI
Name: 2971, dtype: object
Columns are all NaN for index 2983: issn         1521-3293
Category    LAW - ESCI
Name: 2983, dtype: object
Columns are all NaN for index 2993: issn         1524-8879
Category    LAW - ESCI
Name: 2993, dtype: object
Columns are all NaN for index 3017: issn         1531-2445
Category    LAW - ESCI
Name: 3017, dtype: object
Columns are all NaN for index 3029: issn         1533-1296
Category    LAW - ESCI
Name: 3029, dtype: object
Columns are all NaN for index 3145: issn         1566-6573
Category    LAW - ESCI
Name: 3145, dtype: object
Columns are all NaN for index 3155: issn         1567-536X
Category    LAW - ESCI
Name: 3155, dtype: object
Columns are all NaN for index 3157: issn         1567-7559
Category    LAW - ESCI
Name: 3157, dtype: object
Columns are all NaN for index 3169: issn         1569-1853
Category    LAW - ESCI
Name: 3169, dtype: object
Columns are all NaN for index 3189: issn         1572-3739
Category    LAW - ESCI
Name: 3189, dtype: object
Columns are all NaN for index 3191: issn         1572-4999
Category    LAW - ESCI
Name: 3191, dtype: object
Columns are all NaN for index 3243: issn         1613-2548
Category    LAW - ESCI
Name: 3243, dtype: object
Columns are all NaN for index 3245: issn         1613-7272
Category    LAW - ESCI
Name: 3245, dtype: object
Columns are all NaN for index 3273: issn         1657-1959
Category    LAW - ESCI
Name: 3273, dtype: object
Columns are all NaN for index 3277: issn         1657-6535
Category    LAW - ESCI
Name: 3277, dtype: object
Columns are all NaN for index 3283: issn         1660-7112
Category    LAW - ESCI
Name: 3283, dtype: object
Columns are all NaN for index 3289: issn         1673-3428
Category    LAW - ESCI
Name: 3289, dtype: object
Columns are all NaN for index 3309: issn         1692-3030
Category    LAW - ESCI
Name: 3309, dtype: object
Columns are all NaN for index 3311: issn         1692-6013
Category    LAW - ESCI
Name: 3311, dtype: object
Columns are all NaN for index 3319: issn         1696-6759
Category    LAW - ESCI
Name: 3319, dtype: object
Columns are all NaN for index 3321: issn         1696-9626
Category    LAW - ESCI
Name: 3321, dtype: object
Columns are all NaN for index 3323: issn         1696-9634
Category    LAW - ESCI
Name: 3323, dtype: object
Columns are all NaN for index 3325: issn         1696-9642
Category    LAW - ESCI
Name: 3325, dtype: object
Columns are all NaN for index 3327: issn         1696-9650
Category    LAW - ESCI
Name: 3327, dtype: object
Columns are all NaN for index 3329: issn         1696-9669
Category    LAW - ESCI
Name: 3329, dtype: object
Columns are all NaN for index 3331: issn         1697-3046
Category    LAW - ESCI
Name: 3331, dtype: object
Columns are all NaN for index 3333: issn         1697-5197
Category    LAW - ESCI
Name: 3333, dtype: object
Columns are all NaN for index 3337: issn         1698-1189
Category    LAW - ESCI
Name: 3337, dtype: object
Columns are all NaN for index 3343: issn         1699-5317
Category    LAW - ESCI
Name: 3343, dtype: object
Columns are all NaN for index 3345: issn         1712-9664
Category    LAW - ESCI
Name: 3345, dtype: object
Columns are all NaN for index 3397: issn         1742-3945
Category    LAW - ESCI
Name: 3397, dtype: object
Columns are all NaN for index 3407: issn         1743-8721
Category    LAW - ESCI
Name: 3407, dtype: object
Columns are all NaN for index 3411: issn         1744-1048
Category    LAW - ESCI
Name: 3411, dtype: object
Columns are all NaN for index 3447: issn         1747-1532
Category    LAW - ESCI
Name: 3447, dtype: object
Columns are all NaN for index 3481: issn         1750-7219
Category    LAW - ESCI
Name: 3481, dtype: object
Columns are all NaN for index 3503: issn         1752-1483
Category    LAW - ESCI
Name: 3503, dtype: object
Columns are all NaN for index 3539: issn         1754-243X
Category    LAW - ESCI
Name: 3539, dtype: object
Columns are all NaN for index 3585: issn         1757-9619
Category    LAW - ESCI
Name: 3585, dtype: object
Columns are all NaN for index 3597: issn         1777-5272
Category    LAW - ESCI
Name: 3597, dtype: object
Columns are all NaN for index 3603: issn         1794-6638
Category    LAW - ESCI
Name: 3603, dtype: object
Columns are all NaN for index 3619: issn         1806-3845
Category    LAW - ESCI
Name: 3619, dtype: object
Columns are all NaN for index 3627: issn         1807-8389
Category    LAW - ESCI
Name: 3627, dtype: object
Columns are all NaN for index 3629: issn         1808-2432
Category    LAW - ESCI
Name: 3629, dtype: object
Columns are all NaN for index 3637: issn         1812-6324
Category    LAW - ESCI
Name: 3637, dtype: object
Columns are all NaN for index 3639: issn         1812-6804
Category    LAW - ESCI
Name: 3639, dtype: object
Columns are all NaN for index 3685: issn         1838-9260
Category    LAW - ESCI
Name: 3685, dtype: object
Columns are all NaN for index 3697: issn         1845-5662
Category    LAW - ESCI
Name: 3697, dtype: object
Columns are all NaN for index 3711: issn         1853-0982
Category    LAW - ESCI
Name: 3711, dtype: object
Columns are all NaN for index 3713: issn         1855-7147
Category    LAW - ESCI
Name: 3713, dtype: object
Columns are all NaN for index 3741: issn         1867-299X
Category    LAW - ESCI
Name: 3741, dtype: object
Columns are all NaN for index 3749: issn         1870-0578
Category    LAW - ESCI
Name: 3749, dtype: object
Columns are all NaN for index 3753: issn         1870-4654
Category    LAW - ESCI
Name: 3753, dtype: object
Columns are all NaN for index 3755: issn         1870-4670
Category    LAW - ESCI
Name: 3755, dtype: object
Columns are all NaN for index 3759: issn         1871-515X
Category    LAW - ESCI
Name: 3759, dtype: object
Columns are all NaN for index 3761: issn         1871-9740
Category    LAW - ESCI
Name: 3761, dtype: object
Columns are all NaN for index 3763: issn         1871-9791
Category    LAW - ESCI
Name: 3763, dtype: object
Columns are all NaN for index 3767: issn         1876-3367
Category    LAW - ESCI
Name: 3767, dtype: object
Columns are all NaN for index 3777: issn         1878-1373
Category    LAW - ESCI
Name: 3777, dtype: object
Columns are all NaN for index 3781: issn         1885-5709
Category    LAW - ESCI
Name: 3781, dtype: object
Columns are all NaN for index 3789: issn         1886-7650
Category    LAW - ESCI
Name: 3789, dtype: object
Columns are all NaN for index 3801: issn         1909-4450
Category    LAW - ESCI
Name: 3801, dtype: object
Columns are all NaN for index 3809: issn         1920-4825
Category    LAW - ESCI
Name: 3809, dtype: object
Columns are all NaN for index 3819: issn         1927-9132
Category    LAW - ESCI
Name: 3819, dtype: object
Columns are all NaN for index 3835: issn         1933-4192
Category    LAW - ESCI
Name: 3835, dtype: object
Columns are all NaN for index 3893: issn         1943-4162
Category    LAW - ESCI
Name: 3893, dtype: object
Columns are all NaN for index 3917: issn         1971-7105
Category    LAW - ESCI
Name: 3917, dtype: object
Columns are all NaN for index 3927: issn         1976-9229
Category    LAW - ESCI
Name: 3927, dtype: object
Columns are all NaN for index 3935: issn         1980-3087
Category    LAW - ESCI
Name: 3935, dtype: object
Columns are all NaN for index 3949: issn         1988-5091
Category    LAW - ESCI
Name: 3949, dtype: object
Columns are all NaN for index 3951: issn         1989-5666
Category    LAW - ESCI
Name: 3951, dtype: object
Columns are all NaN for index 3963: issn         1995-4190
Category    LAW - ESCI
Name: 3963, dtype: object
Columns are all NaN for index 3971: issn         1998-8125
Category    LAW - ESCI
Name: 3971, dtype: object
Columns are all NaN for index 3975: issn         1999-9747
Category    LAW - ESCI
Name: 3975, dtype: object
Columns are all NaN for index 3983: issn         2007-3577
Category    LAW - ESCI
Name: 3983, dtype: object
Columns are all NaN for index 4001: issn         2027-1131
Category    LAW - ESCI
Name: 4001, dtype: object
Columns are all NaN for index 4011: issn         2031-9525
Category    LAW - ESCI
Name: 4011, dtype: object
Columns are all NaN for index 4021: issn         2040-3313
Category    LAW - ESCI
Name: 4021, dtype: object
Columns are all NaN for index 4053: issn         2041-7764
Category    LAW - ESCI
Name: 4053, dtype: object
Columns are all NaN for index 4079: issn         2044-2513
Category    LAW - ESCI
Name: 4079, dtype: object
Columns are all NaN for index 4101: issn         2047-0770
Category    LAW - ESCI
Name: 4101, dtype: object
Columns are all NaN for index 4115: issn         2049-4092
Category    LAW - ESCI
Name: 4115, dtype: object
Columns are all NaN for index 4121: issn         2049-677X
Category    LAW - ESCI
Name: 4121, dtype: object
Columns are all NaN for index 4129: issn         2050-0688
Category    LAW - ESCI
Name: 4129, dtype: object
Columns are all NaN for index 4131: issn         2050-103X
Category    LAW - ESCI
Name: 4131, dtype: object
Columns are all NaN for index 4139: issn         2050-4802
Category    LAW - ESCI
Name: 4139, dtype: object
Columns are all NaN for index 4141: issn         2050-6325
Category    LAW - ESCI
Name: 4141, dtype: object
Columns are all NaN for index 4143: issn         2050-8840
Category    LAW - ESCI

In [127]:
# Deduplicate rows including rows with missing identifiers for issn or e-issn
# Define boolean masks for issn and e-issn duplicates
issn_duplicates_mask = jcr_df.duplicated(subset=['issn', 'Category'], keep=False)
eissn_duplicates_mask = jcr_df.duplicated(subset=['e-issn', 'Category'], keep=False)

# Combine rows for issn duplicates
jcr_df_issn_combined = jcr_df[issn_duplicates_mask].groupby(['Tytuł 1', 'issn', 'Category'], as_index=False).apply(lambda x: x.combine_first(x.shift(-1))).reset_index(drop=True)

# Combine rows for e-issn duplicates
jcr_df_eissn_combined = jcr_df[eissn_duplicates_mask].groupby(['Tytuł 1', 'e-issn', 'Category'], as_index=False).apply(lambda x: x.combine_first(x.shift(-1))).reset_index(drop=True)

# Keep unique rows
unique_rows = jcr_df[~(issn_duplicates_mask | eissn_duplicates_mask)]

# Concatenate the deduplicated and unique rows
jcr_df_combined = pd.concat([jcr_df_issn_combined, jcr_df_eissn_combined, unique_rows], ignore_index=True)

# Drop the original duplicate rows
jcr_df_combined = jcr_df_combined.drop_duplicates(subset=['Tytuł 1', 'issn', 'e-issn', 'Category'])

# Display the resulting combined DataFrame
print("Combined jcr_df:")
print(jcr_df_combined.head())

C:\Users\Alon\AppData\Local\Temp\ipykernel_8404\3447710790.py:7: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  jcr_df_issn_combined = jcr_df[issn_duplicates_mask].groupby(['Tytuł 1', 'issn', 'Category'], as_index=False).apply(lambda x: x.combine_first(x.shift(-1))).reset_index(drop=True)
C:\Users\Alon\AppData\Local\Temp\ipykernel_8404\3447710790.py:10: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  jcr_df_eissn_combined = jcr_df[eissn_duplicates_mask].groupby(['Tytuł 1', 'e-issn', 'Category'], as_index=False).apply(lambda x: x.combine_first(x.shift(-1))).reset_index(drop=True)

Combined jcr_df:
                                             Tytuł 1       issn     e-issn  \
0                                         3C Empresa  2254-3376  2254-3376
1  Academia-Revista Latinoamericana de Administra...  1012-8255  2056-5127
2                       Academy of Management Annals  1941-6520  1941-6067
3                      ACADEMY OF MANAGEMENT JOURNAL  0001-4273  1948-0989
4                 Academy of Management Perspectives  1558-9080        NaN

          Category  2021 JIF (in 2021) JIF Quartile (in 2021)  \
0  BUSINESS - ESCI                 NaN                    NaN
1  BUSINESS - SSCI               1.369                     Q4
2  BUSINESS - SSCI              19.241                     Q1
3  BUSINESS - SSCI              10.979                     Q1
4  BUSINESS - SSCI               8.069                     Q1

   5 Year JIF (in 2021)  JIF Without Self Cites (in 2021)  \
0                   NaN                               NaN
1                 1.582                             1.185
2                27.258                            18.889
3                16.178                            10.611
4                10.161                             7.776

   JIF Percentile (in 2021)   2021 JCI (in 2021)  JCI Percentile (in 2021)  \
0                       NaN                 0.02                      2.54
1                      8.12                 0.27                     23.56
2                     99.68                 3.75                     99.83
3                     90.58  1954-02-01 00:00:00                     98.14
4                     78.25                 2.05                     94.07

  2022 JIF (in 2022) JIF Quartile (in 2022) 5 Year JIF (in 2022)  \
0                0.3                    NaN                  0.2
1                1.2                     Q4                  1.3
2               21.2                     Q1                 28.6
3               10.5                     Q1                 14.5
4                8.9                     Q1                  9.5

  5 Year JIF Quartile (in 2022) JIF Rank (in 2022)  2022 JCI (in 2022)  \
0                           NaN                NaN                0.04
1                            Q4            143/154                0.28
2                            Q1              1/154                3.56
3                            Q1             15/154                2.40
4                            Q1             26/154                2.00

  JCI Quartile (in 2022) JCI Rank (in 2022)
0                     Q4            284/301
1                     Q4            229/301
2                     Q1              1/301
3                     Q1              8/301
4                     Q1             16/301

In [128]:
# Group by 'issn' and 'Category', and aggregate columns, keeping the first non-NaN value
deduplicated_jcr_df_combined = jcr_df_combined.groupby(['issn', 'Category']).agg(lambda x: x.dropna().iloc[0] if x.notna().any() else np.nan).reset_index()

# Display the deduplicated DataFrame
print("Deduplicated Merged DataFrame:")
deduplicated_jcr_df_combined

Deduplicated Merged DataFrame:

,issn,Category,Tytuł 1,e-issn,2021 JIF (in 2021),JIF Quartile (in 2021),5 Year JIF (in 2021),JIF Without Self Cites (in 2021),JIF Percentile (in 2021),2021 JCI (in 2021),JCI Percentile (in 2021),2022 JIF (in 2022),JIF Quartile (in 2022),5 Year JIF (in 2022),5 Year JIF Quartile (in 2022),JIF Rank (in 2022),2022 JCI (in 2022),JCI Quartile (in 2022),JCI Rank (in 2022)
0,0001-3072,"BUSINESS, FINANCE - SSCI",Abacus-A Journal of Accounting Finance and Bus...,1467-6281,2.060,Q3,3.243,1.800,33.78,0.97,72.62,2.1,Q3,2.6,Q3,69/111,0.66,Q2,96/227
1,0001-4273,BUSINESS - SSCI,ACADEMY OF MANAGEMENT JOURNAL,1948-0989,10.979,Q1,16.178,10.611,90.58,1954-02-01 00:00:00,98.14,10.5,Q1,14.5,Q1,15/154,2.40,Q1,8/301
2,0001-4273,MANAGEMENT - SSCI,ACADEMY OF MANAGEMENT JOURNAL,1948-0989,10.979,Q1,16.178,10.611,93.58,2.54,97.57,10.5,Q1,14.5,Q1,16/227,2.40,Q1,9/396
3,0001-4788,"BUSINESS, FINANCE - SSCI",ACCOUNTING AND BUSINESS RESEARCH,2159-4260,2.326,Q3,3.606,1.953,40.09,1.0,74.43,1.7,Q3,3.2,Q3,78/111,0.70,Q2,90/227
4,0001-4826,"BUSINESS, FINANCE - SSCI",ACCOUNTING REVIEW,1558-7967,5.182,Q1,7.818,4.852,87.84,1.78,92.99,4.1,Q2,6.6,Q1,35/111,1.48,Q1,21/227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2650,8756-6222,ECONOMICS - SSCI,JOURNAL OF LAW ECONOMICS & ORGANIZATION,1465-7341,1.324,Q3,2.019,1.297,26.78,1.11,79.04,1.1,Q4,1.6,Q3,299/380,0.75,Q2,198/581
2651,8756-6222,LAW - SSCI,JOURNAL OF LAW ECONOMICS & ORGANIZATION,1465-7341,NaN,Q2,2.151,2.050,NaN,NaN,NaN,1.1,Q3,1.6,Q2,88/152,0.75,Q2,165/411
2652,8756-8160,LAW - SSCI,ISSUES IN LAW & MEDICINE,NaN,NaN,Q4,0.226,0.320,NaN,NaN,NaN,0.9,Q3,0.7,Q4,102/152,0.88,Q2,134/411
2653,8756-8225,"PSYCHOLOGY, APPLIED - ESCI",JOURNAL OF COLLEGE STUDENT PSYCHOTHERAPY,1540-4730,NaN,NaN,NaN,NaN,NaN,0.27,15.63,1.4,NaN,1.2,NaN,NaN,0.35,Q4,90/115
2654,8756-9728,MANAGEMENT - SSCI,Project Management Journal,1938-9507,4.946,Q2,4.883,4.301,53.76,0.9,62.53,5.0,Q2,5.7,Q2,102/227,0.99,Q2,124/396

### CUBS File
Extracting the required data to prepare a dataframe for concatenation

In [129]:
# Directly create a dataframe from the single file in cabs_data
cabs_df = cabs_data['CABS Journal Ranking 2021.xlsx']

# Clean column names by removing trailing spaces
cabs_df.columns = cabs_df.columns.str.strip()

# Specify the columns and their corresponding new names
columns_mapping = {
    'ISSN': 'e-issn',
    'Field': 'Class',
    'Journal Title': 'Journal Title (CABS)',
    'Publisher Name': 'Publisher Name',
    'AJG 2015': 'AJG 2015',
    'AJG 2018': 'AJG 2018',
    'AJG 2021': 'AJG 2021'
}

# Select and rename columns if they exist in the DataFrame
cabs_df_selected = cabs_df[columns_mapping.keys()].rename(columns=columns_mapping)

# Display the resulting DataFrame
print("CABS DataFrame:")
print(cabs_df_selected.head())

CABS DataFrame:
      e-issn    Class                   Journal Title (CABS)  \
0  1558-7967  ACCOUNT                      Accounting Review
1  1873-6289  ACCOUNT  Accounting, Organizations and Society
2  1879-1980  ACCOUNT    Journal of Accounting and Economics
3  1475-679X  ACCOUNT         Journal of Accounting Research
4  1911-3846  ACCOUNT       Contemporary Accounting Research

                    Publisher Name AJG 2015 AJG 2018 AJG 2021
0  American Accounting Association       4*       4*       4*
1                         Elsevier       4*       4*       4*
2                         Elsevier       4*       4*       4*
3                  Wiley-Blackwell       4*       4*       4*
4                  Wiley-Blackwell        4        4        4

### Join All Sources to Get a Single Output File

In [130]:
# Drop 'e-issn' column from wykaz_df_deduplicated
wykaz_df_deduplicated.drop(columns=['e-issn'], inplace=True)

# Perform an outer join based on 'issn'
merged_df = pd.merge(deduplicated_jcr_df_combined, wykaz_df_deduplicated, left_on=['issn'], right_on=['issn'], how='outer', suffixes=('_jcr', '_wykaz'))
# Fill missing values in 'Tytuł 1' with values from 'Title'
merged_df['Tytuł 1'] = merged_df['Tytuł 1'].fillna(merged_df['Title'])

# Fill missing values in 'e-issn' with values from 'issn'
merged_df['e-issn'] = merged_df['e-issn'].fillna(merged_df['issn'])

# Share value of points between all observations
merged_df = merged_df.groupby(['issn', 'e-issn']).apply(lambda group: group.ffill().bfill())

# Deduplicate merged_df
merged_df = merged_df.drop_duplicates()

# Display the resulting merged DataFrame
print("Merged DataFrame:")
merged_df

C:\Users\Alon\AppData\Local\Temp\ipykernel_8404\63875773.py:9: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  merged_df = merged_df.groupby(['issn', 'e-issn']).apply(lambda group: group.ffill().bfill())

Merged DataFrame:

,issn,Category,Tytuł 1,e-issn,2021 JIF (in 2021),JIF Quartile (in 2021),5 Year JIF (in 2021),JIF Without Self Cites (in 2021),JIF Percentile (in 2021),2021 JCI (in 2021),...,JIF Rank (in 2022),2022 JCI (in 2022),JCI Quartile (in 2022),JCI Rank (in 2022),Title,ekonomia i finance,nauki o zarządzaniu i jakości,Points Dec21,Points Jan24,Points Feb21
0,0001-3072,"BUSINESS, FINANCE - SSCI",Abacus-A Journal of Accounting Finance and Bus...,1467-6281,2.060,Q3,3.243,1.800,33.78,0.97,...,69/111,0.66,Q2,96/227,Abacus-A Journal of Accounting Finance and Bus...,1.0,1.0,70.0,70.0,70.0
1,0001-4273,BUSINESS - SSCI,ACADEMY OF MANAGEMENT JOURNAL,1948-0989,10.979,Q1,16.178,10.611,90.58,1954-02-01 00:00:00,...,15/154,2.40,Q1,8/301,ACADEMY OF MANAGEMENT JOURNAL,NaN,1.0,200.0,200.0,200.0
2,0001-4273,MANAGEMENT - SSCI,ACADEMY OF MANAGEMENT JOURNAL,1948-0989,10.979,Q1,16.178,10.611,93.58,2.54,...,16/227,2.40,Q1,9/396,ACADEMY OF MANAGEMENT JOURNAL,NaN,1.0,200.0,200.0,200.0
3,0001-4788,"BUSINESS, FINANCE - SSCI",ACCOUNTING AND BUSINESS RESEARCH,2159-4260,2.326,Q3,3.606,1.953,40.09,1.0,...,78/111,0.70,Q2,90/227,ACCOUNTING AND BUSINESS RESEARCH,NaN,1.0,100.0,100.0,100.0
4,0001-4826,"BUSINESS, FINANCE - SSCI",ACCOUNTING REVIEW,1558-7967,5.182,Q1,7.818,4.852,87.84,1.78,...,35/111,1.48,Q1,21/227,ACCOUNTING REVIEW,1.0,1.0,200.0,200.0,200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5607,2408-9117,NaN,Journal of Tourism Management Research,2408-9117,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Journal of Tourism Management Research,NaN,1.0,NaN,20.0,NaN
5608,2795-5044,NaN,Journal of Tourism Sustainability and Well-being,2795-5044,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Journal of Tourism Sustainability and Well-being,NaN,1.0,NaN,20.0,NaN
5609,0191-3085,NaN,Research in Organizational Behavior,0191-3085,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Research in Organizational Behavior,NaN,1.0,NaN,70.0,NaN
5610,0767-3701,NaN,Recherche et Applications en Marketing,0767-3701,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Recherche et Applications en Marketing,NaN,1.0,NaN,20.0,NaN
5611,2080-1335,NaN,Przegląd Bezpieczeństwa Wewnętrznego,2080-1335,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Przegląd Bezpieczeństwa Wewnętrznego,NaN,1.0,NaN,20.0,NaN

In [131]:
# Check for duplicates based on 'issn' and 'Category'
duplicates_df = merged_df[merged_df.duplicated(subset=['issn', 'Category'], keep=False)]

# Display the rows with duplicates
print("Duplicate Rows based on 'issn' and 'Category':")
print(duplicates_df)

Duplicate Rows based on 'issn' and 'Category':
           issn Category                                            Tytuł 1  \
3923  2451-1935      NaN                    Econometric Research in Finance
3924  2451-1935      NaN                     Econometric Researc in Finance
3925  1234-8872      NaN    Studia i Prace Kolegium Zarządzania i Finasów
3926  1234-8872      NaN   Studia i Prace Kolegium Zarządzania i Finansów
5455  2080-4075      NaN  Advances in Science and Technology Research Jo...
5456  2080-4075      NaN  Advances in Science and Technology-Research Jo...

         e-issn  2021 JIF (in 2021) JIF Quartile (in 2021)  \
3923  2451-1935                 NaN                    NaN
3924  2451-1935                 NaN                    NaN
3925  1234-8872                 NaN                    NaN
3926  1234-8872                 NaN                    NaN
5455  2080-4075                 NaN                    NaN
5456  2080-4075                 NaN                    NaN

      5 Year JIF (in 2021)  JIF Without Self Cites (in 2021)  \
3923                   NaN                               NaN
3924                   NaN                               NaN
3925                   NaN                               NaN
3926                   NaN                               NaN
5455                   NaN                               NaN
5456                   NaN                               NaN

      JIF Percentile (in 2021) 2021 JCI (in 2021)  ...  JIF Rank (in 2022)  \
3923                       NaN                NaN  ...                 NaN
3924                       NaN                NaN  ...                 NaN
3925                       NaN                NaN  ...                 NaN
3926                       NaN                NaN  ...                 NaN
5455                       NaN                NaN  ...                 NaN
5456                       NaN                NaN  ...                 NaN

     2022 JCI (in 2022) JCI Quartile (in 2022) JCI Rank (in 2022)  \
3923                NaN                    NaN                NaN
3924                NaN                    NaN                NaN
3925                NaN                    NaN                NaN
3926                NaN                    NaN                NaN
5455                NaN                    NaN                NaN
5456                NaN                    NaN                NaN

                                                  Title ekonomia i finance  \
3923                    Econometric Research in Finance                1.0
3924                     Econometric Researc in Finance                1.0
3925    Studia i Prace Kolegium Zarządzania i Finasów                1.0
3926   Studia i Prace Kolegium Zarządzania i Finansów                1.0
5455  Advances in Science and Technology Research Jo...                NaN
5456  Advances in Science and Technology-Research Jo...                NaN

      nauki o zarządzaniu i jakości Points Dec21 Points Jan24 Points Feb21
3923                            NaN         20.0         20.0          NaN
3924                            NaN         20.0         20.0          NaN
3925                            1.0         40.0         40.0          NaN
3926                            1.0         40.0         40.0          NaN
5455                            1.0        100.0        100.0          NaN
5456                            1.0        100.0        100.0          NaN

[6 rows x 25 columns]

In [132]:
# Merge CABS file to add classifications
merged_all_df = pd.merge(merged_df, cabs_df_selected, left_on=['e-issn'], right_on=['e-issn'], how='outer')

In [133]:
# Check for duplicates based on 'issn' and 'Category'
duplicates_df = merged_all_df[merged_all_df.duplicated(subset=['issn', 'Category'], keep=False)]

# Display the rows with duplicates
print("Duplicate Rows based on 'issn' and 'Category':")
print(duplicates_df)

Duplicate Rows based on 'issn' and 'Category':
           issn Category                                            Tytuł 1  \
3911  2451-1935      NaN                    Econometric Research in Finance
3912  2451-1935      NaN                     Econometric Researc in Finance
3913  1234-8872      NaN    Studia i Prace Kolegium Zarządzania i Finasów
3914  1234-8872      NaN   Studia i Prace Kolegium Zarządzania i Finansów
5435  2080-4075      NaN  Advances in Science and Technology Research Jo...
...         ...      ...                                                ...
6307        NaN      NaN                                                NaN
6308        NaN      NaN                                                NaN
6309        NaN      NaN                                                NaN
6310        NaN      NaN                                                NaN
6311        NaN      NaN                                                NaN

         e-issn  2021 JIF (in 2021) JIF Quartile (in 2021)  \
3911  2451-1935                 NaN                    NaN
3912  2451-1935                 NaN                    NaN
3913  1234-8872                 NaN                    NaN
3914  1234-8872                 NaN                    NaN
5435  2080-4075                 NaN                    NaN
...         ...                 ...                    ...
6307  1947-8577                 NaN                    NaN
6308  2246-2465                 NaN                    NaN
6309  2055-5644                 NaN                    NaN
6310  1755-4268                 NaN                    NaN
6311  2198-1639                 NaN                    NaN

      5 Year JIF (in 2021)  JIF Without Self Cites (in 2021)  \
3911                   NaN                               NaN
3912                   NaN                               NaN
3913                   NaN                               NaN
3914                   NaN                               NaN
5435                   NaN                               NaN
...                    ...                               ...
6307                   NaN                               NaN
6308                   NaN                               NaN
6309                   NaN                               NaN
6310                   NaN                               NaN
6311                   NaN                               NaN

      JIF Percentile (in 2021) 2021 JCI (in 2021)  ...  \
3911                       NaN                NaN  ...
3912                       NaN                NaN  ...
3913                       NaN                NaN  ...
3914                       NaN                NaN  ...
5435                       NaN                NaN  ...
...                        ...                ...  ...
6307                       NaN                NaN  ...
6308                       NaN                NaN  ...
6309                       NaN                NaN  ...
6310                       NaN                NaN  ...
6311                       NaN                NaN  ...

      nauki o zarządzaniu i jakości Points Dec21 Points Jan24 Points Feb21  \
3911                            NaN         20.0         20.0          NaN
3912                            NaN         20.0         20.0          NaN
3913                            1.0         40.0         40.0          NaN
3914                            1.0         40.0         40.0          NaN
5435                            1.0        100.0        100.0          NaN
...                             ...          ...          ...          ...
6307                            NaN          NaN          NaN          NaN
6308                            NaN          NaN          NaN          NaN
6309                            NaN          NaN          NaN          NaN
6310                            NaN          NaN          NaN          NaN
6311                            NaN          NaN          NaN          NaN

      Class                               Journal Title (CABS)  \
3911    NaN                                                NaN
3912    NaN                                                NaN
3913    NaN                                                NaN
3914    NaN                                                NaN
5435    NaN                                                NaN
...     ...                                                ...
6307  STRAT  International Journal of Strategic Decision Sc...
6308  STRAT                         Journal of Business Models
6309  STRAT   Journal of Strategic Contracting and Negotiation
6310  STRAT                 Journal of Strategy and Management
6311  STRAT                        Management Review Quarterly

             Publisher Name AJG 2015 AJG 2018 AJG 2021
3911                    NaN      NaN      NaN      NaN
3912                    NaN      NaN      NaN      NaN
3913                    NaN      NaN      NaN      NaN
3914                    NaN      NaN      NaN      NaN
5435                    NaN      NaN      NaN      NaN
...                     ...      ...      ...      ...
6307  IGI Global Publishing      NaN        1        1
6308    Business Design Lab      NaN      NaN        1
6309                   SAGE      NaN        1        1
6310                Emerald      NaN        1        1
6311        Springer Nature      NaN      NaN        1

[726 rows x 31 columns]

In [134]:
# Organise columns for saving
desired_order = [
     'Class','Category', 'issn', 'e-issn', 'Journal Title (CABS)', 'Tytuł 1',
    'AJG 2015', 'AJG 2018', 'AJG 2021', '2022 JIF (in 2022)', 'JIF Quartile (in 2022)', 'JIF Rank (in 2022)',
    '5 Year JIF (in 2022)', '5 Year JIF Quartile (in 2022)', '2022 JCI (in 2022)', 'JCI Rank (in 2022)',
    'JCI Quartile (in 2022)', '2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '5 Year JIF (in 2021)',
    'JIF Without Self Cites (in 2021)', 'JIF Percentile (in 2021)', '2021 JCI (in 2021)', 'JCI Percentile (in 2021)',
    'Points Feb21', 'Points Dec21', 'Points Jan24', 'ekonomia i finance', 'nauki o zarządzaniu i jakości', 'Publisher Name'
]

# Reorder the columns
merged_all_df = merged_all_df[desired_order]

In [135]:
# Perform small cosmetic changes before saving
merged_all_df['Class'].fillna(merged_all_df['Category'], inplace=True) # Fill missing Class values from JCR Category column
# Rename  Category to "JCR Class"
merged_all_df.rename(columns={'Category': 'JCR Class'}, inplace=True)

merged_all_df.sort_values(by=['issn', 'Journal Title (CABS)', 'Tytuł 1'], inplace=True)  # Sort by specified columns

In [136]:
merged_all_df['Class']

4069                     NaN
0                    ACCOUNT
3981                     NaN
1             ETHICS-CSR-MAN
2             ETHICS-CSR-MAN
                ...
5986                     MKT
6156          PSYCH (WOP-OB)
6104         PSYCH (GENERAL)
5630    BUS HIST & ECON HIST
5883                INFO MAN
Name: Class, Length: 6312, dtype: object

In [137]:
# Clean Class to iterate through it and dynamically save it to Excel
class_counts = merged_all_df['Class'].value_counts().reset_index()
class_counts.columns = ['Class', 'Observations']
print(class_counts)

# Rename and organize classes according to CABS and JCR
class_mapping = {
    'BUSINESS, FINANCE - SSCI': 'BUSINESS, FINANCE',
    'BUSINESS, FINANCE - ESCI': 'BUSINESS, FINANCE',
    'BUSINESS - SSCI': 'BUSINESS',
    'BUSINESS - ESCI': 'BUSINESS',
    'ECONOMICS - SSCI': 'ECONOMICS',
    'ECONOMICS - ESCI': 'ECONOMICS',
    'MANAGEMENT - SSCI': 'MANAGEMENT',
    'MANAGEMENT - ESCI': 'MANAGEMENT',
    'ECON': 'CABS ECON',
    'ETHICS-CSR-MAN': 'CABS ETHICS-CSR-MAN',
    'FINANCE': 'CABS FINANCE',
    'SECTOR': 'CABS SECTOR',
    'INFO MAN': 'CABS INFO MAN',
    'ACCOUNT': 'CABS ACCOUNT',
    'SOC SCI': 'CABS SOC SCI',
    'MKT': 'CABS MKT',
    'OR&MANSCI': 'CABS OR&MANSCI',
    'OPS&TECH': 'CABS OPS&TECH',
    'PSYCH (GENERAL)': 'CABS PSYCH (GENERAL)',
    'PSYCH (WOP-OB)': 'CABS PSYCH (WOP-OB)',
    'HRM&EMP': 'CABS HRM&EMP',
    'PUB SEC': 'CABS PUB SEC',
    'IB&AREA': 'CABS IB&AREA',
    'MDEV&EDU': 'CABS MDEV&EDU',
    'INNOV': 'CABS INNOV',
    'ORG STUD': 'CABS ORG STUD',
    'ENT-SBM': 'CABS ENT-SBM',
    'REGIONAL STUDIES, PLANNING AND ENVIRONMENT': 'CABS REGIONAL STUDIES, PLANNING AND ENVIRONMENT',
    'BUS HIST & ECON HIST': 'CABS BUS HIST & ECON HIST',
    'STRAT': 'CABS STRAT',
    'LAW - ESCI':'LAW',
    'LAW - SSCI':'LAW',
    'SOCIOLOGY - SSCI':'SOCIOLOGY',
    'SOCIOLOGY - ESCI':'SOCIOLOGY',
    'HEALTH POLICY & SERVICES - SSCI':'HEALTH POLICY & SERVICES',
    'HEALTH POLICY & SERVICES - ESCI':'HEALTH POLICY & SERVICES',
    'PUBLIC ADMINISTRATION - SSCI':'PUBLIC ADMINISTRATION',
    'PUBLIC ADMINISTRATION - ESCI':'PUBLIC ADMINISTRATION', 
    'CULTURAL STUDIES - ESCI':'CULTURAL STUDIES',
    'CULTURAL STUDIES - SSCI':'CULTURAL STUDIES',
    'PSYCHOLOGY, SOCIAL - ESCI' : 'PSYCHOLOGY, SOCIAL',
    'PSYCHOLOGY, SOCIAL - SSCI' : 'PSYCHOLOGY, SOCIAL',
    'PSYCHOLOGY, APPLIED - SSCI' : 'PSYCHOLOGY, APPLIED',
    'PSYCHOLOGY, APPLIED - ESCI' : 'PSYCHOLOGY, APPLIED',
    'CULTURAL STUDIES - AHCI' : 'CULTURAL STUDIES',
    'CULTURAL STUDIES - AHCI;CULTURAL STUDIES - SSCI' : 'CULTURAL STUDIES',
    'CULTURAL STUDIES - SSCI':'CULTURAL STUDIES'
}

merged_all_df['Class'] = merged_all_df['Class'].replace(class_mapping)

                                              Class  Observations
0                                              ECON           372
1                                        LAW - ESCI           264
2                                  ECONOMICS - ESCI           155
3                                    ETHICS-CSR-MAN           145
4                                        LAW - SSCI           144
5                                           FINANCE           138
6                                 MANAGEMENT - ESCI           117
7                                  SOCIOLOGY - SSCI           113
8                                            SECTOR           112
9                                           SOC SCI           103
10                                         INFO MAN           102
11                                          ACCOUNT           100
12                                  BUSINESS - ESCI            90
13                                              MKT            87
14                                   PSYCH (WOP-OB)            81
15                                 ECONOMICS - SSCI            79
16                                         OPS&TECH            74
17                  HEALTH POLICY & SERVICES - SSCI            71
18                                        OR&MANSCI            71
19                                  PSYCH (GENERAL)            69
20                                          HRM&EMP            66
21                                          IB&AREA            66
22                         BUSINESS, FINANCE - ESCI            62
23                                          PUB SEC            58
24                                 SOCIOLOGY - ESCI            57
25                                         MDEV&EDU            51
26                                            INNOV            49
27                                         ORG STUD            45
28                          CULTURAL STUDIES - SSCI            42
29                          CULTURAL STUDIES - AHCI            42
30                        PSYCHOLOGY, SOCIAL - SSCI            42
31  CULTURAL STUDIES - AHCI;CULTURAL STUDIES - SSCI            41
32                                          ENT-SBM            38
33                       PSYCHOLOGY, APPLIED - SSCI            34
34       REGIONAL STUDIES, PLANNING AND ENVIRONMENT            34
35                                MANAGEMENT - SSCI            30
36                             BUS HIST & ECON HIST            29
37                     PUBLIC ADMINISTRATION - ESCI            29
38                                  BUSINESS - SSCI            25
39                                            STRAT            24
40                       PSYCHOLOGY, APPLIED - ESCI            24
41                  HEALTH POLICY & SERVICES - ESCI            23
42                     PUBLIC ADMINISTRATION - SSCI            19
43                          CULTURAL STUDIES - ESCI            14
44                         BUSINESS, FINANCE - SSCI            10
45                        PSYCHOLOGY, SOCIAL - ESCI             9

In [138]:
merged_all_df['Class'].unique()

array([nan, 'CABS ACCOUNT', 'CABS ETHICS-CSR-MAN', 'ECONOMICS',
       'SOCIOLOGY', 'PUBLIC ADMINISTRATION', 'LAW', 'CABS PSYCH (WOP-OB)',
       'BUSINESS', 'CABS ECON', 'CABS SOC SCI',
       'CABS BUS HIST & ECON HIST', 'HEALTH POLICY & SERVICES',
       'PSYCHOLOGY, APPLIED', 'CABS OR&MANSCI',
       'CABS REGIONAL STUDIES, PLANNING AND ENVIRONMENT', 'MANAGEMENT',
       'BUSINESS, FINANCE', 'CABS FINANCE', 'CABS IB&AREA',
       'CABS PUB SEC', 'CABS ORG STUD', 'CABS OPS&TECH', 'CABS HRM&EMP',
       'CABS MKT', 'PSYCHOLOGY, SOCIAL', 'CABS PSYCH (GENERAL)',
       'CULTURAL STUDIES', 'CABS SECTOR', 'CABS STRAT', 'CABS INNOV',
       'CABS ENT-SBM', 'CABS INFO MAN', 'CABS MDEV&EDU'], dtype=object)

In [142]:
# Save to Excel with separate sheets for each Class
excel_output_path = 'output file.xlsx'

# Create an ExcelWriter
with pd.ExcelWriter(excel_output_path, engine='xlsxwriter') as writer:
    # Get unique classes and handle NaN
    unique_classes = merged_all_df['Class'].fillna('unclassified').unique()

    # Define colors
    colors = {
        'light_gray': '#D3D3D3',  # Light Gray
        'purple': '#800080',       # Purple
        'light_blue': '#ADD8E6',   # Light Blue
        'salmon': '#FA8072',       # Salmon
        'black_white': '#000000'   # Black with White Letters
    }

    # Define formats for each color
    formats = {}
    workbook = writer.book
    for color, hex_code in colors.items():
        formats[color] = workbook.add_format({'font_color': 'white' if color == 'black_white' else 'black',
                                               'bg_color': hex_code})

    # Write each class to a separate sheet
    for class_name in unique_classes:
        # Limit the length of the class name
        sheet_name = 'unclassified' if pd.isna(class_name) else str(class_name)[:31]

        # Filter rows for each class
        class_df = merged_all_df[merged_all_df['Class'].fillna('unclassified') == class_name]

        # Write to Excel sheet
        class_df.to_excel(writer, sheet_name=sheet_name, index=False)

        # Apply color formatting to header row
        worksheet = writer.sheets[sheet_name]
        for col_num, col_name in enumerate(class_df.columns):
            color_format = None
            if col_name in ['Class','JCR Class', 'issn', 'e-issn', 'Journal Title (CABS)', 'Tytuł 1','AJG 2015', 'AJG 2018', 'AJG 2021']:
                color_format = formats['light_gray']
            elif col_name in ['2022 JIF (in 2022)', 'JIF Quartile (in 2022)', 'JIF Rank (in 2022)',
                              '5 Year JIF (in 2022)', '5 Year JIF Quartile (in 2022)', '2022 JCI (in 2022)',
                              'JCI Rank (in 2022)', 'JCI Quartile (in 2022)']:
                color_format = formats['purple']
            elif col_name in ['2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '5 Year JIF (in 2021)',
                              'JIF Without Self Cites (in 2021)', 'JIF Percentile (in 2021)', '2021 JCI (in 2021)',
                              'JCI Percentile (in 2021)']:
                color_format = formats['light_blue']
            elif col_name in ['Points Feb21', 'Points Dec21', 'Points Jan24']:
                color_format = formats['salmon']
            elif col_name in ['ekonomia i finance', 'nauki o zarządzaniu i jakości', 'Publisher Name']:
                color_format = formats['black_white']
            if color_format:
                worksheet.write(0, col_num, col_name, color_format)

    # Write 'all' sheet with entire merged_all_df data
    merged_all_df.to_excel(writer, sheet_name='all', index=False)

    # Apply color formatting to header row of 'all' sheet
    all_worksheet = writer.sheets['all']
    for col_num, col_name in enumerate(merged_all_df.columns):
        color_format = None
        if col_name in ['Class','JCR Class', 'issn', 'e-issn', 'Journal Title (CABS)', 'Tytuł 1','AJG 2015', 'AJG 2018', 'AJG 2021']:
            color_format = formats['light_gray']
        elif col_name in ['2022 JIF (in 2022)', 'JIF Quartile (in 2022)', 'JIF Rank (in 2022)',
                          '5 Year JIF (in 2022)', '5 Year JIF Quartile (in 2022)', '2022 JCI (in 2022)',
                          'JCI Rank (in 2022)', 'JCI Quartile (in 2022)']:
            color_format = formats['purple']
        elif col_name in ['2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '5 Year JIF (in 2021)',
                          'JIF Without Self Cites (in 2021)', 'JIF Percentile (in 2021)', '2021 JCI (in 2021)',
                          'JCI Percentile (in 2021)']:
            color_format = formats['light_blue']
        elif col_name in ['Points Feb21', 'Points Dec21', 'Points Jan24']:
            color_format = formats['salmon']
        elif col_name in ['ekonomia i finance', 'nauki o zarządzaniu i jakości', 'Publisher Name']:
            color_format = formats['black_white']
        if color_format:
            all_worksheet.write(0, col_num, col_name, color_format)

# Save the Excel file
writer.save()

C:\Users\Alon\AppData\Local\Temp\ipykernel_8404\3057089194.py:82: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()
c:\Python311\Lib\site-packages\xlsxwriter\workbook.py:368: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

### 2nd Task - JCR 2022

In [159]:
# Define file paths
file_2022 = 'source files/JCR_2022_ALL.xlsx'
file_2021 = 'source files/JCR_2021_ALL.xlsx'

# Load Excel file for 2022 into a DataFrame
jcr_2022_df = pd.read_excel(file_2022, sheet_name='ALL')

# Load Excel file for 2021, concatenating all sheets into a single DataFrame
jcr_2021_sheets = pd.read_excel(file_2021, sheet_name=None)
jcr_2021_df = pd.concat(jcr_2021_sheets.values(), ignore_index=True)

In [162]:
# Check for duplicate ISSN values in jcr_2022_df based on ISSN and Category
duplicate_2022 = jcr_2022_df[jcr_2022_df.duplicated(subset=['ISSN', 'Category'], keep=False)]
print("Duplicate ISSN values in jcr_2022_df:", len(duplicate_2022))

# Check for duplicate ISSN values in jcr_2021_df based on ISSN and Category
duplicate_2021 = jcr_2021_df[jcr_2021_df.duplicated(subset=['ISSN', 'Category'], keep=False)]
print("Duplicate ISSN values in jcr_2021_df:", len(duplicate_2021))

Duplicate ISSN values in jcr_2022_df: 63
Duplicate ISSN values in jcr_2021_df: 44

In [171]:
# Fill missing values in ISSN from eISSN to allow for the join function to find unique matches
# Fill missing values in 'ISSN' from 'eISSN' in jcr_2022_df
jcr_2022_df['ISSN'].fillna(jcr_2022_df['eISSN'], inplace=True)

# Fill missing values in 'ISSN' from 'eISSN' in jcr_2021_df
jcr_2021_df['ISSN'].fillna(jcr_2021_df['eISSN'], inplace=True)

Extend jcr_2022_df by the other dataframes

In [176]:
### 2022 with 2021
# Merge 2021 data to 2022 based on ISSN and Category columns, keeping only observations from 2022
jcr_extended = pd.merge(jcr_2022_df, jcr_2021_df, on=['ISSN', 'Category'], how='left', suffixes=('_2022', '_2021'))

# Select and rename columns
jcr_extended = jcr_extended[['Journal name_2022', 'ISSN', 'eISSN_2022', 'Category', '2022 JIF', 'JIF Quartile_2022',
                             'JIF Rank', '5 Year JIF_2022', '5 Year JIF Quartile', '2022 JCI', 'JCI Rank',
                             'JCI Quartile', '2021 JIF', 'JIF Quartile_2021', '5 Year JIF_2021',
                             'JIF Without Self Cites', 'JIF Percentile', '2021 JCI', 'JCI Percentile']]

jcr_extended.columns = ['Journal name', 'issn', 'e-issn', 'Category', 'JIF_2022', 'JIF Quartile_2022',
                        'JIF Rank_2022', '5 Year JIF_2022', '5 Year JIF Quartile_2022', 'JCI_2022', 'JCI Rank_2022',
                        'JCI Quartile_2022', '2021 JIF_2022', 'JIF Quartile_2021', '5 Year JIF_2021',
                        'JIF Without Self Cites_2021', 'JIF Percentile_2021', 'JCI_2021', 'JCI Percentile_2021']

In [192]:
### jcr_extended with wykaz
# Share value of points between all observations
wykaz_df_deduplicated = wykaz_df_deduplicated.groupby(['issn']).apply(lambda group: group.ffill().bfill())

# Deduplicate based on the 'ISSN' column
wykaz_df_deduplicated = wykaz_df_deduplicated.drop_duplicates(subset=['issn'])

# Merge wykaz_df_deduplicated data to jcr_extended based on ISSN and Category columns, keeping only observations from 2022
jcr_wykaz = pd.merge(jcr_extended, wykaz_df_deduplicated, on=['issn'], how='left')

C:\Users\Alon\AppData\Local\Temp\ipykernel_8404\4203177485.py:3: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  wykaz_df_deduplicated = wykaz_df_deduplicated.groupby(['issn']).apply(lambda group: group.ffill().bfill())

In [195]:
# jcr_wykaz extended with CABS
jcr_wykaz_cabs = pd.merge(jcr_wykaz, cabs_df_selected, left_on=['issn'], right_on=['e-issn'], how='left')

# List of columns to drop
columns_to_drop = ['e-issn_y', 'Class', 'Journal Title (CABS)', 'Publisher Name']

# Drop the columns
jcr_wykaz_cabs.drop(columns=columns_to_drop, inplace=True)

# Rename the e-issn column
jcr_wykaz_cabs.rename(columns={'e-issn_x': 'e-issn'}, inplace=True)

In [198]:
# Save the file back to an excel output
# Dictionary to map Category to sheet names
category_sheet_mapping = {
    'BUSINESS, FINANCE - SSCI': 'BUSINESS, FINANCE',
    'BUSINESS, FINANCE - ESCI': 'BUSINESS, FINANCE',
    'BUSINESS - SSCI': 'BUSINESS',
    'BUSINESS - ESCI': 'BUSINESS',
    'CULTURAL STUDIES - ESCI': 'CULTURAL STUDIES',
    'CULTURAL STUDIES - SSCI': 'CULTURAL STUDIES',
    'ECONOMICS - SSCI': 'ECONOMICS',
    'ECONOMICS - ESCI': 'ECONOMICS',
    'HEALTH POLICY & SERVICES - SSCI': 'HEALTH POLICY & SERVICES',
    'HEALTH POLICY & SERVICES - ESCI': 'HEALTH POLICY & SERVICES',
    'LAW - ESCI': 'LAW',
    'LAW - SSCI': 'LAW',
    'MANAGEMENT - SSCI': 'MANAGEMENT',
    'MANAGEMENT - ESCI': 'MANAGEMENT',
    'PSYCHOLOGY, APPLIED - SSCI': 'PSYCHOLOGY, APPLIED',
    'PSYCHOLOGY, APPLIED - ESCI': 'PSYCHOLOGY, APPLIED',
    'PSYCHOLOGY, SOCIAL - ESCI': 'PSYCHOLOGY, SOCIAL',
    'PSYCHOLOGY, SOCIAL - SSCI': 'PSYCHOLOGY, SOCIAL',
    'PUBLIC ADMINISTRATION - SSCI': 'PUBLIC ADMINISTRATION',
    'PUBLIC ADMINISTRATION - ESCI': 'PUBLIC ADMINISTRATION', 
    'SOCIOLOGY - SSCI': 'SOCIOLOGY',
    'SOCIOLOGY - ESCI': 'SOCIOLOGY'
}

# Save to Excel with separate sheets for each Category
excel_output_path = 'jcr_wykaz_cabs.xlsx'

# Create an ExcelWriter
with pd.ExcelWriter(excel_output_path, engine='xlsxwriter') as writer:
    # Iterate over unique Categories and create sheets
    for category, sheet_name in category_sheet_mapping.items():
        # Filter rows for each Category
        category_df = jcr_wykaz_cabs[jcr_wykaz_cabs['Category'] == category]
        # Write to Excel sheet
        category_df.to_excel(writer, sheet_name=sheet_name, index=False)
    
    # Add additional sheet named "ALL" containing entire DataFrame
    jcr_wykaz_cabs.to_excel(writer, sheet_name='ALL', index=False)