In [1]:
import numpy as np
import pandas as pd
import os
import unicodedata

## Data Loading
### focus on journals related to finance, economics, management, etc., specifically:
<ol>
  <li>from CABS file use all journals in spreadsheet “CABS 2021”</li>
  <li>from JCR files use all journals in spreadsheets: BUSINESS, BUSINESS, FINANCE, ECONOMICS, MANAGEMENT
</li>
  <li>from “Wykaz…” files use the journals from the following:
ekonomia i finanse		nauki o zarządzaniu i jakości
501		506;
Use only spreadsheet “czasopisma naukowe”
</li>
</ol>

Note that if the journal appears at least in one of the source, it has to be taken into account

In [2]:
# Specify the directory containing your Excel files
directory_path = 'source files'

# Get a list of all Excel files in the directory
excel_files = [file for file in os.listdir(directory_path) if file.endswith('.xlsx')]

# Create dictionaries to store loaded data frames for CABS, JCR, and WYKAZ
cabs_data = {}
jcr_data = {}
wykaz_data = {}

# Load from CABS file
cabs_file = [file for file in excel_files if "CABS" in file][0]
cabs_sheet = "CABS 2021"
cabs_file_path = os.path.join(directory_path, cabs_file)
try:
    cabs_df = pd.read_excel(cabs_file_path, sheet_name=cabs_sheet)
    cabs_data[cabs_file] = cabs_df
except Exception as e:
    print(f"Error loading {cabs_file}: {e}")

# Load from JCR files
jcr_files = [file for file in excel_files if "JCR" in file]
jcr_sheets = ["BUSINESS", "BUSINESS, FINANCE", "ECONOMICS", "MANAGEMENT"]
for jcr_file in jcr_files:
    jcr_file_path = os.path.join(directory_path, jcr_file)
    try:
        jcr_df = pd.read_excel(jcr_file_path, sheet_name=jcr_sheets)
        jcr_data[jcr_file] = jcr_df
    except Exception as e:
        print(f"Error loading {jcr_file}: {e}")

# Load from files containing the word “Wykaz”
wykaz_files = [file for file in excel_files if "Wykaz" in file]
for wykaz_file in wykaz_files:
    wykaz_file_path = os.path.join(directory_path, wykaz_file)
    try:
        wykaz_df = None
        with pd.ExcelFile(wykaz_file_path) as xls:
            for sheet_name in xls.sheet_names:
                if "czasopisma" in sheet_name.lower():
                    wykaz_df = pd.read_excel(wykaz_file_path, sheet_name=sheet_name, engine='openpyxl')

                    wykaz_data[wykaz_file] = wykaz_df
                    break
        if wykaz_df is None:
            print(f"No sheet containing 'czasopisma' found in {wykaz_file}")
    except Exception as e:
        print(f"Error loading {wykaz_file}: {e}")

# Print the dictionaries
print("CABS Data:")
print(cabs_data.keys())

print("\nJCR Data:")
print(jcr_data.keys())

print("\nWYKAZ Data:")
print(wykaz_data.keys())

CABS Data:
dict_keys(['CABS Journal Ranking 2021.xlsx'])

JCR Data:
dict_keys(['JCR_2021_ALL.xlsx', 'JCR_2022_ALL.xlsx'])

WYKAZ Data:
dict_keys(['20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx', '20240105_Wykaz_czasopism_naukowych_2024_styczeń.xlsx', 'Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx'])

In [3]:
# Replace preceeding column names with true column names
def process_dataframes(dictionary_name, data_dict):
    for file_name, data_frame in data_dict.items():
        # Check if 'issn' is present in any column name (case-insensitive)
        has_issn_column = any('issn' in str(col).lower() for col in data_frame.columns)

        if not has_issn_column:
            # Make the first row the column names
            data_frame.columns = data_frame.iloc[0]
            data_frame = data_frame[1:]  # Exclude the first row after using it as column names

            # Reset the index after excluding the first row
            data_frame.reset_index(drop=True, inplace=True)

            # Update the dataframe in the dictionary
            data_dict[file_name] = data_frame

    print(f"Processed {dictionary_name} data frames.")

process_dataframes('WYKAZ', wykaz_data)

Processed WYKAZ data frames.

In [4]:
# Rename duplicate and inconsistent column names
def rename_duplicate_columns_in_dict(data_dict):
    for df_name, df in data_dict.items():
        column_count = {}
        new_columns = []

        for column in df.columns:
            if column not in column_count:
                column_count[column] = 1
                new_column = column
            else:
                column_count[column] += 1
                new_column = f"{column}{column_count[column]}"

            new_columns.append(new_column)

        df.columns = new_columns

        # Change 'issn.1' to 'issn2' and 'e-issn.1' to 'e-issn2'
        if 'issn.1' in df.columns:
            df.rename(columns={'issn.1': 'issn2', 'e-issn.1': 'e-issn2'}, inplace=True)

        # Change 'Punktacja' to 'Punkty'
        if 'Punktacja' in df.columns:
            df.rename(columns={'Punktacja': 'Points Jan24'}, inplace=True)

        data_dict[df_name] = df

    return data_dict

# Call the function to rename duplicate columns in all DataFrames
rename_duplicate_columns_in_dict(wykaz_data)

{'20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx':          Lp.  Unikatowy Identyfikator Czasopisma  \
 0          1                                   1
 1          2                                   2
 2          3                                   3
 3          4                                   4
 4          5                                   5
 ...      ...                                 ...
 32671  32672                              201488
 32672  32673                              201489
 32673  32674                              201490
 32674  32675                              201491
 32675  32676                              201492

                                                  Tytuł 1       issn  \
 0                                           2D Materials  2053-1583
 1                                              3 Biotech  2190-572X
 2                                             3C Empresa  2254-3376
 3                                          3c Tecnologia  2254-4143
 4                                                 3C Tic  2254-6529
 ...                                                  ...        ...
 32671                                              Semen  1957-780X
 32672                            Państwo i Społeczeństwo  1643-8299
 32673                                      Niepodległość  0272-0280
 32674  Advances in Science and Technology Research Jo...  2080-4075
 32675                                     De Re Militari  2392-3911

           e-issn       Tytuł 2      issn2    e-issn2 Punkty  101  ...  510  \
 0      2053-1583  2D Materials        NaN  2053-1583    140  NaN  ...  NaN
 1      2190-5738     3 Biotech  2190-572X  2190-5738     70  NaN  ...  NaN
 2      2254-3376           NaN        NaN        NaN     20  NaN  ...  NaN
 3      2254-4143           NaN        NaN        NaN     20  NaN  ...  NaN
 4      2254-6529           NaN        NaN        NaN     20  NaN  ...  NaN
 ...          ...           ...        ...        ...    ...  ...  ...  ...
 32671        NaN           NaN        NaN        NaN     20  NaN  ...  NaN
 32672        NaN           NaN        NaN        NaN     40  NaN  ...  NaN
 32673        NaN           NaN        NaN        NaN     70  NaN  ...  NaN
 32674        NaN           NaN        NaN        NaN    100  NaN  ...  NaN
 32675        NaN           NaN        NaN        NaN     20  NaN  ...  NaN

        511  601  602  603  604  605  606  607  701
 0      NaN  NaN  NaN  NaN  NaN    x    x  NaN  NaN
 1      NaN  NaN  NaN  NaN    x  NaN  NaN  NaN  NaN
 2      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 3      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 4      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 ...    ...  ...  ...  ...  ...  ...  ...  ...  ...
 32671  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 32672    x  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 32673  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 32674  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 32675  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

 [32676 rows x 53 columns],
 '20240105_Wykaz_czasopism_naukowych_2024_styczeń.xlsx':          Lp. Unikatowy Identyfikator Czasopisma  \
 0          1                                  1
 1          2                                  2
 2          3                                  3
 3          4                                  4
 4          5                                  5
 ...      ...                                ...
 34083  34084                             503644
 34084  34085                             493586
 34085  34086                             502816
 34086  34087                             504805
 34087  34088                             504128

                                                  Tytuł 1       issn  \
 0                                           2D Materials  2053-1583
 1                                              3 Biotech  2190-572X
 2                                             3C Empresa  2254-3376
 3                                          3c Tecnologia  2254-4143
 4                                                 3C Tic  2254-6529
 ...                                                  ...        ...
 34083                    Studia Capuccinorum Boziniensia  2585-8025
 34084                                 Teologický časopis  1336-3395
 34085                       Studia Teologii Dogmatycznej  2449-7452
 34086  Zeszty Naukowe Wyższej Szkoły Ekonomiczno-Spol...  2391-9167
 34087  Rocznik Muzeum „Górnośląski Park Etnograficzny...  2353-2734

           e-issn                                            Tytuł 2  \
 0      2053-1583                                       2D Materials
 1      2190-5738                                          3 Biotech
 2      2254-3376                                                NaN
 3      2254-4143                                                NaN
 4      2254-6529                                                NaN
 ...          ...                                                ...
 34083        NaN                    Studia Capuccinorum Boziniensia
 34084        NaN                                 Teologický časopis
 34085        NaN                   The Studies in Dogmatic Theology
 34086        NaN               WSES Scientific Studies in Ostroleka
 34087        NaN  Yearbook of the Museum “Upper Silesian Ethnogr...

            issn2    e-issn2 Points Jan24  101  ...  608  602  603  604  605  \
 0            NaN  2053-1583          140  NaN  ...    x  NaN  NaN  NaN    x
 1      2190-572X  2190-5738           70  NaN  ...    x  NaN  NaN    x  NaN
 2            NaN        NaN           20  NaN  ...  NaN  NaN  NaN  NaN  NaN
 3            NaN        NaN           20  NaN  ...  NaN  NaN  NaN  NaN  NaN
 4            NaN        NaN           20  NaN  ...  NaN  NaN  NaN  NaN  NaN
 ...          ...        ...          ...  ...  ...  ...  ...  ...  ...  ...
 34083        NaN        NaN           20  NaN  ...  NaN  NaN  NaN  NaN  NaN
 34084        NaN        NaN           20  NaN  ...  NaN  NaN  NaN  NaN  NaN
 34085        NaN        NaN           20  NaN  ...  NaN  NaN  NaN  NaN  NaN
 34086        NaN        NaN           20  NaN  ...  NaN  NaN  NaN  NaN  NaN
 34087        NaN        NaN           20    x  ...  NaN  NaN  NaN  NaN  NaN

        606  607  702  701 1001
 0        x  NaN  NaN  NaN  NaN
 1      NaN  NaN  NaN  NaN  NaN
 2      NaN  NaN  NaN  NaN  NaN
 3      NaN  NaN  NaN  NaN  NaN
 4      NaN  NaN  NaN  NaN  NaN
 ...    ...  ...  ...  ...  ...
 34083  NaN  NaN  NaN  NaN  NaN
 34084  NaN  NaN  NaN  NaN  NaN
 34085  NaN  NaN    x    x  NaN
 34086  NaN  NaN  NaN  NaN  NaN
 34087  NaN  NaN  NaN  NaN  NaN

 [34088 rows x 61 columns],
 'Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx':            Lp.   Unikatowy Identyfikator Czasopisma                   Tytuł 1  \
 0          1.0                                  1.0              2D Materials
 1          2.0                                  2.0                 3 Biotech
 2          3.0                                  3.0                3C Empresa
 3          4.0                                  4.0             3c Tecnologia
 4          5.0                                  5.0                    3C Tic
 ...        ...                                  ...                       ...
 31429  31426.0                             498871.0                  Probacja
 31430  31429.0                             499029.0    Open Political Science
 31431  31430.0                             499067.0            Językoznawstwo
 31432  31431.0                             499108.0  Człowiek i Społeczeństwo
 31433  31432.0                             499116.0                 Com.press

             issn     e-issn          Tytuł 2      issn2    e-issn2  Punkty  \
 0      2053-1583  2053-1583     2D Materials        NaN  2053-1583   140.0
 1      2190-572X  2190-5738        3 Biotech  2190-572X  2190-5738    70.0
 2      2254-3376  2254-3376              NaN        NaN        NaN    20.0
 3      2254-4143  2254-4143              NaN        NaN        NaN    20.0
 4      2254-6529  2254-6529              NaN        NaN        NaN    20.0
 ...          ...        ...              ...        ...        ...     ...
 31429  1689-6122        NaN              NaN        NaN        NaN    20.0
 31430             2543-8042              NaN        NaN        NaN    20.0
 31431  1897-0389  2391-5137      Linguistics        NaN        NaN    20.0
 31432  0239-3271             Man and Society        NaN        NaN    40.0
 31433             2545-2320              NaN        NaN        NaN    20.0

        101  ...  510  511  601  602  603  604  605  606  607  701
 0      NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN    x    x  NaN  NaN
 1      NaN  ...  NaN  NaN  NaN  NaN  NaN    x  NaN  NaN  NaN  NaN
 2      NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 3      NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 4      NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 ...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 31429  NaN  ...  NaN    x  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 31430  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 31431  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 31432  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 31433  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

 [31434 rows x 53 columns]}

In [5]:
# Rename Punkty columns to reflect date
def rename_columns_in_wykaz_data(data_dict):
    for df_name, df in data_dict.items():
        # Check if the DataFrame is the specific one
        if df_name == "20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx":
            # Check if 'Punkty' column exists
            if 'Punkty' in df.columns:
                # Rename 'Punkty' column
                df.rename(columns={'Punkty': 'Points Dec21'}, inplace=True)
        elif df_name == "Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx":
            # Check if 'Punkty' column exists
            if 'Punkty' in df.columns:
                # Rename 'Punkty' column
                df.rename(columns={'Punkty': 'Points Feb21'}, inplace=True)

    return data_dict

wykaz_data = rename_columns_in_wykaz_data(wykaz_data)

### Wykaz Files
Extracting the required data to create a united dataframe out of all files

In [6]:
# Create a single DataFrame from all Wykaz files
wykaz_df = pd.DataFrame(columns=['Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2'])

# Extract data from Wykaz files for categories 501 and 506
for file_name, file_data in wykaz_data.items():
    for column in file_data.columns:
        if column in [501, 506]:
            # Find all 'Points' columns in the DataFrame
            points_columns = [col for col in file_data.columns if isinstance(col, str) and col.startswith('Points')]

            # Create the list of selected columns
            selected_columns = ['Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2'] + points_columns

            # Print the actual column names in the DataFrame
            print(f"Actual Column Names in {file_name}: {file_data.columns.tolist()}")

            selected_data = file_data[file_data[column] == 'x'][selected_columns]

            # Print the selected data to see if the columns are present
            print(f"Selected Data for {file_name}:\n{selected_data.head()}")

            wykaz_df = pd.concat([wykaz_df, selected_data])

# Deduplicate the resulting DataFrame
wykaz_df = wykaz_df.drop_duplicates()

# Replace various representations of missing values in 'issn' and 'e-issn' with NaN
missing_values = ['', '         ', 'NA', 'N/A', 'NaN', 'nan', None]
wykaz_df['issn'].replace(missing_values, np.nan, inplace=True)
wykaz_df['e-issn'].replace(missing_values, np.nan, inplace=True)

# Fill NaN values in 'Tytuł 1', 'issn', 'e-issn' with values from 'Tytuł 2', 'issn2', 'e-issn2' respectively
wykaz_df['Tytuł 1'].fillna(wykaz_df['Tytuł 2'], inplace=True)
wykaz_df['issn'].fillna(wykaz_df['issn2'], inplace=True)
wykaz_df['e-issn'].fillna(wykaz_df['e-issn2'], inplace=True)

# Drop the 'Tytuł 2', 'issn2', 'e-issn2' columns
wykaz_df = wykaz_df.drop(columns=['Tytuł 2', 'issn2', 'e-issn2'])

# Display the resulting Wykaz DataFrame
print("Wykaz DataFrame:")
wykaz_df

Actual Column Names in 20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx: ['Lp.', ' Unikatowy Identyfikator Czasopisma', 'Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Points Dec21', 101, 102, 103, 104, 105, 106, 107, 201, 202, 203, 204, 205, 206, 207, 208, 209, 301, 302, 303, 304, 401, 402, 403, 404, 405, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 601, 602, 603, 604, 605, 606, 607, 701]
Selected Data for 20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx:
                                              Tytuł 1       issn     e-issn  \
9      4OR-A Quarterly Journal of Operations Research  1619-4500  1614-2411
22  Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
54                             Accounting and Finance  0810-5391  1467-629X
56           Accounting Economics and Law-A Convivium  2194-6051  2152-2820
67                                  ACCOUNTING REVIEW  0001-4826  1558-7967

                          Tytuł 2      issn2    e-issn2 Points Dec21
9                             4OR  1619-4500  1614-2411           70
22                         Abacus  0001-3072        NaN           70
54         Accounting and Finance  0810-5391        NaN           70
56  Accounting, Economics and Law        NaN  2152-2820           70
67              Accounting Review  0001-4826        NaN          200
Actual Column Names in 20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx: ['Lp.', ' Unikatowy Identyfikator Czasopisma', 'Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Points Dec21', 101, 102, 103, 104, 105, 106, 107, 201, 202, 203, 204, 205, 206, 207, 208, 209, 301, 302, 303, 304, 401, 402, 403, 404, 405, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 601, 602, 603, 604, 605, 606, 607, 701]
Selected Data for 20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx:
                                              Tytuł 1       issn     e-issn  \
2                                          3C Empresa  2254-3376  2254-3376
9      4OR-A Quarterly Journal of Operations Research  1619-4500  1614-2411
22  Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
42                       Academy of Management Annals  1941-6520  1941-6067
43                  Academy of Management Discoveries  2168-1007  2168-1007

                         Tytuł 2      issn2    e-issn2 Points Dec21
2                            NaN        NaN        NaN           20
9                            4OR  1619-4500  1614-2411           70
22                        Abacus  0001-3072        NaN           70
42  Academy of Management Annals  1941-6520  1941-6067          200
43                           NaN        NaN        NaN          100
Actual Column Names in 20240105_Wykaz_czasopism_naukowych_2024_styczeń.xlsx: ['Lp.', 'Unikatowy Identyfikator Czasopisma', 'Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Points Jan24', 101, 108, 102, 103, 104, 105, 106, 107, 109, 201, 2021, 203, 210, 204, 205, 2061, 207, 208, 209, 305, 301, 302, 303, 304, 901, 401, 402, 403, 405, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 601, 608, 602, 603, 604, 605, 606, 607, 702, 701, 1001]
Selected Data for 20240105_Wykaz_czasopism_naukowych_2024_styczeń.xlsx:
                                              Tytuł 1       issn     e-issn  \
9      4OR-A Quarterly Journal of Operations Research  1619-4500  1614-2411
22  Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
54                             Accounting and Finance  0810-5391  1467-629X
56           Accounting Economics and Law-A Convivium  2194-6051  2152-2820
67                                  ACCOUNTING REVIEW  0001-4826  1558-7967

                          Tytuł 2      issn2    e-issn2 Points Jan24
9                             4OR  1619-4500  1614-2411           70
22                         Abacus  0001-3072        NaN           70
54         Accounting and Finance  0810-5391        NaN           70
56  Accounting, Economics and Law        NaN  2152-2820           70
67              Accounting Review  0001-4826        NaN          200
Actual Column Names in 20240105_Wykaz_czasopism_naukowych_2024_styczeń.xlsx: ['Lp.', 'Unikatowy Identyfikator Czasopisma', 'Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Points Jan24', 101, 108, 102, 103, 104, 105, 106, 107, 109, 201, 2021, 203, 210, 204, 205, 2061, 207, 208, 209, 305, 301, 302, 303, 304, 901, 401, 402, 403, 405, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 601, 608, 602, 603, 604, 605, 606, 607, 702, 701, 1001]
Selected Data for 20240105_Wykaz_czasopism_naukowych_2024_styczeń.xlsx:
                                              Tytuł 1       issn     e-issn  \
2                                          3C Empresa  2254-3376  2254-3376
9      4OR-A Quarterly Journal of Operations Research  1619-4500  1614-2411
22  Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
42                       Academy of Management Annals  1941-6520  1941-6067
43                  Academy of Management Discoveries  2168-1007  2168-1007

                         Tytuł 2      issn2    e-issn2 Points Jan24
2                            NaN        NaN        NaN           20
9                            4OR  1619-4500  1614-2411           70
22                        Abacus  0001-3072        NaN           70
42  Academy of Management Annals  1941-6520  1941-6067          200
43                           NaN        NaN        NaN          100
Actual Column Names in Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx: ['Lp.', ' Unikatowy Identyfikator Czasopisma', 'Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Points Feb21', 101, 102, 103, 104, 105, 106, 107, 201, 202, 203, 204, 205, 206, 207, 208, 209, 301, 302, 303, 304, 401, 402, 403, 404, 405, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 601, 602, 603, 604, 605, 606, 607, 701]
Selected Data for Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx:
                                                 Tytuł 1       issn  \
27508     4OR-A Quarterly Journal of Operations Research  1619-4500
27509  Abacus-A Journal of Accounting Finance and Bus...  0001-3072
27510                             Accounting and Finance  0810-5391
27511           Accounting Economics and Law-A Convivium  2194-6051
27512                                  ACCOUNTING REVIEW  0001-4826

          e-issn                        Tytuł 2      issn2    e-issn2  \
27508  1614-2411                            4OR  1619-4500  1614-2411
27509  1467-6281                         Abacus  0001-3072        NaN
27510  1467-629X         Accounting and Finance  0810-5391        NaN
27511  2152-2820  Accounting, Economics and Law        NaN  2152-2820
27512  1558-7967              Accounting Review  0001-4826        NaN

       Points Feb21
27508          70.0
27509          70.0
27510          70.0
27511          70.0
27512         200.0
Actual Column Names in Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx: ['Lp.', ' Unikatowy Identyfikator Czasopisma', 'Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Points Feb21', 101, 102, 103, 104, 105, 106, 107, 201, 202, 203, 204, 205, 206, 207, 208, 209, 301, 302, 303, 304, 401, 402, 403, 404, 405, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 601, 602, 603, 604, 605, 606, 607, 701]
Selected Data for Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx:
                                       Tytuł 1       issn     e-issn  \
2                                   3C Empresa  2254-3376  2254-3376
40                Academy of Management Annals  1941-6520  1941-6067
41           Academy of Management Discoveries  2168-1007  2168-1007
42               ACADEMY OF MANAGEMENT JOURNAL  0001-4273  1948-0989
43  Academy of Management Learning & Education  1537-260X        NaN

                                         Tytuł 2      issn2    e-issn2  \
2                                            NaN        NaN        NaN
40                  Academy of Management Annals  1941-6520  1941-6067
41                                           NaN        NaN        NaN
42                 Academy of Management Journal  0001-4273        NaN
43  Academy of Management Learning and Education  1537-260X        NaN

    Points Feb21
2           20.0
40         200.0
41         100.0
42         200.0
43         140.0
Wykaz DataFrame:

,Tytuł 1,issn,e-issn,Points Dec21,Points Jan24,Points Feb21
9,4OR-A Quarterly Journal of Operations Research,1619-4500,1614-2411,70,NaN,NaN
22,Abacus-A Journal of Accounting Finance and Bus...,0001-3072,1467-6281,70,NaN,NaN
54,Accounting and Finance,0810-5391,1467-629X,70,NaN,NaN
56,Accounting Economics and Law-A Convivium,2194-6051,2152-2820,70,NaN,NaN
67,ACCOUNTING REVIEW,0001-4826,1558-7967,200,NaN,NaN
...,...,...,...,...,...,...
31208,Internetowy Kwartalnik Antymonopolowy i Regula...,2299-8837,2299-5749,NaN,NaN,20.0
31235,Humanum. MIędzynarodowe Studia Społeczno-Human...,1898-8431,2450-0313,NaN,NaN,20.0
31259,Problemy Jakości,0137-8651,2449-9862,NaN,NaN,20.0
31277,Społeczeństwo. Edukacja. Język,2353-1266,NaN,NaN,NaN,40.0
31406,Management Forum,NaN,2392-0025,NaN,NaN,20.0

In [7]:
# Deduplicate wykaz_df based on 'Tytuł 1', 'issn', 'e-issn'
wykaz_df['Tytuł 1'] = wykaz_df['Tytuł 1'].str.strip()
wykaz_df['Tytuł 1'] = wykaz_df['Tytuł 1'].str.encode('utf-8').str.decode('utf-8')
wykaz_df['Tytuł 1'] = wykaz_df['Tytuł 1'].apply(lambda x: unicodedata.normalize('NFKD', x))
wykaz_df['Tytuł 1'] = wykaz_df['Tytuł 1'].str.replace(r'\s+', ' ', regex=True)
wykaz_df_deduplicated = wykaz_df.groupby(['Tytuł 1', 'issn', 'e-issn']).apply(lambda group: group.ffill().bfill())
wykaz_df_deduplicated = wykaz_df.groupby(['issn', 'e-issn']).apply(lambda group: group.ffill().bfill())

# Reset index to have a clean DataFrame
wykaz_df_deduplicated.reset_index(drop=True, inplace=True)

# Drop fully duplicated rows
wykaz_df_deduplicated = wykaz_df_deduplicated.drop_duplicates(subset=['issn', 'e-issn'])

wykaz_df_deduplicated.rename(columns={'Tytuł 1': 'Title'}, inplace=True)

# Display the resulting deduplicated Wykaz DataFrame
print("Deduplicated Wykaz DataFrame:")
print(wykaz_df_deduplicated)

C:\Users\Alon\AppData\Local\Temp\ipykernel_15484\3090643752.py:6: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  wykaz_df_deduplicated = wykaz_df.groupby(['Tytuł 1', 'issn', 'e-issn']).apply(lambda group: group.ffill().bfill())
C:\Users\Alon\AppData\Local\Temp\ipykernel_15484\3090643752.py:7: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  wykaz_df_deduplicated = wykaz_df.groupby(['issn', 'e-issn']).apply(lambda group: group.ffill().bfill())

Deduplicated Wykaz DataFrame:
                                                  Title       issn     e-issn  \
0        4OR-A Quarterly Journal of Operations Research  1619-4500  1614-2411
2     Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
4                                      Accounting Forum  0155-9982  1467-6303
5                                Accounting and Finance  0810-5391  1467-629X
7                                    Accounting History  1032-3732  1749-3374
...                                                 ...        ...        ...
8435             Journal of Tourism Management Research  2408-9117  2313-4178
8436   Journal of Tourism Sustainability and Well-being  2795-5044  2795-5044
8437                Research in Organizational Behavior  0191-3085  0191-3085
8438             Recherche et Applications en Marketing  0767-3701  2051-2821
8439            Przegląd Bezpieczeństwa Wewnętrznego  2080-1335  2720-0841

      Points Dec21  Points Jan24  Points Feb21
0             70.0          70.0          70.0
2             70.0          70.0          70.0
4            100.0         100.0         100.0
5             70.0          70.0          70.0
7             70.0          70.0          70.0
...            ...           ...           ...
8435           NaN          20.0           NaN
8436           NaN          20.0           NaN
8437           NaN          70.0           NaN
8438           NaN          20.0           NaN
8439           NaN          20.0           NaN

[3872 rows x 6 columns]

### JCR Files
Extracting the required data to create a united dataframe out of all files

In [8]:
for file_name, year_data in jcr_data.items():
    year_suffix = file_name.split('_')[1].split('.')[0]
    year_suffix_text = f' (in {year_suffix})'

    for df_name, df in year_data.items():
        # Change column names
        df.columns = df.columns.str.replace('ISSN', 'issn', case=False)
        df.columns = df.columns.str.replace('eISSN', 'e-issn', case=False)
        df.rename(columns={'Journal name': 'Tytuł 1'}, inplace=True)

        # Add suffix to columns not mentioned
        for col in df.columns:
            if col.lower() not in ['issn', 'e-issn', 'tytuł 1', 'category']:
                df.rename(columns={col: col + year_suffix_text}, inplace=True)

In [9]:
# List of columns to include in jcr_df
columns_to_include = [
    'Tytuł 1', 'issn', 'e-issn', 'Category', '2021 JIF (in 2021)', 'JIF Quartile (in 2021)',
    '5 Year JIF (in 2021)', 'JIF Without Self Cites (in 2021)', 'JIF Percentile (in 2021)',
    '2021 JCI (in 2021)', 'JCI Percentile (in 2021)',
    '2022 JIF (in 2022)', 'JIF Quartile (in 2022)', '5 Year JIF (in 2022)',
    '5 Year JIF Quartile (in 2022)', 'JIF Rank (in 2022)', '2022 JCI (in 2022)',
    'JCI Quartile (in 2022)', 'JCI Rank (in 2022)'
]

# Create an empty DataFrame for jcr_df
jcr_df = pd.DataFrame(columns=columns_to_include)

# Concatenate DataFrames for each year
for year, year_data in jcr_data.items():
    for df_name, df in year_data.items():
        print(f"Columns for {df_name} ({year}): {df.columns}")

        # Filter columns to include only the specified ones
        existing_columns = [col for col in columns_to_include if col in df.columns]
        df_subset = df[existing_columns].copy()

        # If a column is missing, fill it with NA
        missing_columns = [col for col in columns_to_include if col not in df.columns]
        for col in missing_columns:
            df_subset[col] = np.nan

        # Concatenate to jcr_df
        jcr_df = pd.concat([jcr_df, df_subset], ignore_index=True)

# Display the resulting DataFrame
print("jcr_df:")
print(jcr_df)

Columns for BUSINESS (JCR_2021_ALL.xlsx): Index(['Tytuł 1', 'issn', 'e-issn', 'Category', 'Total Citations (in 2021)',
       '2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '2021 JCI (in 2021)',
       '% of OA Gold (in 2021)', '5 Year JIF (in 2021)',
       'Immediacy Index (in 2021)', 'JIF Without Self Cites (in 2021)',
       'Eigenfactor (in 2021)', 'Normalized Eigenfactor (in 2021)',
       'Article Influence Score (in 2021)', 'JIF Percentile (in 2021)',
       'Total Articles (in 2021)', 'Citing Half-Life (in 2021)',
       'Cited Half-Life (in 2021)', 'AIS Quartile (in 2021)',
       'Citable Items (in 2021)', '% of Articles in Citable items (in 2021)',
       'JCI Percentile (in 2021)'],
      dtype='object')
Columns for BUSINESS, FINANCE (JCR_2021_ALL.xlsx): Index(['Tytuł 1', 'issn', 'e-issn', 'Category', 'Total Citations (in 2021)',
       '2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '2021 JCI (in 2021)',
       '% of OA Gold (in 2021)', '5 Year JIF (in 2021)',
       'Immediacy Index (in 2021)', 'JIF Without Self Cites (in 2021)',
       'Eigenfactor (in 2021)', 'Normalized Eigenfactor (in 2021)',
       'Article Influence Score (in 2021)', 'JIF Percentile (in 2021)',
       'Total Articles (in 2021)', 'Citing Half-Life (in 2021)',
       'Cited Half-Life (in 2021)', 'AIS Quartile (in 2021)',
       'Citable Items (in 2021)', '% of Articles in Citable items (in 2021)',
       'JCI Percentile (in 2021)'],
      dtype='object')
Columns for ECONOMICS (JCR_2021_ALL.xlsx): Index(['Tytuł 1', 'issn', 'e-issn', 'Category', 'Total Citations (in 2021)',
       '2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '2021 JCI (in 2021)',
       '% of OA Gold (in 2021)', '5 Year JIF (in 2021)',
       'JIF Without Self Cites (in 2021)', 'Immediacy Index (in 2021)',
       'Eigenfactor (in 2021)', 'Normalized Eigenfactor (in 2021)',
       'Article Influence Score (in 2021)', 'JIF Percentile (in 2021)',
       'JCI Percentile (in 2021)', 'AIS Quartile (in 2021)',
       'Citing Half-Life (in 2021)', 'Total Articles (in 2021)',
       'Cited Half-Life (in 2021)', '% of Articles in Citable items (in 2021)',
       'Citable Items (in 2021)'],
      dtype='object')
Columns for MANAGEMENT (JCR_2021_ALL.xlsx): Index(['Tytuł 1', 'issn', 'e-issn', 'Category', 'Total Citations (in 2021)',
       '2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '2021 JCI (in 2021)',
       '% of OA Gold (in 2021)', '5 Year JIF (in 2021)',
       'JIF Without Self Cites (in 2021)', 'Immediacy Index (in 2021)',
       'Eigenfactor (in 2021)', 'Normalized Eigenfactor (in 2021)',
       'Article Influence Score (in 2021)', 'JIF Percentile (in 2021)',
       'JCI Percentile (in 2021)', 'AIS Quartile (in 2021)',
       'Citing Half-Life (in 2021)', 'Total Articles (in 2021)',
       'Cited Half-Life (in 2021)', '% of Articles in Citable items (in 2021)',
       'Citable Items (in 2021)'],
      dtype='object')
Columns for BUSINESS (JCR_2022_ALL.xlsx): Index(['Tytuł 1', 'JCR Abbreviation (in 2022)', 'issn', 'e-issn', 'Category',
       'Total Citations (in 2022)', '2022 JIF (in 2022)',
       'JIF Quartile (in 2022)', '2022 JCI (in 2022)', 'JIF Rank (in 2022)',
       '5 Year JIF (in 2022)', '5 Year JIF Quartile (in 2022)',
       'JCI Rank (in 2022)', 'JCI Quartile (in 2022)'],
      dtype='object')
Columns for BUSINESS, FINANCE (JCR_2022_ALL.xlsx): Index(['Tytuł 1', 'JCR Abbreviation (in 2022)', 'issn', 'e-issn', 'Category',
       'Total Citations (in 2022)', '2022 JIF (in 2022)',
       'JIF Quartile (in 2022)', '2022 JCI (in 2022)', 'JIF Rank (in 2022)',
       '5 Year JIF (in 2022)', '5 Year JIF Quartile (in 2022)',
       'JCI Rank (in 2022)', 'JCI Quartile (in 2022)'],
      dtype='object')
Columns for ECONOMICS (JCR_2022_ALL.xlsx): Index(['Tytuł 1', 'JCR Abbreviation (in 2022)', 'issn', 'e-issn', 'Category',
       'Total Citations (in 2022)', '2022 JIF (in 2022)',
       'JIF Quartile (in 2022)', '2022 JCI (in 2022)', 'JIF Rank (in 2022)',
       '5 Year JIF (in 2022)', '5 Year JIF Quartile (in 2022)',
       'JCI Rank (in 2022)', 'JCI Quartile (in 2022)',
       'Unnamed: 14 (in 2022)'],
      dtype='object')
Columns for MANAGEMENT (JCR_2022_ALL.xlsx): Index(['Tytuł 1', 'JCR Abbreviation (in 2022)', 'issn', 'e-issn', 'Category',
       'Total Citations (in 2022)', '2022 JIF (in 2022)',
       'JIF Quartile (in 2022)', '2022 JCI (in 2022)', 'JIF Rank (in 2022)',
       '5 Year JIF (in 2022)', '5 Year JIF Quartile (in 2022)',
       'JCI Rank (in 2022)', 'JCI Quartile (in 2022)'],
      dtype='object')
jcr_df:
                                                Tytuł 1       issn     e-issn  \
0                                            3C Empresa  2254-3376  2254-3376
1     Academia-Revista Latinoamericana de Administra...  1012-8255  2056-5127
2                          Academy of Management Annals  1941-6520  1941-6067
3                         ACADEMY OF MANAGEMENT JOURNAL  0001-4273  1948-0989
4                    Academy of Management Perspectives  1558-9080        NaN
...                                                 ...        ...        ...
2982  VINE Journal of Information and Knowledge Mana...  2059-5891  1474-1032
2983                                   Vision Gerencial  2477-9547  1317-8822
2984         Vision-The Journal of Business Perspective  0972-2629  2249-5304
2985                          Work Aging and Retirement  2054-4642  2054-4650
2986  World Journal of Entrepreneurship Management a...  2042-5961  2042-597X

               Category  2021 JIF (in 2021) JIF Quartile (in 2021)  \
0       BUSINESS - ESCI                 NaN                    NaN
1       BUSINESS - SSCI               1.369                     Q4
2       BUSINESS - SSCI              19.241                     Q1
3       BUSINESS - SSCI              10.979                     Q1
4       BUSINESS - SSCI               8.069                     Q1
...                 ...                 ...                    ...
2982  MANAGEMENT - ESCI                 NaN                    NaN
2983  MANAGEMENT - ESCI                 NaN                    NaN
2984  MANAGEMENT - ESCI                 NaN                    NaN
2985  MANAGEMENT - SSCI                 NaN                    NaN
2986  MANAGEMENT - ESCI                 NaN                    NaN

      5 Year JIF (in 2021)  JIF Without Self Cites (in 2021)  \
0                      NaN                               NaN
1                    1.582                             1.185
2                   27.258                            18.889
3                   16.178                            10.611
4                   10.161                             7.776
...                    ...                               ...
2982                   NaN                               NaN
2983                   NaN                               NaN
2984                   NaN                               NaN
2985                   NaN                               NaN
2986                   NaN                               NaN

      JIF Percentile (in 2021)   2021 JCI (in 2021)  JCI Percentile (in 2021)  \
0                          NaN                 0.02                      2.54
1                         8.12                 0.27                     23.56
2                        99.68                 3.75                     99.83
3                        90.58  1954-02-01 00:00:00                     98.14
4                        78.25                 2.05                     94.07
...                        ...                  ...                       ...
2982                       NaN                  NaN                       NaN
2983                       NaN                  NaN                       NaN
2984                       NaN                  NaN                       NaN
2985                       NaN                  NaN                       NaN
2986                       NaN                  NaN                       NaN

     2022 JIF (in 2022) JIF Quartile (in 2022) 5 Year JIF (in 2022)  \
0                   NaN                    NaN                  NaN
1                   NaN                    NaN                  NaN
2                   NaN                    NaN                  NaN
3                   NaN                    NaN                  NaN
4                   NaN                    NaN                  NaN
...                 ...                    ...                  ...
2982                2.8                    NaN                  3.0
2983                0.1                    NaN                  0.1
2984                2.8                    NaN                  2.0
2985                3.7                     Q3                  3.8
2986                2.5                    NaN                  2.3

     5 Year JIF Quartile (in 2022) JIF Rank (in 2022)  2022 JCI (in 2022)  \
0                              NaN                NaN                 NaN
1                              NaN                NaN                 NaN
2                              NaN                NaN                 NaN
3                              NaN                NaN                 NaN
4                              NaN                NaN                 NaN
...                            ...                ...                 ...
2982                           NaN                NaN                0.68
2983                           NaN                NaN                0.00
2984                           NaN                NaN                0.46
2985                            Q3            141/227                1.26
2986                           NaN                NaN                0.50

     JCI Quartile (in 2022) JCI Rank (in 2022)
0                       NaN                NaN
1                       NaN                NaN
2                       NaN                NaN
3                       NaN                NaN
4                       NaN                NaN
...                     ...                ...
2982                     Q2            189/396
2983                     Q4            396/396
2984                     Q3            252/396
2985                     Q1             89/396
2986                     Q3            237/396

[2987 rows x 19 columns]

In [10]:
# Find duplicate rows based on 'issn' and 'Category'
duplicate_condition = jcr_df.duplicated(subset=['issn', 'e-issn', 'Category'], keep=False)

# Extract rows with duplicates
duplicates_df_jcr = jcr_df[duplicate_condition]

duplicates_df_jcr = duplicates_df_jcr.sort_values(by=['issn', 'e-issn', 'Category'])

duplicates_df_jcr = duplicates_df_jcr.reset_index(drop=True)

# Display the DataFrame with duplicate rows
print("DataFrame with duplicate rows based on 'issn' and 'Category' (sorted by 'issn' and 'Category'):")
print(duplicates_df_jcr)

DataFrame with duplicate rows based on 'issn' and 'Category' (sorted by 'issn' and 'Category'):
                                                Tytuł 1       issn     e-issn  \
0     Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
1     Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
2                         ACADEMY OF MANAGEMENT JOURNAL  0001-4273  1948-0989
3                         ACADEMY OF MANAGEMENT JOURNAL  0001-4273  1948-0989
4                         ACADEMY OF MANAGEMENT JOURNAL  0001-4273  1948-0989
...                                                 ...        ...        ...
2891                  Business Strategy and Development        NaN  2572-3170
2892                         Istanbul Business Research        NaN  2630-5488
2893                         Istanbul Business Research        NaN  2630-5488
2894                          Applied Economic Analysis        NaN  2632-7627
2895                          Applied Economic Analysis        NaN  2632-7627

                      Category  2021 JIF (in 2021) JIF Quartile (in 2021)  \
0     BUSINESS, FINANCE - SSCI               2.060                     Q3
1     BUSINESS, FINANCE - SSCI                 NaN                    NaN
2              BUSINESS - SSCI              10.979                     Q1
3              BUSINESS - SSCI                 NaN                    NaN
4            MANAGEMENT - SSCI              10.979                     Q1
...                        ...                 ...                    ...
2891           BUSINESS - ESCI                 NaN                    NaN
2892  BUSINESS, FINANCE - ESCI                 NaN                    NaN
2893  BUSINESS, FINANCE - ESCI                 NaN                    NaN
2894          ECONOMICS - SSCI               1.042                     Q4
2895          ECONOMICS - SSCI                 NaN                    NaN

      5 Year JIF (in 2021)  JIF Without Self Cites (in 2021)  \
0                    3.243                             1.800
1                      NaN                               NaN
2                   16.178                            10.611
3                      NaN                               NaN
4                   16.178                            10.611
...                    ...                               ...
2891                   NaN                               NaN
2892                   NaN                               NaN
2893                   NaN                               NaN
2894                 1.042                             1.042
2895                   NaN                               NaN

      JIF Percentile (in 2021)   2021 JCI (in 2021)  JCI Percentile (in 2021)  \
0                        33.78                 0.97                     72.62
1                          NaN                  NaN                       NaN
2                        90.58  1954-02-01 00:00:00                     98.14
3                          NaN                  NaN                       NaN
4                        93.58                 2.54                     97.57
...                        ...                  ...                       ...
2891                       NaN                  NaN                       NaN
2892                       NaN                 0.08                      5.20
2893                       NaN                  NaN                       NaN
2894                     16.75                 0.28                     25.35
2895                       NaN                  NaN                       NaN

     2022 JIF (in 2022) JIF Quartile (in 2022) 5 Year JIF (in 2022)  \
0                   NaN                    NaN                  NaN
1                   2.1                     Q3                  2.6
2                   NaN                    NaN                  NaN
3                  10.5                     Q1                 14.5
4                   NaN                    NaN                  NaN
...                 ...                    ...                  ...
2891                3.0                    NaN                  NaN
2892                NaN                    NaN                  NaN
2893                0.4                    NaN                  0.4
2894                NaN                    NaN                  NaN
2895                2.3                     Q2                  2.4

     5 Year JIF Quartile (in 2022) JIF Rank (in 2022)  2022 JCI (in 2022)  \
0                              NaN                NaN                 NaN
1                               Q3             69/111                0.66
2                              NaN                NaN                 NaN
3                               Q1             15/154                2.40
4                              NaN                NaN                 NaN
...                            ...                ...                 ...
2891                           NaN                NaN                0.57
2892                           NaN                NaN                 NaN
2893                           NaN                NaN                0.09
2894                           NaN                NaN                 NaN
2895                            Q2            169/380                0.65

     JCI Quartile (in 2022) JCI Rank (in 2022)
0                       NaN                NaN
1                        Q2             96/227
2                       NaN                NaN
3                        Q1              8/301
4                       NaN                NaN
...                     ...                ...
2891                     Q3            152/301
2892                    NaN                NaN
2893                     Q4            210/227
2894                    NaN                NaN
2895                     Q2            235/581

[2896 rows x 19 columns]

In [11]:
# Make sure all duplicates in jcr_df are pairs of 2021-2022 with corresponding NaN values

all_nan_for_all_odd_indexes = True
failed_indexes = []

# Iterate through all odd-numbered indexes
for i in range(1, len(duplicates_df_jcr), 2):
    # Get the current row
    current_row = duplicates_df_jcr.iloc[i]

    # Check if the specified columns are all NaN
    if current_row[['2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '5 Year JIF (in 2021)',
                    'JIF Without Self Cites (in 2021)', 'JIF Percentile (in 2021)',
                    '2021 JCI (in 2021)', 'JCI Percentile (in 2021)']].isna().all():
        print(f"Columns are all NaN for index {i}: {current_row[['issn', 'Category']]}")
    else:
        all_nan_for_all_odd_indexes = False
        failed_indexes.append(i)

# Print a message based on whether all columns were NaN for all odd indexes
if all_nan_for_all_odd_indexes:
    print("Yes, all specified columns are NaN for all odd indexes.")
else:
    print("No, some specified columns are not all NaN for at least one odd index.")
    print("Indexes where the rule fails:", failed_indexes)

Columns are all NaN for index 1: issn                       0001-3072
Category    BUSINESS, FINANCE - SSCI
Name: 1, dtype: object
Columns are all NaN for index 3: issn              0001-4273
Category    BUSINESS - SSCI
Name: 3, dtype: object
Columns are all NaN for index 5: issn                0001-4273
Category    MANAGEMENT - SSCI
Name: 5, dtype: object
Columns are all NaN for index 7: issn                       0001-4788
Category    BUSINESS, FINANCE - SSCI
Name: 7, dtype: object
Columns are all NaN for index 9: issn                       0001-4826
Category    BUSINESS, FINANCE - SSCI
Name: 9, dtype: object
Columns are all NaN for index 11: issn               0001-6373
Category    ECONOMICS - SSCI
Name: 11, dtype: object
Columns are all NaN for index 13: issn              0001-8392
Category    BUSINESS - SSCI
Name: 13, dtype: object
Columns are all NaN for index 15: issn                0001-8392
Category    MANAGEMENT - SSCI
Name: 15, dtype: object
Columns are all NaN for index 17: issn              0002-7766
Category    BUSINESS - SSCI
Name: 17, dtype: object
Columns are all NaN for index 19: issn               0002-8282
Category    ECONOMICS - SSCI
Name: 19, dtype: object
Columns are all NaN for index 21: issn               0002-9092
Category    ECONOMICS - SSCI
Name: 21, dtype: object
Columns are all NaN for index 23: issn               0002-9246
Category    ECONOMICS - SSCI
Name: 23, dtype: object
Columns are all NaN for index 25: issn               0003-6846
Category    ECONOMICS - SSCI
Name: 25, dtype: object
Columns are all NaN for index 27: issn               0004-8992
Category    ECONOMICS - SSCI
Name: 27, dtype: object
Columns are all NaN for index 29: issn               0004-900X
Category    ECONOMICS - SSCI
Name: 29, dtype: object
Columns are all NaN for index 31: issn               0004-9018
Category    ECONOMICS - SSCI
Name: 31, dtype: object
Columns are all NaN for index 33: issn               0007-2303
Category    ECONOMICS - SSCI
Name: 33, dtype: object
Columns are all NaN for index 35: issn               0007-4918
Category    ECONOMICS - SSCI
Name: 35, dtype: object
Columns are all NaN for index 37: issn              0007-6503
Category    BUSINESS - SSCI
Name: 37, dtype: object
Columns are all NaN for index 39: issn              0007-6791
Category    BUSINESS - SSCI
Name: 39, dtype: object
Columns are all NaN for index 41: issn              0007-6805
Category    BUSINESS - SSCI
Name: 41, dtype: object
Columns are all NaN for index 43: issn              0007-6813
Category    BUSINESS - SSCI
Name: 43, dtype: object
Columns are all NaN for index 45: issn              0008-1256
Category    BUSINESS - SSCI
Name: 45, dtype: object
Columns are all NaN for index 47: issn                0008-1256
Category    MANAGEMENT - SSCI
Name: 47, dtype: object
Columns are all NaN for index 49: issn               0008-3976
Category    ECONOMICS - SSCI
Name: 49, dtype: object
Columns are all NaN for index 51: issn               0008-4085
Category    ECONOMICS - SSCI
Name: 51, dtype: object
Columns are all NaN for index 53: issn               0012-1533
Category    ECONOMICS - SSCI
Name: 53, dtype: object
Columns are all NaN for index 55: issn               0012-8775
Category    ECONOMICS - SSCI
Name: 55, dtype: object
Columns are all NaN for index 57: issn               0012-9682
Category    ECONOMICS - SSCI
Name: 57, dtype: object
Columns are all NaN for index 59: issn               0012-9984
Category    ECONOMICS - SSCI
Name: 59, dtype: object
Columns are all NaN for index 61: issn               0013-0079
Category    ECONOMICS - SSCI
Name: 61, dtype: object
Columns are all NaN for index 63: issn               0013-0095
Category    ECONOMICS - SSCI
Name: 63, dtype: object
Columns are all NaN for index 65: issn               0013-0117
Category    ECONOMICS - SSCI
Name: 65, dtype: object
Columns are all NaN for index 67: issn               0013-0133
Category    ECONOMICS - SSCI
Name: 67, dtype: object
Columns are all NaN for index 69: issn               0013-0249
Category    ECONOMICS - SSCI
Name: 69, dtype: object
Columns are all NaN for index 71: issn               0013-0427
Category    ECONOMICS - SSCI
Name: 71, dtype: object
Columns are all NaN for index 73: issn               0013-063X
Category    ECONOMICS - SSCI
Name: 73, dtype: object
Columns are all NaN for index 75: issn               0013-3035
Category    ECONOMICS - SSCI
Name: 75, dtype: object
Columns are all NaN for index 77: issn               0013-3205
Category    ECONOMICS - ESCI
Name: 77, dtype: object
Columns are all NaN for index 79: issn              0013-791X
Category    BUSINESS - SSCI
Name: 79, dtype: object
Columns are all NaN for index 81: issn                0013-791X
Category    MANAGEMENT - SSCI
Name: 81, dtype: object
Columns are all NaN for index 83: issn               0014-2921
Category    ECONOMICS - SSCI
Name: 83, dtype: object
Columns are all NaN for index 85: issn               0014-4983
Category    ECONOMICS - SSCI
Name: 85, dtype: object
Columns are all NaN for index 87: issn                       0014-9187
Category    BUSINESS, FINANCE - SSCI
Name: 87, dtype: object
Columns are all NaN for index 89: issn               0014-9187
Category    ECONOMICS - SSCI
Name: 89, dtype: object
Columns are all NaN for index 91: issn                       0015-1920
Category    BUSINESS, FINANCE - SSCI
Name: 91, dtype: object
Columns are all NaN for index 93: issn                       0015-198X
Category    BUSINESS, FINANCE - SSCI
Name: 93, dtype: object
Columns are all NaN for index 95: issn                       0015-2218
Category    BUSINESS, FINANCE - SSCI
Name: 95, dtype: object
Columns are all NaN for index 97: issn               0015-2218
Category    ECONOMICS - SSCI
Name: 97, dtype: object
Columns are all NaN for index 99: issn              0015-7325
Category    BUSINESS - ESCI
Name: 99, dtype: object
Columns are all NaN for index 101: issn               0015-7325
Category    ECONOMICS - ESCI
Name: 101, dtype: object
Columns are all NaN for index 103: issn               0016-3287
Category    ECONOMICS - SSCI
Name: 103, dtype: object
Columns are all NaN for index 105: issn              0017-8012
Category    BUSINESS - SSCI
Name: 105, dtype: object
Columns are all NaN for index 107: issn                0017-8012
Category    MANAGEMENT - SSCI
Name: 107, dtype: object
Columns are all NaN for index 109: issn               0018-2702
Category    ECONOMICS - SSCI
Name: 109, dtype: object
Columns are all NaN for index 111: issn               0018-280X
Category    ECONOMICS - SSCI
Name: 111, dtype: object
Columns are all NaN for index 113: issn                0018-7267
Category    MANAGEMENT - SSCI
Name: 113, dtype: object
Columns are all NaN for index 115: issn              0018-9391
Category    BUSINESS - SSCI
Name: 115, dtype: object
Columns are all NaN for index 117: issn                0018-9391
Category    MANAGEMENT - SSCI
Name: 117, dtype: object
Columns are all NaN for index 119: issn                0019-7858
Category    MANAGEMENT - ESCI
Name: 119, dtype: object
Columns are all NaN for index 121: issn              0019-8501
Category    BUSINESS - SSCI
Name: 121, dtype: object
Columns are all NaN for index 123: issn                0019-8501
Category    MANAGEMENT - SSCI
Name: 123, dtype: object
Columns are all NaN for index 125: issn               0020-6598
Category    ECONOMICS - SSCI
Name: 125, dtype: object
Columns are all NaN for index 127: issn               0020-7276
Category    ECONOMICS - SSCI
Name: 127, dtype: object
Columns are all NaN for index 129: issn               0020-7780
Category    ECONOMICS - SSCI
Name: 129, dtype: object
Columns are all NaN for index 131: issn                0020-8825
Category    MANAGEMENT - ESCI
Name: 131, dtype: object
Columns are all NaN for index 133: issn               0021-3624
Category    ECONOMICS - SSCI
Name: 133, dtype: object
Columns are all NaN for index 135: issn               0021-4027
Category    ECONOMICS - SSCI
Name: 135, dtype: object
Columns are all NaN for index 137: issn                       0021-8456
Category    BUSINESS, FINANCE - SSCI
Name: 137, dtype: object
Columns are all NaN for index 139: issn              0021-8499
Category    BUSINESS - SSCI
Name: 139, dtype: object
Columns are all NaN for index 141: issn               0021-857X
Category    ECONOMICS - SSCI
Name: 141, dtype: object
Columns are all NaN for index 143: issn                0021-8863
Category    MANAGEMENT - SSCI
Name: 143, dtype: object
Columns are all NaN for index 145: issn                0021-9010
Category    MANAGEMENT - SSCI
Name: 145, dtype: object
Columns are all NaN for index 147: issn               0021-9886
Category    ECONOMICS - SSCI
Name: 147, dtype: object
Columns are all NaN for index 149: issn              0022-0078
Category    BUSINESS - SSCI
Name: 149, dtype: object
Columns are all NaN for index 151: issn               0022-0078
Category    ECONOMICS - SSCI
Name: 151, dtype: object
Columns are all NaN for index 153: issn               0022-0388
Category    ECONOMICS - SSCI
Name: 153, dtype: object
Columns are all NaN for index 155: issn               0022-0485
Category    ECONOMICS - SSCI
Name: 155, dtype: object
Columns are all NaN for index 157: issn               0022-0507
Category    ECONOMICS - SSCI
Name: 157, dtype: object
Columns are all NaN for index 159: issn               0022-0515
Category    ECONOMICS - SSCI
Name: 159, dtype: object
Columns are all NaN for index 161: issn               0022-0531
Category    ECONOMICS - SSCI
Name: 161, dtype: object
Columns are all NaN for index 163: issn                       0022-1082
Category    BUSINESS, FINANCE - SSCI
Name: 163, dtype: object
Columns are all NaN for index 165: issn               0022-1082
Category    ECONOMICS - SSCI
Name: 165, dtype: object
Columns are all NaN for index 167: issn                       0022-1090
Category    BUSINESS, FINANCE - SSCI
Name: 167, dtype: object
Columns are all NaN for index 169: issn               0022-1090
Category    ECONOMICS - SSCI
Name: 169, dtype: object
Columns are all NaN for index 171: issn               0022-166X
Category    ECONOMICS - SSCI
Name: 171, dtype: object
Columns are all NaN for index 173: issn                       0022-1821
Category    BUSINESS, FINANCE - SSCI
Name: 173, dtype: object
Columns are all NaN for index 175: issn               0022-1821
Category    ECONOMICS - SSCI
Name: 175, dtype: object
Columns are all NaN for index 177: issn               0022-1996
Category    ECONOMICS - SSCI
Name: 177, dtype: object
Columns are all NaN for index 179: issn               0022-2186
Category    ECONOMICS - SSCI
Name: 179, dtype: object
Columns are all NaN for index 181: issn              0022-2380
Category    BUSINESS - SSCI
Name: 181, dtype: object
Columns are all NaN for index 183: issn                0022-2380
Category    MANAGEMENT - SSCI
Name: 183, dtype: object
Columns are all NaN for index 185: issn              0022-2429
Category    BUSINESS - SSCI
Name: 185, dtype: object
Columns are all NaN for index 187: issn              0022-2437
Category    BUSINESS - SSCI
Name: 187, dtype: object
Columns are all NaN for index 189: issn                       0022-2879
Category    BUSINESS, FINANCE - SSCI
Name: 189, dtype: object
Columns are all NaN for index 191: issn               0022-2879
Category    ECONOMICS - SSCI
Name: 191, dtype: object
Columns are all NaN for index 193: issn               0022-3808
Category    ECONOMICS - SSCI
Name: 193, dtype: object
Columns are all NaN for index 195: issn               0022-4146
Category    ECONOMICS - SSCI
Name: 195, dtype: object
Columns are all NaN for index 197: issn              0022-4359
Category    BUSINESS - SSCI
Name: 197, dtype: object
Columns are all NaN for index 199: issn                       0022-4367
Category    BUSINESS, FINANCE - SSCI
Name: 199, dtype: object
Columns are all NaN for index 201: issn               0022-4367
Category    ECONOMICS - SSCI
Name: 201, dtype: object
Columns are all NaN for index 203: issn               0022-5258
Category    ECONOMICS - SSCI
Name: 203, dtype: object
Columns are all NaN for index 205: issn               0023-5962
Category    ECONOMICS - SSCI
Name: 205, dtype: object
Columns are all NaN for index 207: issn               0023-7639
Category    ECONOMICS - SSCI
Name: 207, dtype: object
Columns are all NaN for index 209: issn              0024-6301
Category    BUSINESS - SSCI
Name: 209, dtype: object
Columns are all NaN for index 211: issn                0024-6301
Category    MANAGEMENT - SSCI
Name: 211, dtype: object
Columns are all NaN for index 213: issn              0025-1747
Category    BUSINESS - SSCI
Name: 213, dtype: object
Columns are all NaN for index 215: issn                0025-1747
Category    MANAGEMENT - SSCI
Name: 215, dtype: object
Columns are all NaN for index 217: issn                0025-1909
Category    MANAGEMENT - SSCI
Name: 217, dtype: object
Columns are all NaN for index 219: issn               0026-1386
Category    ECONOMICS - SSCI
Name: 219, dtype: object
Columns are all NaN for index 221: issn               0027-9501
Category    ECONOMICS - ESCI
Name: 221, dtype: object
Columns are all NaN for index 223: issn                       0028-0283
Category    BUSINESS, FINANCE - SSCI
Name: 223, dtype: object
Columns are all NaN for index 225: issn               0028-0283
Category    ECONOMICS - SSCI
Name: 225, dtype: object
Columns are all NaN for index 227: issn                0030-364X
Category    MANAGEMENT - SSCI
Name: 227, dtype: object
Columns are all NaN for index 229: issn               0030-7653
Category    ECONOMICS - SSCI
Name: 229, dtype: object
Columns are all NaN for index 231: issn                0031-5826
Category    MANAGEMENT - SSCI
Name: 231, dtype: object
Columns are all NaN for index 233: issn               0032-3233
Category    ECONOMICS - SSCI
Name: 233, dtype: object
Columns are all NaN for index 235: issn               0033-5533
Category    ECONOMICS - SSCI
Name: 235, dtype: object
Columns are all NaN for index 237: issn              0033-6807
Category    BUSINESS - SSCI
Name: 237, dtype: object
Columns are all NaN for index 239: issn                0033-6807
Category    MANAGEMENT - SSCI
Name: 239, dtype: object
Columns are all NaN for index 241: issn               0034-3404
Category    ECONOMICS - SSCI
Name: 241, dtype: object
Columns are all NaN for index 243: issn              0034-6454
Category    BUSINESS - ESCI
Name: 243, dtype: object
Columns are all NaN for index 245: issn               0034-6527
Category    ECONOMICS - SSCI
Name: 245, dtype: object
Columns are all NaN for index 247: issn               0034-6535
Category    ECONOMICS - SSCI
Name: 247, dtype: object
Columns are all NaN for index 249: issn               0034-6586
Category    ECONOMICS - SSCI
Name: 249, dtype: object
Columns are all NaN for index 251: issn               0034-6764
Category    ECONOMICS - ESCI
Name: 251, dtype: object
Columns are all NaN for index 253: issn               0035-2764
Category    ECONOMICS - ESCI
Name: 253, dtype: object
Columns are all NaN for index 255: issn               0036-9292
Category    ECONOMICS - SSCI
Name: 255, dtype: object
Columns are all NaN for index 257: issn               0038-0121
Category    ECONOMICS - SSCI
Name: 257, dtype: object
Columns are all NaN for index 259: issn                0038-0121
Category    MANAGEMENT - SSCI
Name: 259, dtype: object
Columns are all NaN for index 261: issn               0038-4038
Category    ECONOMICS - SSCI
Name: 261, dtype: object
Columns are all NaN for index 263: issn              0040-1625
Category    BUSINESS - SSCI
Name: 263, dtype: object
Columns are all NaN for index 265: issn               0040-5833
Category    ECONOMICS - SSCI
Name: 265, dtype: object
Columns are all NaN for index 267: issn               0040-747X
Category    ECONOMICS - SSCI
Name: 267, dtype: object
Columns are all NaN for index 269: issn                0041-1612
Category    MANAGEMENT - SSCI
Name: 269, dtype: object
Columns are all NaN for index 271: issn               0041-3011
Category    ECONOMICS - SSCI
Name: 271, dtype: object
Columns are all NaN for index 273: issn               0042-8736
Category    ECONOMICS - ESCI
Name: 273, dtype: object
Columns are all NaN for index 275: issn               0044-3751
Category    ECONOMICS - SSCI
Name: 275, dtype: object
Columns are all NaN for index 277: issn              0045-3609
Category    BUSINESS - ESCI
Name: 277, dtype: object
Columns are all NaN for index 279: issn                       0046-3892
Category    BUSINESS, FINANCE - SSCI
Name: 279, dtype: object
Columns are all NaN for index 281: issn              0047-2506
Category    BUSINESS - SSCI
Name: 281, dtype: object
Columns are all NaN for index 283: issn                0047-2506
Category    MANAGEMENT - SSCI
Name: 283, dtype: object
Columns are all NaN for index 285: issn               0047-2727
Category    ECONOMICS - SSCI
Name: 285, dtype: object
Columns are all NaN for index 287: issn                0047-2778
Category    MANAGEMENT - SSCI
Name: 287, dtype: object
Columns are all NaN for index 289: issn                0048-3486
Category    MANAGEMENT - SSCI
Name: 289, dtype: object
Columns are all NaN for index 291: issn               0048-5829
Category    ECONOMICS - SSCI
Name: 291, dtype: object
Columns are all NaN for index 293: issn                0048-7333
Category    MANAGEMENT - SSCI
Name: 293, dtype: object
Columns are all NaN for index 295: issn               0048-749X
Category    ECONOMICS - ESCI
Name: 295, dtype: object
Columns are all NaN for index 297: issn              0090-2616
Category    BUSINESS - SSCI
Name: 297, dtype: object
Columns are all NaN for index 299: issn                0090-2616
Category    MANAGEMENT - SSCI
Name: 299, dtype: object
Columns are all NaN for index 301: issn                0090-4848
Category    MANAGEMENT - SSCI
Name: 301, dtype: object
Columns are all NaN for index 303: issn              0091-3367
Category    BUSINESS - SSCI
Name: 303, dtype: object
Columns are all NaN for index 305: issn              0092-0703
Category    BUSINESS - SSCI
Name: 305, dtype: object
Columns are all NaN for index 307: issn              0093-5301
Category    BUSINESS - SSCI
Name: 307, dtype: object
Columns are all NaN for index 309: issn               0094-1190
Category    ECONOMICS - SSCI
Name: 309, dtype: object
Columns are all NaN for index 311: issn               0094-5056
Category    ECONOMICS - ESCI
Name: 311, dtype: object
Columns are all NaN for index 313: issn              0095-0696
Category    BUSINESS - SSCI
Name: 313, dtype: object
Columns are all NaN for index 315: issn               0095-0696
Category    ECONOMICS - SSCI
Name: 315, dtype: object
Columns are all NaN for index 317: issn               0095-2583
Category    ECONOMICS - SSCI
Name: 317, dtype: object
Columns are all NaN for index 319: issn                       0095-4918
Category    BUSINESS, FINANCE - SSCI
Name: 319, dtype: object
Columns are all NaN for index 321: issn                       0114-0582
Category    BUSINESS, FINANCE - ESCI
Name: 321, dtype: object
Columns are all NaN for index 323: issn                0120-4645
Category    MANAGEMENT - ESCI
Name: 323, dtype: object
Columns are all NaN for index 325: issn              0121-1048
Category    BUSINESS - ESCI
Name: 325, dtype: object
Columns are all NaN for index 327: issn               0121-4772
Category    ECONOMICS - ESCI
Name: 327, dtype: object
Columns are all NaN for index 329: issn               0123-5923
Category    ECONOMICS - ESCI
Name: 329, dtype: object
Columns are all NaN for index 331: issn              0124-4639
Category    BUSINESS - ESCI
Name: 331, dtype: object
Columns are all NaN for index 333: issn                       0128-1976
Category    BUSINESS, FINANCE - ESCI
Name: 333, dtype: object
Columns are all NaN for index 335: issn               0139-570X
Category    ECONOMICS - SSCI
Name: 335, dtype: object

In [12]:
# Deduplicate rows including rows with missing identifiers for issn or e-issn
# Define boolean masks for issn and e-issn duplicates
issn_duplicates_mask = jcr_df.duplicated(subset=['issn', 'Category'], keep=False)
eissn_duplicates_mask = jcr_df.duplicated(subset=['e-issn', 'Category'], keep=False)

# Combine rows for issn duplicates
jcr_df_issn_combined = jcr_df[issn_duplicates_mask].groupby(['Tytuł 1', 'issn', 'Category'], as_index=False).apply(lambda x: x.combine_first(x.shift(-1))).reset_index(drop=True)

# Combine rows for e-issn duplicates
jcr_df_eissn_combined = jcr_df[eissn_duplicates_mask].groupby(['Tytuł 1', 'e-issn', 'Category'], as_index=False).apply(lambda x: x.combine_first(x.shift(-1))).reset_index(drop=True)

# Keep unique rows
unique_rows = jcr_df[~(issn_duplicates_mask | eissn_duplicates_mask)]

# Concatenate the deduplicated and unique rows
jcr_df_combined = pd.concat([jcr_df_issn_combined, jcr_df_eissn_combined, unique_rows], ignore_index=True)

# Drop the original duplicate rows
jcr_df_combined = jcr_df_combined.drop_duplicates(subset=['Tytuł 1', 'issn', 'e-issn', 'Category'])

# Display the resulting combined DataFrame
print("Combined jcr_df:")
print(jcr_df_combined.head())

C:\Users\Alon\AppData\Local\Temp\ipykernel_15484\3447710790.py:7: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  jcr_df_issn_combined = jcr_df[issn_duplicates_mask].groupby(['Tytuł 1', 'issn', 'Category'], as_index=False).apply(lambda x: x.combine_first(x.shift(-1))).reset_index(drop=True)
C:\Users\Alon\AppData\Local\Temp\ipykernel_15484\3447710790.py:10: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  jcr_df_eissn_combined = jcr_df[eissn_duplicates_mask].groupby(['Tytuł 1', 'e-issn', 'Category'], as_index=False).apply(lambda x: x.combine_first(x.shift(-1))).reset_index(drop=True)

Combined jcr_df:
                                             Tytuł 1       issn     e-issn  \
0                                         3C Empresa  2254-3376  2254-3376
1  Academia-Revista Latinoamericana de Administra...  1012-8255  2056-5127
2                       Academy of Management Annals  1941-6520  1941-6067
3                      ACADEMY OF MANAGEMENT JOURNAL  0001-4273  1948-0989
4                 Academy of Management Perspectives  1558-9080        NaN

          Category  2021 JIF (in 2021) JIF Quartile (in 2021)  \
0  BUSINESS - ESCI                 NaN                    NaN
1  BUSINESS - SSCI               1.369                     Q4
2  BUSINESS - SSCI              19.241                     Q1
3  BUSINESS - SSCI              10.979                     Q1
4  BUSINESS - SSCI               8.069                     Q1

   5 Year JIF (in 2021)  JIF Without Self Cites (in 2021)  \
0                   NaN                               NaN
1                 1.582                             1.185
2                27.258                            18.889
3                16.178                            10.611
4                10.161                             7.776

   JIF Percentile (in 2021)   2021 JCI (in 2021)  JCI Percentile (in 2021)  \
0                       NaN                 0.02                      2.54
1                      8.12                 0.27                     23.56
2                     99.68                 3.75                     99.83
3                     90.58  1954-02-01 00:00:00                     98.14
4                     78.25                 2.05                     94.07

  2022 JIF (in 2022) JIF Quartile (in 2022) 5 Year JIF (in 2022)  \
0                0.3                    NaN                  0.2
1                1.2                     Q4                  1.3
2               21.2                     Q1                 28.6
3               10.5                     Q1                 14.5
4                8.9                     Q1                  9.5

  5 Year JIF Quartile (in 2022) JIF Rank (in 2022)  2022 JCI (in 2022)  \
0                           NaN                NaN                0.04
1                            Q4            143/154                0.28
2                            Q1              1/154                3.56
3                            Q1             15/154                2.40
4                            Q1             26/154                2.00

  JCI Quartile (in 2022) JCI Rank (in 2022)
0                     Q4            284/301
1                     Q4            229/301
2                     Q1              1/301
3                     Q1              8/301
4                     Q1             16/301

In [13]:
# Group by 'issn' and 'Category', and aggregate columns, keeping the first non-NaN value
deduplicated_jcr_df_combined = jcr_df_combined.groupby(['issn', 'Category']).agg(lambda x: x.dropna().iloc[0] if x.notna().any() else np.nan).reset_index()

# Display the deduplicated DataFrame
print("Deduplicated Merged DataFrame:")
print(deduplicated_jcr_df_combined)

Deduplicated Merged DataFrame:
           issn                  Category  \
0     0001-3072  BUSINESS, FINANCE - SSCI
1     0001-4273           BUSINESS - SSCI
2     0001-4273         MANAGEMENT - SSCI
3     0001-4788  BUSINESS, FINANCE - SSCI
4     0001-4826  BUSINESS, FINANCE - SSCI
...         ...                       ...
1492  2708-3209           BUSINESS - ESCI
1493  2748-1956          ECONOMICS - SSCI
1494  2831-3232          ECONOMICS - ESCI
1495  8756-6222          ECONOMICS - SSCI
1496  8756-9728         MANAGEMENT - SSCI

                                                Tytuł 1     e-issn  \
0     Abacus-A Journal of Accounting Finance and Bus...  1467-6281
1                         ACADEMY OF MANAGEMENT JOURNAL  1948-0989
2                         ACADEMY OF MANAGEMENT JOURNAL  1948-0989
3                      ACCOUNTING AND BUSINESS RESEARCH  2159-4260
4                                     ACCOUNTING REVIEW  1558-7967
...                                                 ...        ...
1492                        Retail and Marketing Review  2708-3209
1493                 ZFW-Advances in Economic Geography  2748-1964
1494                 International Studies of Economics  2831-3224
1495            JOURNAL OF LAW ECONOMICS & ORGANIZATION  1465-7341
1496                         Project Management Journal  1938-9507

      2021 JIF (in 2021) JIF Quartile (in 2021)  5 Year JIF (in 2021)  \
0                  2.060                     Q3                 3.243
1                 10.979                     Q1                16.178
2                 10.979                     Q1                16.178
3                  2.326                     Q3                 3.606
4                  5.182                     Q1                 7.818
...                  ...                    ...                   ...
1492                 NaN                    NaN                   NaN
1493                 NaN                    NaN                   NaN
1494                 NaN                    NaN                   NaN
1495               1.324                     Q3                 2.019
1496               4.946                     Q2                 4.883

      JIF Without Self Cites (in 2021)  JIF Percentile (in 2021)  \
0                                1.800                     33.78
1                               10.611                     90.58
2                               10.611                     93.58
3                                1.953                     40.09
4                                4.852                     87.84
...                                ...                       ...
1492                               NaN                       NaN
1493                               NaN                       NaN
1494                               NaN                       NaN
1495                             1.297                     26.78
1496                             4.301                     53.76

       2021 JCI (in 2021)  JCI Percentile (in 2021) 2022 JIF (in 2022)  \
0                    0.97                     72.62                2.1
1     1954-02-01 00:00:00                     98.14               10.5
2                    2.54                     97.57               10.5
3                     1.0                     74.43                1.7
4                    1.78                     92.99                4.1
...                   ...                       ...                ...
1492                 0.05                      7.29                NaN
1493                  NaN                       NaN                NaN
1494                  NaN                       NaN                NaN
1495                 1.11                     79.04                1.1
1496                  0.9                     62.53                5.0

     JIF Quartile (in 2022) 5 Year JIF (in 2022)  \
0                        Q3                  2.6
1                        Q1                 14.5
2                        Q1                 14.5
3                        Q3                  3.2
4                        Q2                  6.6
...                     ...                  ...
1492                    NaN                  NaN
1493                    NaN                  NaN
1494                    NaN                  NaN
1495                     Q4                  1.6
1496                     Q2                  5.7

     5 Year JIF Quartile (in 2022) JIF Rank (in 2022)  2022 JCI (in 2022)  \
0                               Q3             69/111                0.66
1                               Q1             15/154                2.40
2                               Q1             16/227                2.40
3                               Q3             78/111                0.70
4                               Q1             35/111                1.48
...                            ...                ...                 ...
1492                           NaN                NaN                 NaN
1493                           NaN                NaN                1.95
1494                           NaN                NaN                 NaN
1495                            Q3            299/380                0.75
1496                            Q2            102/227                0.99

     JCI Quartile (in 2022) JCI Rank (in 2022)
0                        Q2             96/227
1                        Q1              8/301
2                        Q1              9/396
3                        Q2             90/227
4                        Q1             21/227
...                     ...                ...
1492                    NaN                NaN
1493                     Q1             33/581
1494                    NaN                NaN
1495                     Q2            198/581
1496                     Q2            124/396

[1497 rows x 19 columns]

### CUBS File
Extracting the required data to prepare a dataframe for concatenation

In [14]:
# Directly create a dataframe from the single file in cabs_data
cabs_df = cabs_data['CABS Journal Ranking 2021.xlsx']

# Clean column names by removing trailing spaces
cabs_df.columns = cabs_df.columns.str.strip()

# Specify the columns and their corresponding new names
columns_mapping = {
    'ISSN': 'issn',
    'Field': 'Class',
    'Journal Title': 'Journal Title (CABS)',
    'Publisher Name': 'Publisher Name',
    'AJG 2015': 'AJG 2015',
    'AJG 2018': 'AJG 2018',
    'AJG 2021': 'AJG 2021'
}

# Select and rename columns if they exist in the DataFrame
cabs_df_selected = cabs_df[columns_mapping.keys()].rename(columns=columns_mapping)

# Display the resulting DataFrame
print("CABS DataFrame:")
print(cabs_df_selected.head())

CABS DataFrame:
        issn    Class                   Journal Title (CABS)  \
0  1558-7967  ACCOUNT                      Accounting Review
1  1873-6289  ACCOUNT  Accounting, Organizations and Society
2  1879-1980  ACCOUNT    Journal of Accounting and Economics
3  1475-679X  ACCOUNT         Journal of Accounting Research
4  1911-3846  ACCOUNT       Contemporary Accounting Research

                    Publisher Name AJG 2015 AJG 2018 AJG 2021
0  American Accounting Association       4*       4*       4*
1                         Elsevier       4*       4*       4*
2                         Elsevier       4*       4*       4*
3                  Wiley-Blackwell       4*       4*       4*
4                  Wiley-Blackwell        4        4        4

### Join All Sources to Get a Single Output File

In [15]:
# Perform an outer join based on 'issn'
merged_df = pd.merge(deduplicated_jcr_df_combined, wykaz_df_deduplicated, left_on=['issn', 'e-issn'], right_on=['issn', 'e-issn'], how='outer')

# Display the resulting merged DataFrame
print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
           issn                  Category  \
0     0001-3072  BUSINESS, FINANCE - SSCI
1     0001-4273           BUSINESS - SSCI
2     0001-4273         MANAGEMENT - SSCI
3     0001-4788  BUSINESS, FINANCE - SSCI
4     0001-4826  BUSINESS, FINANCE - SSCI
...         ...                       ...
4158  2408-9117                       NaN
4159  2795-5044                       NaN
4160  0191-3085                       NaN
4161  0767-3701                       NaN
4162  2080-1335                       NaN

                                                Tytuł 1     e-issn  \
0     Abacus-A Journal of Accounting Finance and Bus...  1467-6281
1                         ACADEMY OF MANAGEMENT JOURNAL  1948-0989
2                         ACADEMY OF MANAGEMENT JOURNAL  1948-0989
3                      ACCOUNTING AND BUSINESS RESEARCH  2159-4260
4                                     ACCOUNTING REVIEW  1558-7967
...                                                 ...        ...
4158                                                NaN  2313-4178
4159                                                NaN  2795-5044
4160                                                NaN  0191-3085
4161                                                NaN  2051-2821
4162                                                NaN  2720-0841

      2021 JIF (in 2021) JIF Quartile (in 2021)  5 Year JIF (in 2021)  \
0                  2.060                     Q3                 3.243
1                 10.979                     Q1                16.178
2                 10.979                     Q1                16.178
3                  2.326                     Q3                 3.606
4                  5.182                     Q1                 7.818
...                  ...                    ...                   ...
4158                 NaN                    NaN                   NaN
4159                 NaN                    NaN                   NaN
4160                 NaN                    NaN                   NaN
4161                 NaN                    NaN                   NaN
4162                 NaN                    NaN                   NaN

      JIF Without Self Cites (in 2021)  JIF Percentile (in 2021)  \
0                                1.800                     33.78
1                               10.611                     90.58
2                               10.611                     93.58
3                                1.953                     40.09
4                                4.852                     87.84
...                                ...                       ...
4158                               NaN                       NaN
4159                               NaN                       NaN
4160                               NaN                       NaN
4161                               NaN                       NaN
4162                               NaN                       NaN

       2021 JCI (in 2021)  ...  5 Year JIF (in 2022)  \
0                    0.97  ...                   2.6
1     1954-02-01 00:00:00  ...                  14.5
2                    2.54  ...                  14.5
3                     1.0  ...                   3.2
4                    1.78  ...                   6.6
...                   ...  ...                   ...
4158                  NaN  ...                   NaN
4159                  NaN  ...                   NaN
4160                  NaN  ...                   NaN
4161                  NaN  ...                   NaN
4162                  NaN  ...                   NaN

     5 Year JIF Quartile (in 2022) JIF Rank (in 2022) 2022 JCI (in 2022)  \
0                               Q3             69/111               0.66
1                               Q1             15/154               2.40
2                               Q1             16/227               2.40
3                               Q3             78/111               0.70
4                               Q1             35/111               1.48
...                            ...                ...                ...
4158                           NaN                NaN                NaN
4159                           NaN                NaN                NaN
4160                           NaN                NaN                NaN
4161                           NaN                NaN                NaN
4162                           NaN                NaN                NaN

     JCI Quartile (in 2022) JCI Rank (in 2022)  \
0                        Q2             96/227
1                        Q1              8/301
2                        Q1              9/396
3                        Q2             90/227
4                        Q1             21/227
...                     ...                ...
4158                    NaN                NaN
4159                    NaN                NaN
4160                    NaN                NaN
4161                    NaN                NaN
4162                    NaN                NaN

                                                  Title Points Dec21  \
0     Abacus-A Journal of Accounting Finance and Bus...         70.0
1                         ACADEMY OF MANAGEMENT JOURNAL        200.0
2                         ACADEMY OF MANAGEMENT JOURNAL        200.0
3                      ACCOUNTING AND BUSINESS RESEARCH        100.0
4                                     ACCOUNTING REVIEW        200.0
...                                                 ...          ...
4158             Journal of Tourism Management Research          NaN
4159   Journal of Tourism Sustainability and Well-being          NaN
4160                Research in Organizational Behavior          NaN
4161             Recherche et Applications en Marketing          NaN
4162            Przegląd Bezpieczeństwa Wewnętrznego          NaN

     Points Jan24 Points Feb21
0            70.0         70.0
1           200.0        200.0
2           200.0        200.0
3           100.0        100.0
4           200.0        200.0
...           ...          ...
4158         20.0          NaN
4159         20.0          NaN
4160         70.0          NaN
4161         20.0          NaN
4162         20.0          NaN

[4163 rows x 23 columns]

In [16]:
# Check for duplicates based on 'issn' and 'Category'
duplicates_df = merged_df[merged_df.duplicated(subset=['issn', 'Category'], keep=False)]

# Display the rows with duplicates
print("Duplicate Rows based on 'issn' and 'Category':")
print(duplicates_df)

Duplicate Rows based on 'issn' and 'Category':
Empty DataFrame
Columns: [issn, Category, Tytuł 1, e-issn, 2021 JIF (in 2021), JIF Quartile (in 2021), 5 Year JIF (in 2021), JIF Without Self Cites (in 2021), JIF Percentile (in 2021), 2021 JCI (in 2021), JCI Percentile (in 2021), 2022 JIF (in 2022), JIF Quartile (in 2022), 5 Year JIF (in 2022), 5 Year JIF Quartile (in 2022), JIF Rank (in 2022), 2022 JCI (in 2022), JCI Quartile (in 2022), JCI Rank (in 2022), Title, Points Dec21, Points Jan24, Points Feb21]
Index: []

[0 rows x 23 columns]

In [17]:
# Merge CABS file to add classifications
merged_all_df = pd.merge(merged_df, cabs_df_selected, left_on=['issn'], right_on=['issn'], how='outer')

In [18]:
# Check for duplicates based on 'issn' and 'Category'
duplicates_df = merged_all_df[merged_all_df.duplicated(subset=['issn', 'Category'], keep=False)]

# Display the rows with duplicates
print("Duplicate Rows based on 'issn' and 'Category':")
print(duplicates_df)

Duplicate Rows based on 'issn' and 'Category':
Empty DataFrame
Columns: [issn, Category, Tytuł 1, e-issn, 2021 JIF (in 2021), JIF Quartile (in 2021), 5 Year JIF (in 2021), JIF Without Self Cites (in 2021), JIF Percentile (in 2021), 2021 JCI (in 2021), JCI Percentile (in 2021), 2022 JIF (in 2022), JIF Quartile (in 2022), 5 Year JIF (in 2022), 5 Year JIF Quartile (in 2022), JIF Rank (in 2022), 2022 JCI (in 2022), JCI Quartile (in 2022), JCI Rank (in 2022), Title, Points Dec21, Points Jan24, Points Feb21, Class, Journal Title (CABS), Publisher Name, AJG 2015, AJG 2018, AJG 2021]
Index: []

[0 rows x 29 columns]

In [19]:
# Organise columns for saving
desired_order = [
    'Category', 'Class', 'issn', 'e-issn', 'Tytuł 1', 'Journal Title (CABS)', 'Publisher Name',
    'AJG 2015', 'AJG 2018', 'AJG 2021', '2022 JIF (in 2022)', 'JIF Quartile (in 2022)', 'JIF Rank (in 2022)',
    '5 Year JIF (in 2022)', '5 Year JIF Quartile (in 2022)', '2022 JCI (in 2022)', 'JCI Rank (in 2022)',
    'JCI Quartile (in 2022)', '2021 JIF (in 2021)', 'JIF Quartile (in 2021)', '5 Year JIF (in 2021)',
    'JIF Without Self Cites (in 2021)', 'JIF Percentile (in 2021)', '2021 JCI (in 2021)', 'JCI Percentile (in 2021)',
    'Points Feb21', 'Points Dec21', 'Points Jan24'
]

# Reorder the columns
merged_all_df = merged_all_df[desired_order]

In [20]:
# Perform small cosmetic changes before saving
merged_all_df['Class'].fillna(merged_all_df['Category'], inplace=True) # Fill missing Class values from JCR Category column
merged_all_df.drop('Category', axis=1, inplace=True)  # Drop 'Category' column
merged_all_df.sort_values(by=['issn', 'Journal Title (CABS)', 'Tytuł 1'], inplace=True)  # Sort by specified columns

In [21]:
# Clean Class to iterate through it and dynamically save it to Excel
class_counts = merged_all_df['Class'].value_counts().reset_index()
class_counts.columns = ['Class', 'Observations']
print(class_counts)

# Rename and organize classes according to CABS and JCR
class_mapping = {
    'BUSINESS, FINANCE - SSCI': 'BUSINESS, FINANCE',
    'BUSINESS, FINANCE - ESCI': 'BUSINESS, FINANCE',
    'BUSINESS - SSCI': 'BUSINESS',
    'BUSINESS - ESCI': 'BUSINESS',
    'ECONOMICS - SSCI': 'ECONOMICS',
    'ECONOMICS - ESCI': 'ECONOMICS',
    'MANAGEMENT - SSCI': 'MANAGEMENT',
    'MANAGEMENT - ESCI': 'MANAGEMENT',
    'ECON': 'CABS ECON',
    'ETHICS-CSR-MAN': 'CABS ETHICS-CSR-MAN',
    'FINANCE': 'CABS FINANCE',
    'SECTOR': 'CABS SECTOR',
    'INFO MAN': 'CABS INFO MAN',
    'ACCOUNT': 'CABS ACCOUNT',
    'SOC SCI': 'CABS SOC SCI',
    'MKT': 'CABS MKT',
    'OR&MANSCI': 'CABS OR&MANSCI',
    'OPS&TECH': 'CABS OPS&TECH',
    'PSYCH (GENERAL)': 'CABS PSYCH (GENERAL)',
    'PSYCH (WOP-OB)': 'CABS PSYCH (WOP-OB)',
    'HRM&EMP': 'CABS HRM&EMP',
    'PUB SEC': 'CABS PUB SEC',
    'IB&AREA': 'CABS IB&AREA',
    'MDEV&EDU': 'CABS MDEV&EDU',
    'INNOV': 'CABS INNOV',
    'ORG STUD': 'CABS ORG STUD',
    'ENT-SBM': 'CABS ENT-SBM',
    'REGIONAL STUDIES, PLANNING AND ENVIRONMENT': 'CABS REGIONAL STUDIES, PLANNING AND ENVIRONMENT',
    'BUS HIST & ECON HIST': 'CABS BUS HIST & ECON HIST',
    'STRAT': 'CABS STRAT'
}

merged_all_df['Class'] = merged_all_df['Class'].replace(class_mapping)

                                         Class  Observations
0                             ECONOMICS - SSCI           367
1                                         ECON           334
2                            MANAGEMENT - SSCI           216
3                             ECONOMICS - ESCI           185
4                            MANAGEMENT - ESCI           146
5                              BUSINESS - SSCI           144
6                               ETHICS-CSR-MAN           122
7                              BUSINESS - ESCI           121
8                                      FINANCE           114
9                                       SECTOR           108
10                    BUSINESS, FINANCE - SSCI           105
11                                    INFO MAN           100
12                    BUSINESS, FINANCE - ESCI            95
13                                     ACCOUNT            91
14                                     SOC SCI            88
15                                         MKT            76
16                                   OR&MANSCI            70
17                                    OPS&TECH            70
18                             PSYCH (GENERAL)            67
19                              PSYCH (WOP-OB)            66
20                                     HRM&EMP            57
21                                     PUB SEC            55
22                                     IB&AREA            55
23                                    MDEV&EDU            50
24                                       INNOV            40
25                                    ORG STUD            38
26                                     ENT-SBM            33
27  REGIONAL STUDIES, PLANNING AND ENVIRONMENT            33
28                        BUS HIST & ECON HIST            29
29                                       STRAT            20

In [22]:
# Save to Excel with separate sheets for each Class
excel_output_path = 'output file.xlsx'

# Create an ExcelWriter
with pd.ExcelWriter(excel_output_path, engine='xlsxwriter') as writer:
    # Get unique classes and handle NaN
    unique_classes = merged_all_df['Class'].fillna('unclassified').unique()

    for class_name in unique_classes:
        # Limit the length of the class name
        sheet_name = 'unclassified' if pd.isna(class_name) else str(class_name)[:31]

        # Filter rows for each class
        class_df = merged_all_df[merged_all_df['Class'].fillna('unclassified') == class_name]

        # Write to Excel sheet
        class_df.to_excel(writer, sheet_name=sheet_name, index=False)