In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import os
from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

## Data Loading
### focus on journals related to finance, economics, management, etc., specifically:
<ol>
  <li>from CABS file use all journals in spreadsheet “CABS 2021”</li>
  <li>from JCR files use all journals in spreadsheets: BUSINESS, BUSINESS, FINANCE, ECONOMICS, MANAGEMENT
</li>
  <li>from “Wykaz…” files use the journals from the following:
ekonomia i finanse		nauki o zarządzaniu i jakości
501		506;
Use only spreadsheet “czasopisma naukowe”
</li>
</ol>

Note that if the journal appears at least in one of the source, it has to be taken into account

In [57]:
# Specify the directory containing your Excel files
directory_path = 'source files'

# Get a list of all Excel files in the directory
excel_files = [file for file in os.listdir(directory_path) if file.endswith('.xlsx')]

# Create dictionaries to store loaded data frames for CABS, JCR, and WYKAZ
cabs_data = {}
jcr_data = {}
wykaz_data = {}

# Load from CABS file
cabs_file = [file for file in excel_files if "CABS" in file][0]
cabs_sheet = "CABS 2021"
cabs_file_path = os.path.join(directory_path, cabs_file)
try:
    cabs_df = pd.read_excel(cabs_file_path, sheet_name=cabs_sheet)
    cabs_data[cabs_file] = cabs_df
except Exception as e:
    print(f"Error loading {cabs_file}: {e}")

# Load from JCR files
jcr_files = [file for file in excel_files if "JCR" in file]
jcr_sheets = ["BUSINESS", "BUSINESS, FINANCE", "ECONOMICS", "MANAGEMENT"]
for jcr_file in jcr_files:
    jcr_file_path = os.path.join(directory_path, jcr_file)
    try:
        jcr_df = pd.read_excel(jcr_file_path, sheet_name=jcr_sheets)
        jcr_data[jcr_file] = jcr_df
    except Exception as e:
        print(f"Error loading {jcr_file}: {e}")

# Load from files containing the word “Wykaz”
wykaz_files = [file for file in excel_files if "Wykaz" in file]
for wykaz_file in wykaz_files:
    wykaz_file_path = os.path.join(directory_path, wykaz_file)
    try:
        wykaz_df = None
        with pd.ExcelFile(wykaz_file_path) as xls:
            for sheet_name in xls.sheet_names:
                if "czasopisma" in sheet_name.lower():
                    wykaz_df = pd.read_excel(wykaz_file_path, sheet_name=sheet_name, engine='openpyxl')
                    
                    wykaz_data[wykaz_file] = wykaz_df
                    break
        if wykaz_df is None:
            print(f"No sheet containing 'czasopisma' found in {wykaz_file}")
    except Exception as e:
        print(f"Error loading {wykaz_file}: {e}")

# Print the dictionaries
print("CABS Data:")
print(cabs_data.keys())

print("\nJCR Data:")
print(jcr_data.keys())

print("\nWYKAZ Data:")
print(wykaz_data.keys())

CABS Data:
dict_keys(['CABS Journal Ranking 2021.xlsx'])

JCR Data:
dict_keys(['JCR_2021_ALL.xlsx', 'JCR_2022_ALL.xlsx'])

WYKAZ Data:
dict_keys(['20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx', '20240105_Wykaz_czasopism_naukowych_2024_styczeń.xlsx', 'Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx'])

In [58]:
# Replace preceeding column names with true column names
def process_dataframes(dictionary_name, data_dict):
    for file_name, data_frame in data_dict.items():
        # Check if 'issn' is present in any column name (case-insensitive)
        has_issn_column = any('issn' in str(col).lower() for col in data_frame.columns)

        if not has_issn_column:
            # Make the first row the column names
            data_frame.columns = data_frame.iloc[0]
            data_frame = data_frame[1:]  # Exclude the first row after using it as column names

            # Reset the index after excluding the first row
            data_frame.reset_index(drop=True, inplace=True)

            # Update the dataframe in the dictionary
            data_dict[file_name] = data_frame

    print(f"Processed {dictionary_name} data frames.")

process_dataframes('WYKAZ', wykaz_data)

Processed WYKAZ data frames.

In [104]:
# Rename duplicate and inconsistent column names
def rename_duplicate_columns_in_dict(data_dict):
    for df_name, df in data_dict.items():
        column_count = {}
        new_columns = []

        for column in df.columns:
            if column not in column_count:
                column_count[column] = 1
                new_column = column
            else:
                column_count[column] += 1
                new_column = f"{column}{column_count[column]}"

            new_columns.append(new_column)

        df.columns = new_columns

        # Change 'issn.1' to 'issn2'
        if 'issn.1' in df.columns:
            df.rename(columns={'issn.1': 'issn2', 'e-issn.1': 'e-issn2'}, inplace=True)

        # Change 'Punktacja' to 'Punkty'
        if 'Punktacja' in df.columns:
            df.rename(columns={'Punktacja': 'Punkty'}, inplace=True)

        data_dict[df_name] = df

    return data_dict

# Call the function to rename duplicate columns in all DataFrames
rename_duplicate_columns_in_dict(wykaz_data)

{'20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx':          Lp.  Unikatowy Identyfikator Czasopisma  \
 0          1                                   1
 1          2                                   2
 2          3                                   3
 3          4                                   4
 4          5                                   5
 ...      ...                                 ...
 32671  32672                              201488
 32672  32673                              201489
 32673  32674                              201490
 32674  32675                              201491
 32675  32676                              201492

                                                  Tytuł 1       issn  \
 0                                           2D Materials  2053-1583
 1                                              3 Biotech  2190-572X
 2                                             3C Empresa  2254-3376
 3                                          3c Tecnologia  2254-4143
 4                                                 3C Tic  2254-6529
 ...                                                  ...        ...
 32671                                              Semen  1957-780X
 32672                            Państwo i Społeczeństwo  1643-8299
 32673                                      Niepodległość  0272-0280
 32674  Advances in Science and Technology Research Jo...  2080-4075
 32675                                     De Re Militari  2392-3911

           e-issn       Tytuł 2      issn2    e-issn2 Punkty  101  ...  510  \
 0      2053-1583  2D Materials        NaN  2053-1583    140  NaN  ...  NaN
 1      2190-5738     3 Biotech  2190-572X  2190-5738     70  NaN  ...  NaN
 2      2254-3376           NaN        NaN        NaN     20  NaN  ...  NaN
 3      2254-4143           NaN        NaN        NaN     20  NaN  ...  NaN
 4      2254-6529           NaN        NaN        NaN     20  NaN  ...  NaN
 ...          ...           ...        ...        ...    ...  ...  ...  ...
 32671        NaN           NaN        NaN        NaN     20  NaN  ...  NaN
 32672        NaN           NaN        NaN        NaN     40  NaN  ...  NaN
 32673        NaN           NaN        NaN        NaN     70  NaN  ...  NaN
 32674        NaN           NaN        NaN        NaN    100  NaN  ...  NaN
 32675        NaN           NaN        NaN        NaN     20  NaN  ...  NaN

        511  601  602  603  604  605  606  607  701
 0      NaN  NaN  NaN  NaN  NaN    x    x  NaN  NaN
 1      NaN  NaN  NaN  NaN    x  NaN  NaN  NaN  NaN
 2      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 3      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 4      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 ...    ...  ...  ...  ...  ...  ...  ...  ...  ...
 32671  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 32672    x  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 32673  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 32674  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 32675  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

 [32676 rows x 53 columns],
 '20240105_Wykaz_czasopism_naukowych_2024_styczeń.xlsx':          Lp. Unikatowy Identyfikator Czasopisma  \
 0         10                                 10
 1         23                                 23
 2         55                                 55
 3         57                                 57
 4         68                                 68
 ...      ...                                ...
 34083  34083                             504531
 34084  34084                             503644
 34085  34085                             493586
 34086  34086                             502816
 34087  34088                             504128

                                                  Tytuł 1       issn  \
 0         4OR-A Quarterly Journal of Operations Research  1619-4500
 1      Abacus-A Journal of Accounting Finance and Bus...  0001-3072
 2                                 Accounting and Finance  0810-5391
 3               Accounting Economics and Law-A Convivium  2194-6051
 4                                      ACCOUNTING REVIEW  0001-4826
 ...                                                  ...        ...
 34083                                  Studia Archiwalne  1734-7513
 34084                    Studia Capuccinorum Boziniensia  2585-8025
 34085                                 Teologický časopis  1336-3395
 34086                       Studia Teologii Dogmatycznej  2449-7452
 34087  Rocznik Muzeum „Górnośląski Park Etnograficzny...  2353-2734

           e-issn                                            Tytuł 2  \
 0      1614-2411                                                4OR
 1      1467-6281                                             Abacus
 2      1467-629X                             Accounting and Finance
 3      2152-2820                      Accounting, Economics and Law
 4      1558-7967                                  Accounting Review
 ...          ...                                                ...
 34083  2720-3697                                  Studia Archiwalne
 34084        NaN                    Studia Capuccinorum Boziniensia
 34085        NaN                                 Teologický časopis
 34086        NaN                   The Studies in Dogmatic Theology
 34087        NaN  Yearbook of the Museum “Upper Silesian Ethnogr...

            issn2    e-issn2 Punkty  101  ...  608  602  603  604  605  606  \
 0      1619-4500  1614-2411     70  NaN  ...  NaN    x  NaN  NaN  NaN  NaN
 1      0001-3072        NaN     70  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
 2      0810-5391        NaN     70  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
 3            NaN  2152-2820     70  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
 4      0001-4826        NaN    200  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
 ...          ...        ...    ...  ...  ...  ...  ...  ...  ...  ...  ...
 34083        NaN        NaN     20  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
 34084        NaN        NaN     20  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
 34085        NaN        NaN     20  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
 34086        NaN        NaN     20  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
 34087        NaN        NaN     20    x  ...  NaN  NaN  NaN  NaN  NaN  NaN

        607  702  701 1001
 0      NaN  NaN  NaN  NaN
 1      NaN  NaN  NaN  NaN
 2      NaN  NaN  NaN  NaN
 3      NaN  NaN  NaN  NaN
 4      NaN  NaN  NaN  NaN
 ...    ...  ...  ...  ...
 34083  NaN  NaN  NaN  NaN
 34084  NaN  NaN  NaN  NaN
 34085  NaN  NaN  NaN  NaN
 34086  NaN    x    x  NaN
 34087  NaN  NaN  NaN  NaN

 [34088 rows x 61 columns],
 'Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx':            Lp.   Unikatowy Identyfikator Czasopisma  \
 0         10.0                                 10.0
 1         23.0                                 23.0
 2         55.0                                 55.0
 3         57.0                                 57.0
 4         68.0                                 68.0
 ...        ...                                  ...
 31429  31426.0                             498871.0
 31430  31429.0                             499029.0
 31431  31430.0                             499067.0
 31432  31431.0                             499108.0
 31433  31432.0                             499116.0

                                                  Tytuł 1       issn  \
 0         4OR-A Quarterly Journal of Operations Research  1619-4500
 1      Abacus-A Journal of Accounting Finance and Bus...  0001-3072
 2                                 Accounting and Finance  0810-5391
 3               Accounting Economics and Law-A Convivium  2194-6051
 4                                      ACCOUNTING REVIEW  0001-4826
 ...                                                  ...        ...
 31429                                           Probacja  1689-6122
 31430                             Open Political Science
 31431                                     Językoznawstwo  1897-0389
 31432                           Człowiek i Społeczeństwo  0239-3271
 31433                                          Com.press

           e-issn                        Tytuł 2      issn2    e-issn2  Punkty  \
 0      1614-2411                            4OR  1619-4500  1614-2411    70.0
 1      1467-6281                         Abacus  0001-3072        NaN    70.0
 2      1467-629X         Accounting and Finance  0810-5391        NaN    70.0
 3      2152-2820  Accounting, Economics and Law        NaN  2152-2820    70.0
 4      1558-7967              Accounting Review  0001-4826        NaN   200.0
 ...          ...                            ...        ...        ...     ...
 31429        NaN                            NaN        NaN        NaN    20.0
 31430  2543-8042                            NaN        NaN        NaN    20.0
 31431  2391-5137                    Linguistics        NaN        NaN    20.0
 31432                           Man and Society        NaN        NaN    40.0
 31433  2545-2320                            NaN        NaN        NaN    20.0

        101  ...  510  511  601  602  603  604  605  606  607  701
 0      NaN  ...  NaN  NaN  NaN    x  NaN  NaN  NaN  NaN  NaN  NaN
 1      NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 2      NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 3      NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 4      NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 ...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 31429  NaN  ...  NaN    x  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 31430  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 31431  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 31432  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 31433  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

 [31434 rows x 53 columns]}

In [108]:
wykaz_data['20240105_Wykaz_czasopism_naukowych_2024_styczeń.xlsx']

,Lp.,Unikatowy Identyfikator Czasopisma,Tytuł 1,issn,e-issn,Tytuł 2,issn2,e-issn2,Punkty,101,...,608,602,603,604,605,606,607,702,701,1001
0,10,10,4OR-A Quarterly Journal of Operations Research,1619-4500,1614-2411,4OR,1619-4500,1614-2411,70,NaN,...,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,23,23,Abacus-A Journal of Accounting Finance and Bus...,0001-3072,1467-6281,Abacus,0001-3072,NaN,70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55,55,Accounting and Finance,0810-5391,1467-629X,Accounting and Finance,0810-5391,NaN,70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,57,57,Accounting Economics and Law-A Convivium,2194-6051,2152-2820,"Accounting, Economics and Law",NaN,2152-2820,70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,68,68,ACCOUNTING REVIEW,0001-4826,1558-7967,Accounting Review,0001-4826,NaN,200,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34083,34083,504531,Studia Archiwalne,1734-7513,2720-3697,Studia Archiwalne,NaN,NaN,20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34084,34084,503644,Studia Capuccinorum Boziniensia,2585-8025,NaN,Studia Capuccinorum Boziniensia,NaN,NaN,20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34085,34085,493586,Teologický časopis,1336-3395,NaN,Teologický časopis,NaN,NaN,20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34086,34086,502816,Studia Teologii Dogmatycznej,2449-7452,NaN,The Studies in Dogmatic Theology,NaN,NaN,20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,x,NaN
34087,34088,504128,Rocznik Muzeum „Górnośląski Park Etnograficzny...,2353-2734,NaN,Yearbook of the Museum “Upper Silesian Ethnogr...,NaN,NaN,20,x,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Wykaz Files
Extracting the required data to create a united dataframe out of all files

In [106]:
# Create a single DataFrame from all Wykaz files
wykaz_df = pd.DataFrame(columns=['Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Punkty'])

# Extract data from Wykaz files for categories 501 and 506
for file_name, file_data in wykaz_data.items():
    for column in file_data.columns:
        if column in [501, 506]:
            selected_columns = ['Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Punkty']

            # Print the actual column names in the DataFrame
            print(f"Actual Column Names in {file_name}: {file_data.columns.tolist()}")

            selected_data = file_data[file_data[column] == 'x'][selected_columns]

            # Print the selected data to see if the columns are present
            print(f"Selected Data for {file_name}:\n{selected_data.head()}")

            wykaz_df = pd.concat([wykaz_df, selected_data])

# Deduplicate the resulting DataFrame
wykaz_df = wykaz_df.drop_duplicates()

# Display the resulting Wykaz DataFrame
print("Wykaz DataFrame:")
print(wykaz_df.head())

Actual Column Names in 20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx: ['Lp.', ' Unikatowy Identyfikator Czasopisma', 'Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Punkty', 101, 102, 103, 104, 105, 106, 107, 201, 202, 203, 204, 205, 206, 207, 208, 209, 301, 302, 303, 304, 401, 402, 403, 404, 405, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 601, 602, 603, 604, 605, 606, 607, 701]
Selected Data for 20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx:
                                              Tytuł 1       issn     e-issn  \
9      4OR-A Quarterly Journal of Operations Research  1619-4500  1614-2411
22  Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
54                             Accounting and Finance  0810-5391  1467-629X
56           Accounting Economics and Law-A Convivium  2194-6051  2152-2820
67                                  ACCOUNTING REVIEW  0001-4826  1558-7967

                          Tytuł 2      issn2    e-issn2 Punkty
9                             4OR  1619-4500  1614-2411     70
22                         Abacus  0001-3072        NaN     70
54         Accounting and Finance  0810-5391        NaN     70
56  Accounting, Economics and Law        NaN  2152-2820     70
67              Accounting Review  0001-4826        NaN    200
Actual Column Names in 20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx: ['Lp.', ' Unikatowy Identyfikator Czasopisma', 'Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Punkty', 101, 102, 103, 104, 105, 106, 107, 201, 202, 203, 204, 205, 206, 207, 208, 209, 301, 302, 303, 304, 401, 402, 403, 404, 405, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 601, 602, 603, 604, 605, 606, 607, 701]
Selected Data for 20211201_Wykaz_dyscyplin_przypisanych_do_czasopism_naukowych_i_materiałów_konferencyjnych - Dec 2021 1.xlsx:
                                              Tytuł 1       issn     e-issn  \
2                                          3C Empresa  2254-3376  2254-3376
9      4OR-A Quarterly Journal of Operations Research  1619-4500  1614-2411
22  Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
42                       Academy of Management Annals  1941-6520  1941-6067
43                  Academy of Management Discoveries  2168-1007  2168-1007

                         Tytuł 2      issn2    e-issn2 Punkty
2                            NaN        NaN        NaN     20
9                            4OR  1619-4500  1614-2411     70
22                        Abacus  0001-3072        NaN     70
42  Academy of Management Annals  1941-6520  1941-6067    200
43                           NaN        NaN        NaN    100
Actual Column Names in 20240105_Wykaz_czasopism_naukowych_2024_styczeń.xlsx: ['Lp.', 'Unikatowy Identyfikator Czasopisma', 'Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Punkty', 101, 108, 102, 103, 104, 105, 106, 107, 109, 201, 2021, 203, 210, 204, 205, 2061, 207, 208, 209, 305, 301, 302, 303, 304, 901, 401, 402, 403, 405, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 601, 608, 602, 603, 604, 605, 606, 607, 702, 701, 1001]
Selected Data for 20240105_Wykaz_czasopism_naukowych_2024_styczeń.xlsx:
                                             Tytuł 1       issn     e-issn  \
0     4OR-A Quarterly Journal of Operations Research  1619-4500  1614-2411
1  Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
2                             Accounting and Finance  0810-5391  1467-629X
3           Accounting Economics and Law-A Convivium  2194-6051  2152-2820
4                                  ACCOUNTING REVIEW  0001-4826  1558-7967

                         Tytuł 2      issn2    e-issn2 Punkty
0                            4OR  1619-4500  1614-2411     70
1                         Abacus  0001-3072        NaN     70
2         Accounting and Finance  0810-5391        NaN     70
3  Accounting, Economics and Law        NaN  2152-2820     70
4              Accounting Review  0001-4826        NaN    200
Actual Column Names in 20240105_Wykaz_czasopism_naukowych_2024_styczeń.xlsx: ['Lp.', 'Unikatowy Identyfikator Czasopisma', 'Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Punkty', 101, 108, 102, 103, 104, 105, 106, 107, 109, 201, 2021, 203, 210, 204, 205, 2061, 207, 208, 209, 305, 301, 302, 303, 304, 901, 401, 402, 403, 405, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 601, 608, 602, 603, 604, 605, 606, 607, 702, 701, 1001]
Selected Data for 20240105_Wykaz_czasopism_naukowych_2024_styczeń.xlsx:
                                             Tytuł 1       issn     e-issn  \
0     4OR-A Quarterly Journal of Operations Research  1619-4500  1614-2411
1  Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
2                             Accounting and Finance  0810-5391  1467-629X
3           Accounting Economics and Law-A Convivium  2194-6051  2152-2820
4                                  ACCOUNTING REVIEW  0001-4826  1558-7967

                         Tytuł 2      issn2    e-issn2 Punkty
0                            4OR  1619-4500  1614-2411     70
1                         Abacus  0001-3072        NaN     70
2         Accounting and Finance  0810-5391        NaN     70
3  Accounting, Economics and Law        NaN  2152-2820     70
4              Accounting Review  0001-4826        NaN    200
Actual Column Names in Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx: ['Lp.', ' Unikatowy Identyfikator Czasopisma', 'Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Punkty', 101, 102, 103, 104, 105, 106, 107, 201, 202, 203, 204, 205, 206, 207, 208, 209, 301, 302, 303, 304, 401, 402, 403, 404, 405, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 601, 602, 603, 604, 605, 606, 607, 701]
Selected Data for Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx:
                                             Tytuł 1       issn     e-issn  \
0     4OR-A Quarterly Journal of Operations Research  1619-4500  1614-2411
1  Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
2                             Accounting and Finance  0810-5391  1467-629X
3           Accounting Economics and Law-A Convivium  2194-6051  2152-2820
4                                  ACCOUNTING REVIEW  0001-4826  1558-7967

                         Tytuł 2      issn2    e-issn2  Punkty
0                            4OR  1619-4500  1614-2411    70.0
1                         Abacus  0001-3072        NaN    70.0
2         Accounting and Finance  0810-5391        NaN    70.0
3  Accounting, Economics and Law        NaN  2152-2820    70.0
4              Accounting Review  0001-4826        NaN   200.0
Actual Column Names in Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx: ['Lp.', ' Unikatowy Identyfikator Czasopisma', 'Tytuł 1', 'issn', 'e-issn', 'Tytuł 2', 'issn2', 'e-issn2', 'Punkty', 101, 102, 103, 104, 105, 106, 107, 201, 202, 203, 204, 205, 206, 207, 208, 209, 301, 302, 303, 304, 401, 402, 403, 404, 405, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 601, 602, 603, 604, 605, 606, 607, 701]
Selected Data for Wykaz_dyscyplin_do_czasopism_i_materiałów_konferencyjnych Feb 2021.xlsx:
                                             Tytuł 1       issn     e-issn  \
0     4OR-A Quarterly Journal of Operations Research  1619-4500  1614-2411
1  Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
2                             Accounting and Finance  0810-5391  1467-629X
3           Accounting Economics and Law-A Convivium  2194-6051  2152-2820
4                                  ACCOUNTING REVIEW  0001-4826  1558-7967

                         Tytuł 2      issn2    e-issn2  Punkty
0                            4OR  1619-4500  1614-2411    70.0
1                         Abacus  0001-3072        NaN    70.0
2         Accounting and Finance  0810-5391        NaN    70.0
3  Accounting, Economics and Law        NaN  2152-2820    70.0
4              Accounting Review  0001-4826        NaN   200.0
Wykaz DataFrame:
                                              Tytuł 1       issn     e-issn  \
9      4OR-A Quarterly Journal of Operations Research  1619-4500  1614-2411
22  Abacus-A Journal of Accounting Finance and Bus...  0001-3072  1467-6281
54                             Accounting and Finance  0810-5391  1467-629X
56           Accounting Economics and Law-A Convivium  2194-6051  2152-2820
67                                  ACCOUNTING REVIEW  0001-4826  1558-7967

                          Tytuł 2      issn2    e-issn2 Punkty
9                             4OR  1619-4500  1614-2411     70
22                         Abacus  0001-3072        NaN     70
54         Accounting and Finance  0810-5391        NaN     70
56  Accounting, Economics and Law        NaN  2152-2820     70
67              Accounting Review  0001-4826        NaN    200

In [109]:
wykaz_df

,Tytuł 1,issn,e-issn,Tytuł 2,issn2,e-issn2,Punkty
9,4OR-A Quarterly Journal of Operations Research,1619-4500,1614-2411,4OR,1619-4500,1614-2411,70
22,Abacus-A Journal of Accounting Finance and Bus...,0001-3072,1467-6281,Abacus,0001-3072,NaN,70
54,Accounting and Finance,0810-5391,1467-629X,Accounting and Finance,0810-5391,NaN,70
56,Accounting Economics and Law-A Convivium,2194-6051,2152-2820,"Accounting, Economics and Law",NaN,2152-2820,70
67,ACCOUNTING REVIEW,0001-4826,1558-7967,Accounting Review,0001-4826,NaN,200
...,...,...,...,...,...,...,...
3765,International Journal of Contemporary Management,2449-8920,2449-8939,International Journal of Contemporary Management,NaN,NaN,20.0
3855,NaN,NaN,NaN,Production Engineering Archives,2353-5156,2353-7779,20.0
3866,Internetowy Kwartalnik Antymonopolowy i Regula...,2299-8837,2299-5749,Internet Quarterly on Antitrust and Regulation,NaN,NaN,20.0
3867,Humanum. MIędzynarodowe Studia Społeczno-Human...,1898-8431,2450-0313,Humanum. International Social and Humanities S...,NaN,NaN,20.0
3868,Problemy Jakości,0137-8651,2449-9862,Problems of Quality,NaN,NaN,20.0